<script>
              if (typeof BSS_PL == 'undefined') {
                  var BSS_PL = {};
              }
              var bssPlApiServer = "https://product-labels-pro.bsscommerce.com";
              BSS_PL.customerTags = {% if customer %}'{%for tag in customer.tags%}{{ tag }},{% endfor %}'{% else %}'null'{% endif %};
              BSS_PL.configData = [{"name":"PRE-OWNED","priority":0,"img_url":"","pages":"2,3,4,7","enable_allowed_countries":false,"locations":"","position":0,"fixed_percent":0,"width":90,"height":10,"product_type":0,"product":"6637905543347,6637905641651,6637913473203,6637905674419,6637905871027,6637913669811,6637906428083,6637906591923,6672334651571,6637906493619","collection":"","inventory":0,"tags":"","enable_visibility_date":false,"from_date":null,"to_date":null,"enable_discount_range":false,"discount_type":1,"discount_from":null,"discount_to":null,"public_img_url":"","label_text":"PRE-OWNED","label_text_color":"#5a924f","label_text_font_size":10,"label_text_background_color":"#ffffff","label_text_no_image":1,"label_text_in_stock":"In Stock","label_text_out_stock":"Sold out","label_shadow":1,"label_opacity":70,"label_border_radius":100,"label_text_style":0,"label_shadow_color":"#5a924f","label_text_enable":1,"related_product_tag":null,"customer_tags":null,"customer_type":"allcustomers","label_on_image":"2","first_image_tags":null,"label_type":1,"badge_type":0,"custom_selector":null,"margin_top":2,"margin_bottom":0,"mobile_config_label_enable":0,"mobile_height_label":null,"mobile_width_label":null,"mobile_font_size_label":null,"label_text_id":25866,"emoji":",128690,","emoji_position":",62.5% 16.0714%,","transparent_background":"0","custom_page":null,"check_custom_page":null,"label_unlimited_top":33,"label_unlimited_left":33,"label_unlimited_width":30,"label_unlimited_height":30,"margin_left":2,"instock":null,"enable_price_range":0,"price_range_from":null,"price_range_to":null,"enable_product_publish":0,"product_publish_from":null,"product_publish_to":null,"enable_countdown_timer":0,"option_format_countdown":0,"countdown_time":null,"option_end_countdown":null,"start_day_countdown":null,"public_url_s3":""}];
              BSS_PL.storeId = 15231;
              BSS_PL.currentPlan = "false";
              BSS_PL.storeIdCustomOld = "10678";
              BSS_PL.storeIdOldWIthPriority = "12200";
              </script>
          <style>
.homepage-slideshow .slick-slide .bss_pl_img {
    visibility: hidden !important;
}
</style>