{% style %}
{%- assign main_font = settings.main_font -%}
{%- assign nav_font = settings.nav_font -%}
{%- assign heading_font = settings.heading_font -%}
  :root {
    --main-family: {{ main_font.family }};
    --main-weight: {{ main_font.weight }};
    --nav-family: {{ nav_font.family }};
    --nav-weight: {{ nav_font.weight }};
    --heading-family: {{ heading_font.family }};
    --heading-weight: {{ heading_font.weight }};

    --font-size: {{ settings.font_size }}px;
    --h1-size: {{ settings.h1_size }}px;
    --h2-size: {{ settings.h2_size }}px;
    --h3-size: {{ settings.h3_size }}px;
    --h4-size: {{ settings.h4_size }}px;
    --h5-size: {{ settings.h5_size }}px;
    --nav-size: {{ settings.nav_size }}px;

    --section-title-border: {{ settings.section_title_border }};
    --heading-border-weight: {{ settings.heading_border_weight }};

    --announcement-bar-background: {{ settings.announcement_bar_background }};
    --announcement-bar-text-color: {{ settings.announcement_bar_text_color }};
    --top-bar-links: {{ settings.top_bar_links }};
    --top-bar-links-hover: {{ settings.top_bar_links_hover }};
    --top-bar-links-bg-hover: {{ settings.top_bar_links_bg_hover }};
    --top-bar-links-active: {{ settings.top_bar_links_active }};
    --top-bar-links-bg-active: {{ settings.top_bar_links_bg_active }};
    --header-wrapper-background: {{ settings.header_wrapper_background }};
    --logo-color: {{ settings.logo_color }};
    --header-text-color: {{ settings.header_text_color }};
    --header-text-color-dark: {{ settings.header_text_color | color_darken: 30 }};
    --navigation: {{ settings.navigation }};
    --nav-color: {{ settings.nav_color }};
    --nav-hover-color: {{ settings.nav_hover_color }};
    --nav-hover-link-color: {{ settings.nav_hover_link_color }};
    --nav-dropdown-color: {{ settings.nav_dropdown_color }};
    --dropdown-background-color: {{ settings.dropdown_background_color }};
    --dropdown-hover-link-color: {{ settings.dropdown_hover_link_color }};
    --nav-border-color: {{ settings.nav_border_color }};
    --background: {{ settings.background }};
    --heading-color: {{ settings.heading_color }};
    --text-color: {{ settings.text_color }};
    --link-color: {{ settings.link_color }};
    --dotted-color: {{ settings.dotted_color }};
    --sale-color: {{ settings.sale_color }};
    --accent-color: {{ settings.accent_color }};
    --button-color: {{ settings.button_color }};
    --button-text: {{ settings.button_text }};
    --button-hover: {{ settings.button_hover }};
    --button-hover-text: {{ settings.button_hover_text }};
    --secondary-button-color: {{ settings.secondary_button_color }};
    --secondary-button-text: {{ settings.secondary_button_text }};
    --secondary-button-hover: {{ settings.secondary_button_hover }};
    --secondary-button-hover-text: {{ settings.secondary_button_hover_text }};
    --directional-background: {{ settings.directional_background }};
    --directional-hover-background: {{ settings.directional_hover_background }};
    --directional-color: {{ settings.directional_color }};
    --directional-hover-color: {{ settings.directional_hover_color }};
    --accordion-header-bg: {{ settings.accordion_header_bg }};
    --accordion-header-text: {{ settings.accordion_header_text }};
    --accordion-content-text: {{ settings.accordion_content_text }};
    --swatch-color: {{ settings.swatch_color }};
    --swatch-background: {{ settings.swatch_background }};
    --swatch-border: {{ settings.swatch_border }};
    --swatch-selected-color: {{ settings.swatch_selected_color }};
    --swatch-selected-background: {{ settings.swatch_selected_background }};
    --swatch-selected-border: {{ settings.swatch_selected_border }};
    --footer-background: {{ settings.footer_background }};
    --footer-border-color: {{ settings.footer_border_color }};
    --footer-header-color: {{ settings.footer_header_color }};
    --footer-text-color: {{ settings.footer_text_color }};
    --icon-color: {{ settings.icon_color }};


    --error-msg-dark: #e81000;
    --error-msg-light: {{ '#e81000' | color_lighten: 50 }};
    --success-msg-dark: #007f5f;
    --success-msg-light: {{ '#007f5f' | color_lighten: 70 }};
  }
{% endstyle %}
