{% if block.type == 'filter' %}
<div class="filter-wrapper">
  {% assign tags = block.settings.filter_by  | replace: ' ,', ',' | replace: ', ', ',' | split: ',' %}
  <input id="styled-select-trigger" class="visually-hidden filter-control" type="checkbox" value="enabled-SORT">
  <label for="styled-select-trigger" id="filter-{{ forloop.index0 }}" data-id="filter-{{ forloop.index0 }}"  class="main-label">
    {{ block.settings.filter_by_title }}
    <svg width="12px" height="8px" viewBox="0 0 12 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Collections-+-Pagination-&amp;-Breadcrumbs" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Desk---Collections" transform="translate(-654.000000, -1670.000000)" stroke="#353535">
                <g id="Pagination-1" transform="translate(640.000000, 1660.000000)">
                    <polyline id="Previous-Icon" points="25 10 15 20 25 30"></polyline>
                </g>
            </g>
        </g>
    </svg>
  </label>
  <ul class="styled-select coll-filter" style="display: none;">
    {% assign filter_type = block.settings.filter_by_title | handleize %}
    {% for tag in tags %}
      {% if current_tags contains tag %}
        <li class="current">
          {{ tag | link_to_remove_tag: tag }}
          <svg width="11px" height="9px" viewBox="0 0 11 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Collections-Page" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Desk---Collections---Top-Filters" transform="translate(-250.000000, -308.000000)" fill="#353535" fill-rule="nonzero">
                      <g id="Filters-and-Sorting" transform="translate(108.000000, 248.000000)">
                          <g id="Category-Dropdown" transform="translate(0.000000, 40.000000)">
                              <polygon id="Path" points="142.724138 23.5 142 24.1896552 145.695402 28.0698276 152.724138 20.6896552 152 20 145.695402 26.6198276"></polygon>
                          </g>
                      </g>
                  </g>
              </g>
          </svg>
        </li>
      {% elsif collection.all_tags contains tag %}
        <li>{{ tag | link_to_add_tag: tag }}</li>
      {% endif %}
    {% endfor %}
  </ul>
  <script>
  (function collectionFilters() {
    const collFilters = document.querySelectorAll('.coll-filter');
    if (collFilters.length > 0) {
      collFilters.forEach((collFilter) => {
        collFilter.addEventListener('change', function(){
          var newTags = [];
          collFilters.forEach((collFilter) => {
            for(var i = 0; i <= collFilter.length-1; i++){
              if(collFilter[i].selected == true && collFilter[i].value != "") {
                newTags.push(collFilter[i].value);
              }
            }
          });
          if (newTags.length) {
            var query = newTags.join('+');
            window.location.href = '/collections/{{ collection.handle }}/' + query;
          }
          else {
            {% if collection.handle %}
            window.location.href = '/collections/{{ collection.handle }}';
            {% elsif collection.products.first.type == collection.title %}
            window.location.href = '{{ collection.title | url_for_type }}';
            {% elsif collection.products.first.vendor == collection.title %}
            window.location.href = '{{ collection.title | url_for_vendor }}';
            {% endif %}
          }
        });
      });
    }
  })();
  </script>
</div>
{% endif %}
