{% comment %}

  This snippet provides the default handlebars.js templates for
  the ajaxify cart plugin. Use the raw liquid tags to keep the
  handlebar.js template tags as available hooks.

{% endcomment %}
  <script id="cartTemplate" type="text/template">
  {% raw %}
    <form action="{% endraw %}{{ routes.cart_url }}{% raw %}" method="post" class="cart-form" novalidate>
      <div class="ajaxifyCart--products">
        {% endraw %}{% capture count %}
         <span class="cart-count-ajax">{% raw %}{{ count }}{% endraw %}</span>
        {% endcapture %}{% raw %}
        {% endraw %}<p class="modal-cart-count"><strong>{{ 'cart.general.items_cart_html' | t: cart_count: count }}</strong> {{ 'cart.general.in_shopping_cart' | t }}</p>{% raw %}
      {{#items}}
        <div class="ajaxifyCart--product">
          <div class="ajaxifyCart--row" data-line="{{line}}">
              <div class="cart-item">
                <div class="grid-item cart-image">
                  <a href="{{url}}" class="ajaxCart--product-image"><img src="{{img}}" alt=""></a>
                </div>
                <div class="grid-item cart-info">
                  <a href="{{url}}" class="h4">{{name}}</a>
                  {{#if variation}}
                   <p>{{variation}}</p>
                  {{/if}}
                  {{#if sellingPlanAllocation}}
                   <p>{{ sellingPlanAllocationName }}</p>
                  {{/if}}
                  {{#properties}}
                    {{#each this}}
                      {{#if this}}
                        <span class="ajaxcart__product-meta">{{@key}}: {{this}}</span>
                      {{/if}}
                    {{/each}}
                  {{/properties}}
                </div>
                <div class="grid-item cart-other">
                  <div class="cart-discounts">

                 <span class="mini-cart-item-qty">{{itemQty}} x </span>
                 {{#if discountsApplied}}
                    <span class="visually-hidden">{% endraw %}{{ 'products.general.sale_price' | t }}{% raw %}</span>
                    <span class="ajaxcart__price onsale money">{{{discountedPrice}}}</span>
                    <span class="visually-hidden">{% endraw %}{{ 'products.general.regular_price' | t }}{% raw %}</span>
                    <del class="ajaxcart__price">{{{price}}}</del>
                  {{else}}
                    <span class="ajaxcart__price money">{{{price}}}</span>
                  {{/if}}
                  <span {{#unless unitPriceMeasurement}}class="hide"{{/unless}} data-unit-price-group>
                    <dt>
                      <span class="visually-hidden visually-hidden--inline">{% endraw %}{{ 'products.product.unit_price_label' | t }}{% raw %}</span>
                    </dt>
                    <dd>
                      <span class="price-unit-price">
                        <span data-unit-price>{{unitPrice}}</span>
                        <span aria-hidden="true">/</span><span class="visually-hidden">{% endraw %}{{ 'general.accessibility.unit_price_separator' | t }}{% raw %}&nbsp;</span>
                        <span data-unit-price-base-unit>
                          {{#if showUnitReferenceValue}}
                          {{unitReferenceValue}}
                          {{/if}}
                          {{unitPriceBaseUnit}}
                        </span>
                      </span>
                    </dd>
                  </span>

                   <p class="remove">
                     <small><a href="{{ routes.cart_url }}/change?line={{line}}&amp;quantity=0" class="ajaxifyCart--remove" data-line="{{line}}">
                       <svg width="10px" height="8px" viewBox="0 0 10 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                           <g id="Hover-Mini-Cart" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
                               <g id="Hover-Mini-Cart---with-discounts" transform="translate(-1389.000000, -111.000000)" stroke="#5A5F66">
                                   <g id="Hover-Cart---Light-Copy" transform="translate(1041.000000, 40.000000)">
                                       <g id="X---delete-item" transform="translate(353.000000, 75.000000) rotate(-45.000000) translate(-353.000000, -75.000000) translate(348.000000, 70.000000)">
                                           <path d="M5,0 L5,10" id="Line"></path>
                                           <path d="M10,5 L0,5" id="Line-Copy"></path>
                                       </g>
                                   </g>
                               </g>
                           </g>
                       </svg>
                     </a></small>
                   </p>
                 </div>
              </div>
            </div>
          </div>
        </div>
        {{/items}}
      </div>
      <div class="cart-summary ajaxifyCart--row no_border text-right medium-down--text-center">

        {% endraw %}{% if settings.cart_notes_enable %}{% raw %}
        <div class="spec-instructions">
        <label for="CartSpecialInstructions">{% endraw %}{{ 'cart.general.note' | t }}{% raw %}</label>
        <textarea name="note" class="input-full" id="CartSpecialInstructions">{{ note }}</textarea>
        </div>
        {% endraw %}{% endif %}{% raw %}

        <div class="subtotal">
          <p class="title">{% endraw %}{{ 'cart.general.subtotal' | t }}{% raw %}</p>
          <p class="subtotal-price"><span class="cart-original-total money">{{{subTotalPrice}}}</span></p>
        </div>
        <div class="discounts">
          {{#if cartDiscountsApplied}}
            <p class="discount-label">{% endraw %}{{ 'cart.general.discounts' | t }}{% raw %}</p>
            <ul class="discount-list">
             {{#each cartDiscounts}}
                <li><i class="fa fa-tag"></i> (-{{{ this.formattedAmount }}})</li>
             {{/each}}
            </ul>
           {{/if}}
           {{#if cartTotalSavings}}
             <p class="discount-label onsale"><em>{% endraw %}{{ 'cart.general.savings' | t }}{% raw %}</em></p>
             <p class="cart-savings-amount onsale"><em>{{cartTotalDiscounts}}</em></p>
           {{/if}}
        </div>
        <div class="total">
          <p class="title">{% endraw %}{{ 'cart.general.total' | t }}{% raw %}</p>
          <p class="total-price"><span class="cart-original-total money">{{totalPrice}}</span>
          <span class="cart-total"></span></p>
        </div>
        <div class="buttons">
          <a class="secondary-button button" href="{% endraw %}{{ routes.cart_url }}{% raw %}">{% endraw %}{{ 'cart.general.view_cart' | t }}{% raw %}</a>
        </div>
      </div>
    </form>
  {% endraw %}
  </script>
  <script id="miniCartTemplate" type="text/template">
  {% raw %}
    <div id="ajaxifyMini" class="ajaxify-mini">
      <div id="ajaxifyCart" class="ajaxifyCart--content"></div>
    </div>
  {% endraw %}
  </script>
  <script id="ajaxifyQty" type="text/template">
  {% raw %}
    <div class="ajaxifyCart--qty">
      <input type="text" class="ajaxifyCart--num" value="{{itemQty}}" data-id="{{key}}" min="0" data-line="{{line}}" aria-label="quantity" pattern="[0-9]*">
      <span class="ajaxifyCart--qty-adjuster ajaxifyCart--add" data-id="{{key}}" data-line="{{line}}" data-qty="{{itemAdd}}">+</span>
      <span class="ajaxifyCart--qty-adjuster ajaxifyCart--minus" data-id="{{key}}" data-line="{{line}}" data-qty="{{itemMinus}}">-</span>
    </div>
  {% endraw %}
  </script>
  <script id="jsQty" type="text/template">
  {% raw %}
    <div class="js-qty">
      <input type="text" class="js--num" value="{{itemQty}}" min="1" data-id="{{key}}" aria-label="quantity" pattern="[0-9]*" name="{{inputName}}" id="{{inputId}}">
      <span class="js--qty-adjuster js--add" data-id="{{key}}" data-qty="{{itemAdd}}">+</span>
      <span class="js--qty-adjuster js--minus" data-id="{{key}}" data-qty="{{itemMinus}}">-</span>
    </div>
  {% endraw %}
  </script>
  <script>
  jQuery(function($) {
    ajaxifyShopify.init({
      method: '{{ settings.ajax_cart_method }}',
      wrapperClass: 'site-wrap',
      formSelector: '#AddToCartForm',
      addToCartSelector: '#addToCart',
      cartCountSelector: '.cart-count',
      toggleCartButton: '#cart-link',
      useCartTemplate: false,
      btnClass: 'btn',
      moneyFormat: {{ shop.money_format | json }},
      disableAjaxCart: false,
      enableQtySelectors: false
    });
  });
  </script>
