{% comment %}

  This snippet provides the default handlebars.js templates for
  the ajaxify cart plugin. Use the raw liquid tags to keep the
  handlebar.js template tags as available hooks.

{% endcomment %}
  <script id="cartTemplate" type="text/template">
  {% raw %}
    <form action="{% endraw %}{{ routes.cart_url }}{% raw %}" method="post" class="cart-form" novalidate>
      {% endraw %}{% capture count %}
       <span class="cart-count-ajax">{% raw %}{{ count }}{% endraw %}</span>
      {% endcapture %}{% raw %}
      {% endraw %}<p class="modal-cart-count"><strong>{{ 'cart.general.items_cart_html' | t: cart_count: count }}</strong> {{ 'cart.general.in_shopping_cart' | t }}</p>{% raw %}
      <div class="ajaxifyCart--products">
      {{#items}}
        <div class="ajaxifyCart--product">
          <div class="ajaxifyCart--row" data-line="{{line}}">
              <div class="cart-item">
                <div class="grid-item cart-image">
                  <a href="{{url}}" class="ajaxCart--product-image"><img src="{{img}}" alt=""></a>
                </div>
                <div class="grid-item cart-info">
                  <a href="{{url}}" class="h4">{{name}}</a>
                  {{#if variation}}
                   <p>{{variation}}</p>
                  {{/if}}
                  {{#if sellingPlanAllocation}}
                   <p>{{ sellingPlanAllocationName }}</p>
                  {{/if}}
                  {{#properties}}
                    {{#each this}}
                      {{#if this}}
                        <span class="ajaxcart__product-meta">{{@key}}: {{this}}</span>
                      {{/if}}
                    {{/each}}
                  {{/properties}}
                </div>
                <div class="grid-item cart-quantity">
                  <div class="ajaxifyCart--qty">
                    <input type="text" name="updates[]" class="ajaxifyCart--num" value="{{itemQty}}" min="0" data-line="{{line}}" aria-label="quantity" pattern="[0-9]*">
                    <span class="ajaxifyCart--qty-adjuster ajaxifyCart--add" data-line="{{line}}" data-qty="{{itemAdd}}">+</span>
                    <span class="ajaxifyCart--qty-adjuster ajaxifyCart--minus" data-line="{{line}}" data-qty="{{itemMinus}}">-</span>
                  </div>
                </div>
                <div class="grid-item cart-price">
                 <div class="cart-discounts">
                   {{#if discountsApplied}}
                      <span class="visually-hidden">{% endraw %}{{ 'products.general.sale_price' | t }}{% raw %}</span>
                      <span class="ajaxcart__price onsale money">{{{discountedPrice}}}</span>
                      <span class="visually-hidden">{% endraw %}{{ 'products.general.regular_price' | t }}{% raw %}</span>
                      <del class="ajaxcart__price">{{{price}}}</del>
                    {{else}}
                      <span class="ajaxcart__price money">{{{price}}}</span>
                    {{/if}}
                    <span {{#unless unitPriceMeasurement}}class="hide"{{/unless}} data-unit-price-group>
                      <dt>
                        <span class="visually-hidden visually-hidden--inline">{% endraw %}{{ 'products.product.unit_price_label' | t }}{% raw %}</span>
                      </dt>
                      <dd>
                        <span class="price-unit-price">
                          <span data-unit-price>{{unitPrice}}</span>
                          <span aria-hidden="true">/</span><span class="visually-hidden">{% endraw %}{{ 'general.accessibility.unit_price_separator' | t }}{% raw %}&nbsp;</span>
                          <span data-unit-price-base-unit>
                            {{#if showUnitReferenceValue}}
                            {{unitReferenceValue}}
                            {{/if}}
                            {{unitPriceBaseUnit}}
                          </span>
                        </span>
                      </dd>
                    </span>

                   {{#if discountsApplied}}
                     {{#each discounts}}
                       <p class="onsale"><i class="fa fa-tag"></i> {{ this.discount_application.title }}</p>
                     {{/each}}
                   {{/if}}
                 </div>
                </div>
                 <div class="grid-item cart-remove">
                   <p>
                     <small><a href="{{ routes.cart_url }}/change?line={{line}}&amp;quantity=0" class="ajaxifyCart--remove" data-line="{{line}}">{% endraw %}{{ 'cart.general.remove' | t }}{% raw %}</a></small>
                   </p>
                 </div>
              </div>
          </div>
        </div>
        {{/items}}
      </div>
      <div class="cart-summary ajaxifyCart--row no_border text-right medium-down--text-center">

        {% endraw %}{% if settings.cart_notes_enable %}{% raw %}
        <div class="spec-instructions">
        <label for="CartSpecialInstructions">{% endraw %}{{ 'cart.general.note' | t }}{% raw %}</label>
        <textarea name="note" class="input-full" id="CartSpecialInstructions">{{ note }}</textarea>
        </div>
        {% endraw %}{% endif %}{% raw %}

        <div class="subtotal">
          <p class="title">{% endraw %}{{ 'cart.general.subtotal' | t }}{% raw %}</p>
          <p class="subtotal-price"><span class="cart-original-total money">{{{subTotalPrice}}}</span></p>
        </div>
        <div class="discounts">
          {{#if cartDiscountsApplied}}
            <p class="discount-label">{% endraw %}{{ 'cart.general.discounts' | t }}{% raw %}</p>
            <ul class="discount-list">
             {{#each cartDiscounts}}
                <li><i class="fa fa-tag"></i> (-{{{ this.formattedAmount }}})</li>
             {{/each}}
            </ul>
           {{/if}}
           {{#if cartTotalSavings}}
             <p class="discount-label onsale"><em>{% endraw %}{{ 'cart.general.savings' | t }}{% raw %}</em></p>
             <p class="cart-savings-amount onsale"><em>{{cartTotalDiscounts}}</em></p>
           {{/if}}
        </div>
        <div class="total">
          <p class="title">{% endraw %}{{ 'cart.general.total' | t }}{% raw %}</p>
          <p class="total-price"><span class="cart-original-total money">{{totalPrice}}</span>
          <span class="cart-total"></span></p>
        </div>
        <div class="buttons">
          <a class="secondary-button button" href="{% endraw %}{{ routes.cart_url }}{% raw %}">{% endraw %}{{ 'cart.general.view_cart' | t }}{% raw %}</a>
          <input type="submit" class="{{btnClass}}" name="checkout" value="{% endraw %}{{ 'cart.general.checkout' | t }}{% raw %}">
        </div>
        {% endraw %}{% if additional_checkout_buttons %}
          <div class="additional-checkout-buttons">
            {{ content_for_additional_checkout_buttons }}
          </div>
        {% endif %}{% raw %}
      </div>
    </form>
  {% endraw %}
  </script>
  <script id="modalTemplate" type="text/template">
  {% raw %}
    <div id="ajaxifyModal" class="ajaxify-modal">
      <div id="ajaxifyCart" class="ajaxifyCart--content"></div>
    </div>
  {% endraw %}
  </script>
  <script id="ajaxifyQty" type="text/template">
  {% raw %}
    <div class="ajaxifyCart--qty">
      <input type="text" class="ajaxifyCart--num" value="{{itemQty}}" data-id="{{key}}" min="0" data-line="{{line}}" aria-label="quantity" pattern="[0-9]*">
      <span class="ajaxifyCart--qty-adjuster ajaxifyCart--add" data-id="{{key}}" data-line="{{line}}" data-qty="{{itemAdd}}">+</span>
      <span class="ajaxifyCart--qty-adjuster ajaxifyCart--minus" data-id="{{key}}" data-line="{{line}}" data-qty="{{itemMinus}}">-</span>
    </div>
  {% endraw %}
  </script>
  <script id="jsQty" type="text/template">
  {% raw %}
    <div class="js-qty">
      <input type="text" class="js--num" value="{{itemQty}}" min="1" data-id="{{key}}" aria-label="quantity" pattern="[0-9]*" name="{{inputName}}" id="{{inputId}}">
      <span class="js--qty-adjuster js--add" data-id="{{key}}" data-qty="{{itemAdd}}">+</span>
      <span class="js--qty-adjuster js--minus" data-id="{{key}}" data-qty="{{itemMinus}}">-</span>
    </div>
  {% endraw %}
  </script>
