{% comment %}Used for home page sections only when featured products is chosen but no content has been selected{% endcomment %}

{% unless template contains 'collection' %}<div class="product-loop {{ grid_width }}">{% endunless %}
  {% for i in (1..prod_limit) %}
    {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
    {%- assign placeholder = 'product-' | append: current -%}
    <div class="product-index {{ grid_item_width }} mobile-half">
      <div class="product-index-inner">
        <div class="ci onboard">
          <div class="reveal">
            {{ placeholder | placeholder_svg_tag }}
          </div>
        </div>
      </div>
      <div class="product-info">
        <div class="product-info-inner">
          <span class="product-title">Sample product {{ forloop.index }}</span>
          <div class="price">
            9.99
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% unless template contains 'collection' %}</div>{% endunless %}
