
  <div class="mailing-popup" style="display:none">
    <div id="mailing-popup">
      {% if settings.email_image != blank and settings.popup_image == 'content' %}
        <div class="popup-content-image"></div>
      {% endif %}
      <div id="subscribe_popup">
        <div id="subs-container" class="clearfix">
          {% form 'customer' %}
            <div id="mc_embed_signup" {% if form.posted_successfully? %}class="form-submitted"{% endif %}>
              <div class="before-signup">
                {% if settings.mail_popup_title %}
                  <h3>{{ settings.mail_popup_title }}</h3>
                {% endif %}
                {% if settings.mail_popup_text %}
                  <p>{{ settings.mail_popup_text }}</p>
                {% endif %}
                <input type="hidden" name="contact[tags]" value="prospect, password page">
                <input type="email" name="contact[email]" id="mce-EMAIL" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}">
                <input type="submit" id="mc-embedded-subscribe" value="{{ settings.mail_button_text }}">
                {% if settings.mail_gdpr_text %}
                  <p class="gdpr-text before-signup"><em>{{ settings.mail_gdpr_text }}</em></p>
                {% endif %}
              </div>

              {% if form.posted_successfully? %}
                <script>
                  $.fancybox.open({
                    src  : '#mailing-popup',
                    type : 'inline',
                    baseClass: "subscribe-popup",
                  });
                </script>
                <style>
                  .before-signup { display: none; }
                </style>
                  <h3 class="note-success success">{{ 'general.newsletter_form.confirmation' | t }}</h3>
              {% else %}
                {%- if form.errors -%}
                  <div class="note-error">
                    {{ form.errors | default_errors }}
                  </div>
                {%- endif -%}
              {% endif %}

            </div>
          {% endform %}
        </div>
        <div class="clear"></div>
        <div class="fb-like" data-href="{{ routes.root_url }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
      </div>
    </div>
    <style media="screen">
      .fb-like.fb_iframe_widget {
          text-align: center;
          margin: 0 auto;
          display: inline-block;
          width: 70px !important;
          margin-top: 31px;
      }
      #mailing-popup,
      .subscribe-popup .fancybox-stage {
        height: 654px;
        width: 600px;
        text-align: center;
        overflow: hidden;
        margin: 0 auto;
        background-color: {{ settings.popup_background_color }};
      }
      .subscribe-popup .fancybox-stage {
        top: 10%;
      }
      .subscribe-popup .fancybox-slide {
        overflow: hidden;
        padding: 0 !important;
      }
      .subscribe-popup .fancybox-slide:before {
        margin: 0 !important;
      }
      #subscribe_popup {
        margin: 0 auto;
      }
      #mailing-popup #subscribe_popup h3,
      #mailing-popup #subscribe_popup p {
        color: {{ settings.popup_text_color }};
      }
      #subscribe_popup input#mce-EMAIL {
        color: {{ settings.popup_text_color }};
      }
      #subscribe_popup input#mce-EMAIL::-webkit-input-placeholder { /* WebKit browsers */
        color: {{ settings.popup_text_color }};
      }
      #subscribe_popup input#mce-EMAIL:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: {{ settings.popup_text_color }};
      }
      #subscribe_popup input#mce-EMAIL::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: {{ settings.popup_text_color }};
      }
      #subscribe_popup input#mce-EMAIL:-ms-input-placeholder { /* Internet Explorer 10+ */
        color: {{ settings.popup_text_color }};
      }

      #mailing-popup #subscribe_popup .gdpr-text {
        opacity: 0.9;
        font-size: 14px;
      }
      #mailing-popup #subscribe_popup h3 {
        font-size: {{ settings.popup_h3_size }}px;
      }
      #mailing-popup #subscribe_popup p {
        font-size: {{ settings.popup_subheading_size }}px;
      }
      #mailing-popup #subscribe_popup {
        float: none;
      }
      #mailing-popup h1.success {
        background: white;
        border: 1px solid #eee;
        display: inline-block;
        padding: 10px;
      }
      #mailing-popup h3.success {
        max-width: 400px;
        margin: 10px auto 30px;
      }
      #mailing-popup #mce-EMAIL {
        float: none;
        padding: 0;
        vertical-align: top;
        height: 48px;
        text-align: center;
      }
      #mailing-popup #mc_embed_signup {
        min-width: 400px;
        text-align: center;
      }
      #mailing-popup #mc-embedded-subscribe {
        height: 48px;
        vertical-align: top;
        float: none;
        font-size: 12px;
      }
      #mailing-popup form {
        margin-bottom: 0;
      }
      #form-submitted .before-signup {
        display: none;
      }
      @media screen and (max-width: 740px) {
        #mailing-popup,
        .subscribe-popup .fancybox-stage {
          min-width: 340px !important;
          width: 300px;
          min-height: 360px;
          overflow: hidden !important;
        }
        #mailing-popup #subscribe_popup h3 {
          font-size: 20px;
        }
        #mailing-popup #subscribe_popup p {
          font-size: 14px;
        }
        #mailing-popup .gdpr-text {
          font-size: 12px !important;
          line-height: 14px !important;
        }
        #mailing-popup #mce-EMAIL,
        #mailing-popup #mc-embedded-subscribe {
          display: block;
          width: 250px;
          min-width: 250px;
          text-align: center;
        }
        #mailing-popup #mc_embed_signup {
          width: 260px;
          min-width: 260px;
          margin: 0 auto;
        }
      }
      {% if settings.popup_image == 'content' %}
        #mailing-popup {
          padding: 0 !important;
        }
        #mailing-popup #subscribe_popup {
          padding: 40px;
        }
      {% endif %}
      {% if settings.popup_image == 'background' %}
        #mailing-popup #subscribe_popup {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
        }
      {% endif %}
        #mailing-popup #subscribe_popup .gdpr-text {
          max-width: 420px;
          margin: 15px auto 0;
        }
      {% if settings.email_image != blank and settings.popup_image == 'background' %}
        #mailing-popup {
          background: url({{ settings.email_image | img_url: '1200x'}});
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
        }
      {% else %}
      #mailing-popup .popup-content-image {
        background: url({{ settings.email_image | img_url: '1200x'}});
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
        min-height: 300px;
      }
      {% endif %}
    </style>
  </div>
  <script type="text/javascript">
    if($(window).width() > 500){
      // Fancybox Join our mailing list popup
      $(document).ready(function(){
        var lastFocus;
        function onPopupOpen(){
          // focus on email field
        }
        function onPopupClose(){
          lastFocus.focus();
        }
        function displayPopup(){
          $.fancybox.open({
            src  : '#mailing-popup',
            type : 'inline',
            baseClass: "subscribe-popup",
          });
          Cookies.set('popupShown', 'yes', { expires: 5 });
        }
        setTimeout(function(){
          {% if settings.test_mode == false %}
          var popupShown = Cookies.get('popupShown');
          if(popupShown){
          } else {
          {% endif %}
            lastFocus = document.activeElement;
            displayPopup();
          {% if settings.test_mode == false %}
          }
          {% endif %}
        }, 5000);
      });
    };
  </script>
