{% capture thumbnails %}
  {% if product.media.size > 1 %}
    {% if thumbnail_position == 'bottom' %}
     {% assign style = 'horizontal-carousel' %}
     {% assign width = 'desktop-12' %}
    {% else %}
     {% assign style = 'vertical-carousel' %}
     {% assign width = 'desktop-2' %}
    {% endif %}

    <div id="thumbnails" class="thumb-slider thumbnail-slider custom {{ style }} {{ width }} tablet-1 mobile-hide"
    data-thumbnail-position="{{ thumbnail_position }}">
      <div class="thumb-slider-wrapper" id="thumb-slider-wrapper">
        <ul class="carousel-nav thumb-slider-slides slides product-single__thumbnails-{{ section.id }}">
          {% assign skip_count = product.media.size %}

          {% if skip_count > 3 %}
            {% assign skip_count = 3 %}
          {% endif %}

          {% for media in product.media offset:skip_count %}
            {% assign img_url = media | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
            {% assign skip_count = skip_count | plus: 1 %}

            <li class="{{ media.media_type }}-thumbnail product-single__thumbnails-item carousel-cell {% if forloop.first %}is-nav-selected{% endif %}" data-slide-index="{{ forloop.index0 }}"
            data-image-id="{{ media.id }}" tabindex="0">
              <div class="product-single__thumbnail product-single__thumbnail--{{ section.id }}" data-thumbnail-id="product-template-{{ media.id }}">
                <img class="lazyload lazyload-fade"
                  src="{{ media | img_url: '150x' }}"
                  data-src="{{ img_url }}"
                  data-sizes="auto"
                  data-image-id="{{ media.id }}"
                  alt="{{ media.alt | escape }}">
                <noscript>
                  <img src="{{ media | img_url: '100x' }}" alt="{{ media.alt | escape }}" />
                </noscript>
                {%- if media.media_type == 'video' or media.media_type =='external_video' -%}
                  <div class="thumbnail-icon">
                    {% render 'media-icons', width: '25', icon: 'play' %}
                  </div>
                {%- endif -%}
                {%- if media.media_type == 'model' -%}
                  <div class="thumbnail-icon">
                    {% render 'media-icons', width: '25', icon: '3d-icon' %}
                  </div>
                {%- endif -%}
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}
{% endcapture %}

{% capture slider %}
  {% assign grid_width = "" %}
  {% if product.media.size > 1 and thumbnail_position != 'bottom' %}
   {% assign grid_width = "desktop-10 tablet-5 mobile-3" %}
  {% else %}
   {% assign grid_width = "desktop-12 tablet-6 mobile-3" %}
  {% endif %}
  <div id="slider" class=" {{ grid_width }}">
    <div class="featured-images">
      {% assign count = product.media.size %}
      {% if count > 3 %}
        {% assign count = 3 %}
      {% endif %}

      {% if count > 0 %}
        {% for media in product.media limit:3 %}
          {% if media.media_type == 'video' %} data-product-media-type-video data-enable-video-looping="{{ enable_video_looping }}"{% endif %}
          {% if media.media_type == 'external_video' %} data-product-media-type-video data-enable-video-looping="{{ enable_video_looping }}" data-video-id="{{ media.external_id }}"{% endif %}
          {% if media.media_type == 'model' %} data-product-media-type-model{% endif %}
          <div class="{% if count == 2 %}two-photos{% endif %} {% if count == 3 %}three-photos{% endif %} product-media-container product-media--{{ media.id }} {{ media.media_type }}"
            data-product-single-media-wrapper
            data-thumbnail-id="product-template-{{ media.id }}"
            data-media-id="product-template-{{ media.id }}">
              {% case media.media_type %}
                {% when 'image' %}
                  {% assign img_url = media | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                  <img id="{{ product.id }}" class="product__image lazyload lazyload-fade"
                    src="{{ media | img_url: '800x' }}"
                    data-src="{{ img_url }}"
                    data-sizes="auto"
                    data-zoom-src="{{ media | img_url: '2400x' }}"
                    data-aspectratio="{{ media.preview_image.aspect_ratio }}"
                    alt="{{ media.alt | escape }}">
                  {% if section.settings.click_to_enlarge and template != 'product.quick' %}
                    <a class="zoom_btn" data-fancybox="product-{{ product.id }}" title="click to zoom-in" href="{{ media | img_url: '2400x' }}" itemprop="contentUrl" tabindex="-1">
                      <i class="fa fa-search-plus" aria-hidden="true"></i>
                    </a>
                  {% endif %}
              {% endcase %}
          </div>
        {% endfor %}
      {% endif %}
    </div>
    <ul class="slides product-image-container carousel carousel-main">
      {% for media in product.media offset:count %}
        <li class="{{ media.media_type }}-slide carousel-cell img-{{ skip_count }}" data-image-id="{{ media.id }}" data-slide-index="{{ forloop.index0 }}" tabindex="-1">
          <div class="product-media-container product-media--{{ media.id }} {{ media.media_type }}"
          data-product-single-media-wrapper
          {% if media.media_type == 'video' %} data-product-media-type-video data-enable-video-looping="{{ enable_video_looping }}"{% endif %}
          {% if media.media_type == 'external_video' %} data-product-media-type-video data-enable-video-looping="{{ enable_video_looping }}" data-video-id="{{ media.external_id }}"{% endif %}
          {% if media.media_type == 'model' %} data-product-media-type-model{% endif %}
          data-thumbnail-id="product-template-{{ media.id }}"
          data-media-id="product-template-{{ media.id }}">
            {% case media.media_type %}
              {% when 'image' %}
                {% assign img_url = media | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                <img id="{{ product.id }}" class="product__image lazyload lazyload-fade"
                  src="{{ media | img_url: '800x' }}"
                  data-src="{{ img_url }}"
                  data-sizes="auto"
                  data-zoom-src="{{ media | img_url: '2400x' }}"
                  data-aspectratio="{{ media.preview_image.aspect_ratio }}"
                  alt="{{ media.alt | escape }}">
                {% if section.settings.click_to_enlarge and template != 'product.quick' %}
                  <a class="zoom_btn" data-fancybox="product-{{ product.id }}" title="click to zoom-in" href="{{ media | img_url: '2400x' }}" itemprop="contentUrl" tabindex="-1">
                    <i class="fa fa-search-plus" aria-hidden="true"></i>
                  </a>
                {% endif %}
              {% when 'external_video' %}
                <div class="product-video videoWrapper product-single__media">
                  {{ media | external_video_tag }}
                </div>
              {% when 'video' %}
                {% style %}
                  @media screen and (max-width: 320px) {
                    .product-media--{{ media.id }} .plyr__poster {
                      background-image: url({{ media.preview_image | img_url: '360x'}}) !important;
                    }
                  }
                  @media screen and (min-width: 320px) and (max-width: 780px) {
                    .product-media--{{ media.id }} .plyr__poster {
                      background-image: url({{ media.preview_image | img_url: '900x'}}) !important;
                    }
                  }
                  @media screen and (min-width: 780px) and (max-width: 1080px) {
                    .product-media--{{ media.id }} .plyr__poster {
                      background-image: url({{ media.preview_image | img_url: '1080x'}}) !important;
                    }
                  }
                  @media screen and (min-width: 1080px) {
                    .product-media--{{ media.id }} .plyr__poster {
                      background-image: url({{ media.preview_image | img_url: '2048x'}}) !important;
                    }
                  }
                {% endstyle %}
                <div class="product-video product-single__media">
                  {{ media | video_tag: controls: true, class: 'media-video', image_size: '800x' }}
                </div>
              {% when 'model' %}
                <div class="product-model product-single__media" style="padding-bottom: 100%">
                  {{ media | model_viewer_tag: image_size: '800x', reveal: 'interaction', toggleable: true, data-model-id: media.id}}
                </div>
            {% endcase %}
          </div>
          <noscript>
            <img id="{{ product.id }}" class="product-main-image" src="{{ featured_media | img_url: '800x' }}" alt='{{ media.alt | escape }}'/>
          </noscript>
          {% assign first_3d_model = product.media | where: "media_type", "model" | first %}
          {%- if first_3d_model -%}
            <button
              aria-label="{{ 'products.product.view_in_space_label' | t }}"
              class="media-button product-single__view-in-space"
              data-shopify-xr
              data-shopify-model3d-id="{{ first_3d_model.id }}"
              data-shopify-title="{{ product.title | escape }}"
              data-shopify-xr-hidden
            >
              {% render 'media-icons', width: '25', icon: '3d-icon' %}<span class='product-single__view-in-space-text'>{{ 'products.product.view_in_space' | t }}</span>
            </button>
          {%- endif -%}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endcapture %}

{%- if thumbnail_position == 'left' -%}
  {{ thumbnails }}
{%- endif -%}

{{ slider }}

{%- if thumbnail_position == 'right' or thumbnail_position == 'bottom' -%}
  {{ thumbnails }}
{%- endif -%}
