<div id="shipping-calculator" class="item">
  <div class="shipping-wrapper">
    <p id="address_province_container" style="display:none;">
      <label for="address_province" id="address_province_label" style="display:none;">Province</label>
      <select id="address_province" class="address_form" name="address[province]" data-default="{% if shop.customer_accounts_enabled and customer and customer.default_address.province != '' %}{{ customer.default_address.province }}{% endif %}"></select>
    </p>
    <p>
      <label for="address_country" style="display:none;">{{ 'addresses.country' | t }}</label>
      <select id="address_country" name="address[country]" data-default="{% if shop.customer_accounts_enabled and customer %}{{ customer.default_address.country }}{% elsif section.settings.shipping_calculator_default_country != '' %}{{ section.settings.shipping_calculator_default_country }}{% endif %}">
        <option selected="true" disabled="disabled">{{ 'addresses.country' | t }}</option>
        {{ country_option_tags }}
      </select>
    </p>
    <p>
      <label for="address_zip" style="display:none;">{{ 'addresses.zip' | t }}</label>
      <input type="text" id="address_zip" placeholder="{{ 'addresses.zip' | t }}" name="address[zip]"{% if shop.customer_accounts_enabled and customer %} value="{{ customer.default_address.zip }}"{% endif %} />
    </p>
    <input type="button" class="get-rates btn button" value="{{ 'cart.general.estimate' | t }}" />
  </div>

  <div id="wrapper-response"></div>
</div>
<script id="shipping-calculator-response-template" type="text/x-jquery-tmpl">
  {% raw %}
  <p id="shipping-rates-feedback" class="{% if success %}success note-success{% else %}error note-error{% endif %}">
  {% if success %}
    {% if rates.length > 1 %}
    There are {{ rates.length }} shipping rates available for {{ address }}, starting at {{ rates[0].price | money }}.
    {% else %}
      {% if rates.length == 1 %}
      There is one shipping rate available for {{ address }}.
      {% else %}
      We do not ship to this destination.
      {% endif %}
    {% endif %}
  {% else %}
    {{ errorFeedback }}
  {% endif %}
  </p>
  <ul id="shipping-rates">
    {% for rate in rates %}
    <li>{{ rate.name }} at {{ rate.price | money }}</li>
    {% endfor %}
  </ul>
  {% endraw %}
</script>

{{ "shipping-calculator.js" | asset_url | script_tag }}
{{ "shopify_common.js" | shopify_asset_url | script_tag }}

<script>

Shopify.Cart.ShippingCalculator.show( {
  submitButton: {{ 'cart.general.estimate' | t | json }},
  submitButtonDisabled: {{ 'cart.general.calculating' | t | json }}{% if shop.customer_accounts_enabled and customer %},
  customerIsLoggedIn: true{% endif %},
  moneyFormat: {{ shop.money_with_currency_format | json }}
} );

</script>
