<ul id="cart" class="header__shopping-cart-links-container">
  {% unless section.settings.header_layout == 'search' and section.settings.nav_style == 'full' %}
  <li class="header__shopping-cart-link cart__link-search device-hide">
    <a class="js-search-trigger" href="#"><i class="fa fa-search"></i></a>
  </li>
  {% endunless %}
  {% if shop.customer_accounts_enabled %}
    {% if customer  %}
      <li class="header__shopping-cart-link cart__link-account device-hide">
        <a href="{{ routes.account_url }}">{{ 'customer.account.title' | t }}</a>
      </li>
      <li class="header__shopping-cart-link cart__link-logout device-hide">
        <a href="{{ routes.account_logout_url }}">{{ 'customer.account.logout' | t }}</a>
      </li>
    {% else %}
      <li class="header__shopping-cart-link cart__link-login device-hide">
        <a href="{{ routes.account_login_url }}">{{ 'customer.account.title' | t }}</a>
      </li>
    {% endif %}
  {% endif %}
  {%- if hd_locale_selector -%}
      <li class="header__shopping-cart-link cart__link-lang lang-selector device-hide">
        {%- form 'localization', class: 'selectors-form', data-disclosure-form: '' -%}
          <div class="selectors-form__item">
            <h2 class="visually-hidden" id="lang-heading">
              {{ 'general.language.dropdown_label' | t }}
            </h2>

            <div class="disclosure" data-disclosure-locale>
              <button type="button" class="disclosure__toggle" aria-expanded="false" aria-controls="lang-list" aria-describedby="lang-heading" data-disclosure-toggle>
                {{ form.current_locale.iso_code }}
              </button>
              <ul id="lang-list" class="disclosure-list" data-disclosure-list>
                {% for locale in form.available_locales %}
                  <li class="disclosure-list__item {% if locale.iso_code == form.current_locale.iso_code %}disclosure-list__item--current{% endif %}">
                    <a class="disclosure-list__option" href="#" lang="{{ locale.iso_code }}" {% if locale.iso_code == form.current_locale.iso_code %}aria-current="true"{% endif %} data-value="{{ locale.iso_code }}" data-disclosure-option>
                      {{ locale.endonym_name }}
                    </a>
                  </li>
                {%- endfor -%}
              </ul>
              <input type="hidden" name="locale_code" id="LocaleSelector" value="{{ form.current_locale.iso_code }}" data-disclosure-input/>
            </div>
          </div>
        {%- endform -%}
      </li>
    {%- endif -%}
    {%- if hd_currency_selector -%}
      <li class="header__shopping-cart-link cart__link-curr curr-selector device-hide">
        {%- form 'localization', class: 'selectors-form', data-disclosure-form: '' -%}
          <div class="selectors-form__item">
            <h2 class="visually-hidden" id="currency-heading">
              {{ 'general.currency.dropdown_label' | t }}
            </h2>

            <div class="disclosure" data-disclosure-currency>
              <button type="button" class="disclosure__toggle" aria-expanded="false" aria-controls="currency-list" aria-describedby="currency-heading" data-disclosure-toggle>
                {{ form.current_currency.iso_code }} {%- if form.current_currency.symbol -%}{{ form.current_currency.symbol }}{%- endif -%}
              </button>
              <ul id="currency-list" class="disclosure-list" data-disclosure-list>
                {% for currency in form.available_currencies %}
                  <li class="disclosure-list__item {% if currency.iso_code == form.current_currency.iso_code %}disclosure-list__item--current{% endif %}">
                    <a class="disclosure-list__option" href="#" {% if currency.iso_code == form.current_currency.iso_code %}aria-current="true"{% endif %} data-value="{{ currency.iso_code }}" data-disclosure-option>
                      {{ currency.iso_code }} {%- if currency.symbol -%}{{ currency.symbol }}{%- endif -%}
                    </a>
                  </li>
                {%- endfor -%}
              </ul>
              <input type="hidden" name="currency_code" id="HeaderCurrencySelector" value="{{ form.current_currency.iso_code }}" data-disclosure-input/>
            </div>
          </div>
        {%- endform -%}
      </li>
    {%- endif -%}
  <li {% unless settings.ajax_cart_method == 'page' %}id="cart-link"{% endunless %} class="mini-cart-trigger header__shopping-cart-link cart__link-cart">
    <a class="cart-icon" href="{{ routes.cart_url }}">
      {% if section.settings.cart_icon == 'bag' %}
        <svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Cart-Page" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Mobile-Cart---Sticky-Checkout" class="header__icon--bag" transform="translate(-337.000000, -58.000000)" stroke="#222222">
                    <g id="Mobile-Navbar" transform="translate(0.000000, 40.000000)">
                        <g id="Bag-Icon" transform="translate(338.000000, 19.000000)">
                            <path d="M9,0 C11.209139,0 13,1.790861 13,4 L13,4 L5,4 C5,1.790861 6.790861,0 9,0 Z" id="Combined-Shape"></path>
                            <rect id="Rectangle-Copy-4" x="0" y="4" width="18" height="14" rx="1"></rect>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
      {% else %}
        <svg width="24px" height="22px" viewBox="0 0 24 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="Cart-Page" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Cart-Icon" class="header__icon--cart" transform="translate(-1.000000, 0.000000)">
                  <rect id="Rectangle" x="0" y="0" width="25" height="22"></rect>
                  <polyline id="Path-3" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" points="1 1 4 1.06666667 4.21831531 2.15339177 6.37113186 12.8696341 7 16 22 16"></polyline>
                  <polyline id="Path-7" stroke="#222222" stroke-linejoin="round" points="4 3 24 3 22 13 6 13"></polyline>
                  <circle id="Oval-Copy-2" fill="#222222" cx="10.625" cy="19.625" r="1.625"></circle>
                  <circle id="Oval-Copy-3" fill="#222222" cx="17.625" cy="19.625" r="1.625"></circle>
              </g>
          </g>
        </svg>
      {% endif %}
      <span class="device-hide">{{ 'cart.general.title' | t }}</span> <span class="device-hide cart-count">({{ cart.item_count }})</span>
    </a>
  </li>
  {% if settings.ajax_cart_method == 'mini' %}
   <div id="mini-cart"></div>
  {% endif %}
</ul>
