<div id="social-icons">
  {% if settings.facebook_url != blank %}
    <a href="{{ settings.facebook_url }}">
      <i class="fa fa-facebook"></i>
    </a>
  {% endif %}
  {% if settings.twitter_url != blank %}
    <a href="{{ settings.twitter_url }}">
      <i class="fa fa-twitter"></i>
    </a>
  {% endif %}
  {% if settings.pinterest_url != blank %}
    <a href="{{ settings.pinterest_url }}">
      <i class="fa fa-pinterest"></i>
    </a>
  {% endif %}
  {% if settings.tumblr_url != blank %}
    <a href="{{ settings.tumblr_url }}">
      <i class="fa fa-tumblr"></i>
    </a>
  {% endif %}
  {% if settings.flickr_url != blank %}
    <a href="{{ settings.flickr_url }}">
      <i class="fa fa-flickr"></i>
    </a>
  {% endif %}
  {% if settings.youtube_url != blank %}
    <a href="{{ settings.youtube_url }}">
      <i class="fa fa-youtube"></i>
    </a>
  {% endif %}
  {% if settings.googleplus_url != blank %}
    <a href="{{ settings.googleplus_url }}">
      <i class="fa fa-google-plus"></i>
    </a>
  {% endif %}
  {% if settings.vimeo_url != blank %}
    <a href="{{ settings.vimeo_url }}">
      <i class="fa fa-vimeo-square"></i>
    </a>
  {% endif %}
  {% if settings.linkedin_url != blank %}
    <a href="{{ settings.linkedin_url }}">
      <i class="fa fa-linkedin"></i>
    </a>
  {% endif %}
  {% if settings.instagram_url != blank %}
    <a href="{{ settings.instagram_url }}">
      <i class="fa fa-instagram"></i>
    </a>
  {% endif %}
</div>
