<section class="customer-account">
  <h1 class="desktop-12 tablet-6 mobile-3 account-title">{{ 'customer.account.title' | t }}</h1>
  <div class="sidebar desktop-3 tablet-2 mobile-3">
    <ul class="sidebar-nav">
      <li>
        <a class="account-details selected" onClick="Toggle('account-details')" href="javascript:void(0)">{{ 'customer.account.details' | t }}</a>
      </li>
      <li>
        <a class="order-history" onClick="Toggle('order-history')" href="javascript:void(0)">{{ 'customer.orders.title' | t }}</a>
      </li>
      <li>
        <a class="buyback-points" onClick="Toggle('buyback-points')" href="javascript:void(0)"> {{ 'customer.account.buyback.view_buyback' | t }} </a>
      </li>
      <li>
        <a class="account-addresses" onClick="Toggle('account-addresses')" href="javascript:void(0)">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a>
      </li>
      {% if settings.show_ca_returns and settings.ca_returns_page != blank %}
        <li>
          <a class="return-exchanges" onClick="Toggle('returns-exchanges')" href="javascript:void(0)">{{ 'customer.account.returns_content' | t }}</a>
        </li>
      {% endif %}
      <li>
        <a href="{{ routes.account_logout_url }}">{{ 'customer.account.logout' | t }}</a>
      </li>
    </ul>
  </div>

  <div class="content desktop-9 tablet-4 mobile-3">
      <div id="account-details" class="content-item">
        <h5 class="name">{{ customer.name }}</h5>
        <p class="email note">{{ customer.email }}</p>
        <div class="address note">
          {% if customer.default_address != nil %}
            {{ customer.default_address | format_address }}
          {% endif %}
        </div>
        {% include 'fresh-credit-button' %}
      </div>
      <div id="order-history" class="content-item" style="display:none;">
        {% if customer.orders.size != 0 %}
        <table>
          <thead>
            <tr>
              <th class="order_number">{{ 'customer.orders.order_number' | t }}</th>
              <th class="date">{{ 'customer.orders.date' | t }}</th>
              <th class="payment_status status">{{ 'customer.orders.payment_status' | t }}</th>
              <th class="fulfillment_status status">{{ 'customer.orders.fulfillment_status' | t }}</th>
              <th class="total">{{ 'customer.orders.total' | t }}</th>
            </tr>
          </thead>
          <tbody>
            {% for order in customer.orders %}
            <tr class="{% cycle 'odd', 'even' %} {% if order.cancelled %}cancelled_order{% endif %}">
              <td>{{ order.name | link_to: order.customer_url }}</td>
              <td class="note"><span>{{ order.created_at | date: "%b %d, %Y" }}</span></td>
              <td class="status"><span>{{ order.financial_status }}</span></td>
              <td class="status"><span>{{ order.fulfillment_status }}</span></td>
              <td class="total"><span>{{ order.total_price | money }}</span></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <h5>{{ 'customer.orders.none' | t }}</h5>
        {% endif %}
      </div>
    
      {% comment %} Buyback calculation {% endcomment %}
      <div id="buyback-points" class="content-item" style="display:none;">
        {% if customer.orders.size != 0 %}
          <div class="buyback-options">
            {% for order in customer.orders %}
              {% comment %} Calculate months between now and purchase {% endcomment %}
              {% assign date_created = order.created_at %}
              {% assign date_current = 'now' %}
              {% assign date_current_s = date_current | date: '%s' %}
              {% assign date_created_s = date_created | date: '%s' %}
              {% assign diff_seconds = date_current_s | minus: date_created_s %}
              {% assign diff_days = diff_seconds | divided_by: 60 | divided_by: 60 | divided_by: 24 %}
              {% assign diff_months = diff_days | divided_by: 30 %}
              {% assign months = "" | append: diff_months %} {% comment %} <-- Make months string object {% endcomment %}

              {% comment %} If eligible for buyback, calculate buyback value {% endcomment %}
              
              {% for line_item in order.line_items %}
                {% assign buyback = false %}

                {% for tag in line_item.product.tags%}
                  {% if tag == "buyback" %}
                    {% assign buyback = true %}
                  {% endif %}
                {% endfor %}

                {% if buyback %}
                  <div class="buyback-option">
                    {% comment %} Distinguish between new and used bikes {% endcomment %}
                    {% assign conditie_gebruikt = false %}
                    {% for tag in line_item.product.tags %}
                      {% if tag == "pre-owned" %}
                        {% assign conditie_gebruikt = true %}
                      {% endif %}
                    {% endfor %}

                    {% assign type = line_item.product.type | remove:" " %}
                    {% assign percentage = "1" %}
                    {% assign buyback_price = 0 | money %}

                    {% for bike in shop.metafields.global.bikes %}
                      {% if type == bike.[0] %}
                        {% if conditie_gebruikt %}
                          {% assign percentage = shop.metafields.global.bikes.[type].["gebruikt"].[months] %}
                          {% assign buyback_price = line_item.original_price | times: percentage | money %}
                        {% else %}
                          {% assign percentage = shop.metafields.global.bikes.[type].["nieuw"].[months] %}
                          {% assign buyback_price = line_item.original_price | times: percentage | money %}
                        {% endif %}
                      {% endif %}
                    {% endfor %}

                    <div class="buyback-product-container">
                      <img src="{{ line_item.image | img_url: '800x' }}" alt="{{ article.image.alt }}">
                      <h2 class="product-title">{{ line_item.product.title }}</h2>
                      
                      {% if diff_days > 14 %}
                        <div class="product-info-container">
                          <p class="product-date">{{ 'customer.account.buyback.orderdate' | t }} {{ date_created | date: '%d-%m-%Y' }}</pclass="product-title">
                          <p class="product-price">{{ 'customer.account.buyback.orderprice' | t }} {{ line_item.original_price | money }}</p>
                          <p class="product-price">{{ 'customer.account.buyback.buybackvalue' | t }} {{ buyback_price }}</p>
                        </div>
                      {% endif %}
                    </div>

                    {% if diff_days > 14 %}
                      <p class="buyback-bar-info">{{ 'customer.account.buyback.infotext_before_link' | t }}<a class="faq_link" href="/pages/faq">{{ 'customer.account.buyback.infotext_link' | t }}</a>{{ 'customer.account.buyback.infotext_after_link' | t }}</p>
                      <p class="buyback-duration-info">{{ 'customer.account.buyback.duration_info' | t }}</p>


                      {% comment %} Buyback bar {% endcomment %}
                      {% comment %} Percentage bar die ze toch niet willen 
                      <div class="buyback-bar-container slimme-balk">
                        {% assign witdh_bar = 30 %}
                        {% assign bar_percentage = percentage | times: 100 %}

                        <div price="{{ buyback_price }}" class="buyback-bar {%if bar_percentage > 96 %}rounded{% endif %}" style="--width-bar: {{ bar_percentage }}%"></div>
                      </div>
                      {% endcomment %}

                      <div class="bar-button-container">
                        <div class="buyback-bar-container domme-balk">
                          {% assign witdh_bar = 30 %}
                          {% assign months = diff_months | plus: 1 %}
                          
                          {% if months > 20 %}
                            {% assign months = 20 %}
                          {% endif %}

                          {% assign passed_months_bar = 100.00 | times: months| divided_by: 20 %}
                          <div price="{{ buyback_price }}" class="buyback-bar {%if months == 20 %}rounded{% endif %}" style="--width-bar: {{ passed_months_bar }}%; --price: {{ price_text }};"></div>
                          <div class="buyback-lines">
                            <div class="buyback-line start-line"></div>
                            <div class="buyback-line six-line"></div>
                            <div class="buyback-line twelve-line"></div>
                            <div class="buyback-line eighteen-line"></div>
                            <div class="buyback-line end-line"></div>
                          </div>
                        </div>

                        {% comment %} Buyback form {% endcomment %}
                        <div class="buyback-form">
                          <button onclick="showBuybackForm()">{{ 'customer.account.buyback.start_buyback_button' | t }}</button>
                        </div>
                      </div>

                    {% else %}
                      <p class="buyback-bar-info">
                        {{ 'customer.account.buyback.infotext_less_than_14' | t }} {{ 14 | minus: diff_days }}
                        {% if 14 | minus: diff_days > 1 %}
                          {{ 'customer.account.buyback.infotext_days' | t }}
                        {% else %}
                          {{ 'customer.account.buyback.infotext_day' | t }}
                        {% endif %}
                      </p>
                    {% endif %}
                  </div>
                {% endif %}
              {% endfor %}
            {% endfor %}
            
            <div id="buyback-form-airtable">
              <div id="buyback-form-collapse" style="display: none;">
                <iframe class="airtable-embed" 
                  src="https://airtable.com/embed/shrcGrS5QJdu0daap?backgroundColor=greenLight" 
                  frameborder="0" onmousewheel="" width="100%" height="533" 
                  style="background: transparent; border: 1px solid #ccc;"></iframe>
              </div>
            </div>
            
            {% comment %} Show / hide form functionality {% endcomment %}
            <script>
              function showBuybackForm() {
                var buyback_form = document.getElementById("buyback-form-collapse");
                if (buyback_form.style.display === "none") {
                  buyback_form.style.display = "block";
                  window.location.href="#buyback-form-airtable";
                } else {
                  buyback_form.style.display = "none";
                }
              }
            </script>

          </div>

        {% else %}
          {{ 'customer.account.buyback.no_buyback_purchases' | t }} 
        {% endif %}
      </div>
    
      <div id="account-addresses" class="content-item" style="display: none">
        {% paginate customer.addresses by 12 %}
          <div class="row">
            {% for address in customer.addresses %}
              <div id="view_address_{{address.id}}" class="customer_address desktop-4 tablet-6 mobile-3">
                <h4 class="address_title">
                  {% if address == customer.default_address %}{{ 'customer.addresses.default' | t }}{% endif %}
                </h4>

                <div class="view_address">
                  {{ address | format_address }}
                </div>

                <p class="address_actions">
                  <a data-src="#edit-address" data-fancybox href="javascript:;">{{ 'customer.addresses.edit' | t }}</a>
                  <span class="action_link action_delete">{{ 'customer.addresses.delete' | t | delete_customer_address_link: address.id }}</span>
                </p>

                {% comment %} Edit an Address Popup {% endcomment %}
                <div id="edit-address" class="customer_address edit_address desktop-8 desktop-push-2 tablet-6 mobile-3" style="display:none;">
                  <h4 id="add_address_title">{{ 'customer.addresses.edit_address' | t }}</h4>
                  {% form 'customer_address', address %}
                  <table class="customer_address_table">
                    <tr>
                      <td class="label"><label for="address_first_name_{{form.id}}">{{ 'customer.addresses.first_name' | t }}</label></td>
                      <td class="value"><input type="text" id="address_first_name_{{form.id}}" class="address_form" name="address[first_name]" value="{{form.first_name}}" size="40" /></td>
                    </tr>
                    <tr>
                      <td class="label"><label for="address_last_name_{{form.id}}">{{ 'customer.addresses.last_name' | t }}</label></td>
                      <td class="value"><input type="text" id="address_last_name_{{form.id}}" class="address_form" name="address[last_name]" value="{{form.last_name}}" size="40" /></td>
                    </tr>
                    <tr>
                      <td class="label"><label for="address_company_{{form.id}}">{{ 'customer.addresses.company' | t }}</label></td>
                      <td class="value"><input type="text" id="address_company_{{form.id}}" class="address_form" name="address[company]" value="{{form.company}}" size="40" /></td>
                    </tr>
                    <tr>
                      <td class="label"><label for="address_address1_{{form.id}}">{{ 'customer.addresses.address1' | t }}</label></td>
                      <td class="value"><input type="text" id="address_address1_{{form.id}}" class="address_form" name="address[address1]" value="{{form.address1}}" size="40" /></td>
                    </tr>
                    <tr>
                      <td class="label"><label for="address_address2_{{form.id}}">{{ 'customer.addresses.address2' | t }}</label></td>
                      <td class="value"><input type="text" id="address_address2_{{form.id}}" class="address_form" name="address[address2]" value="{{form.address2}}" size="40" /></td>
                    </tr>
                    <tr>
                      <td class="label"><label for="address_city_{{form.id}}">{{ 'customer.addresses.city' | t }}</label></td>
                      <td class="value"><input type="text" id="address_city_{{form.id}}" class="address_form" name="address[city]" value="{{form.city}}" size="40" /></td>
                    </tr>
                    <tr>
                      <td class="label"><label for="address_country_{{form.id}}">{{ 'customer.addresses.country' | t }}</label></td>
                      <td class="value">
                        <select id="address_country_{{form.id}}" name="address[country]" data-default="{{form.country}}">{{ country_option_tags }}</select>
                      </td>
                    </tr>
                    <tr id="address_province_container_{{form.id}}" style="display:none">
                      <td class="label"><label for="address_province_{{form.id}}">{{ 'customer.addresses.province' | t }}</label></td>
                      <td class="value"><select id="address_province_{{form.id}}" class="address_form" name="address[province]" data-default="{{form.province}}"></select></td>
                    </tr>
                    <tr>
                      <td class="label"><label for="address_zip_{{form.id}}">{{ 'customer.addresses.zip' | t }}</label></td>
                      <td class="value"><input type="text" id="address_zip_{{form.id}}" class="address_form" name="address[zip]" value="{{form.zip}}" size="40" /></td>
                    </tr>
                    <tr>
                      <td class="label"><label for="address_phone_{{form.id}}">{{ 'customer.addresses.phone' | t }}</label></td>
                      <td class="value"><input type="text" id="address_phone_{{form.id}}" class="address_form" name="address[phone]" value="{{form.phone}}" size="40" /></td>
                    </tr>
                    <tr>
                      <td class="label"></td>
                      <td class="value checkbox"><span class="set-default left">{{ form.set_as_default_checkbox }}</span> {{ 'customer.addresses.set_default' | t }}</td>
                    </tr>
                  </table>
                  <div class="action_bottom">
                    <input class="secondary button" type="submit" value="{{ 'customer.addresses.update' | t }}" />
                  </div>
                  {% endform %}
                </div>
              </div>
            {% endfor %}
            {% comment %}Add an Address Popup {% endcomment %}
            <div id="add-address" class="customer_address edit_address desktop-8 mobile-3" style="display:none;">

              {% form 'customer_address', customer.new_address %}

              <h4 id="add_address_title">{{ 'customer.addresses.add_new' | t }}</h4>

              <table class="customer_address_table">
                <tr>
                  <td class="label"><label for="address_first_name_new">{{ 'customer.addresses.first_name' | t }}</label></td>
                  <td class="value"><input type="text" id="address_first_name_new" class="address_form" name="address[first_name]" value="{{form.first_name}}" size="40" /></td>
                </tr>
                <tr>
                  <td class="label"><label for="address_last_name_new">{{ 'customer.addresses.last_name' | t }}</label></td>
                  <td class="value"><input type="text" id="address_last_name_new" class="address_form" name="address[last_name]" value="{{form.last_name}}" size="40" /></td>
                </tr>
                <tr>
                  <td class="label"><label for="address_company_new">{{ 'customer.addresses.company' | t }}</label></td>
                  <td class="value"><input type="text" for="address_company_new" class="address_form" name="address[company]" value="{{form.company}}" size="40" /></td>
                </tr>
                <tr>
                  <td class="label"><label for="address_address1_new">{{ 'customer.addresses.address1' | t }}</label></td>
                  <td class="value"><input type="text" id="address_address1_new" class="address_form" name="address[address1]" value="{{form.address1}}" size="40" /></td>
                </tr>
                <tr>
                  <td class="label"><label for="address_address2_new">{{ 'customer.addresses.address2' | t }}</label></td>
                  <td class="value"><input type="text" id="address_address2_new" class="address_form" name="address[address2]" value="{{form.address2}}" size="40" /></td>
                </tr>
                <tr>
                  <td class="label"><label for="address_city_new">{{ 'customer.addresses.city' | t }}</label></td>
                  <td class="value"><input type="text" id="address_city_new" class="address_form" name="address[city]" value="{{form.city}}" size="40" /></td>
                </tr>
                <tr>
                  <td class="label"><label for="address_country_new">{{ 'customer.addresses.country' | t }}</label></td>
                  <td class="value">
                    <select id="address_country_new" name="address[country]" data-default="{{form.country}}">{{ country_option_tags }}</select>
                  </td>
                </tr>
                <tr id="address_province_container_new" style="display:none">
                  <td class="label"><label for="address_province_new">{{ 'customer.addresses.province' | t }}</label></td>
                  <td class="value">
                    <select id="address_province_new" class="address_form" name="address[province]" data-default="{{form.province}}"></select>
                  </td>
                </tr>
                <tr>
                  <td class="label"><label for="address_zip_new">{{ 'customer.addresses.zip' | t }}</label></td>
                  <td class="value"><input type="text" id="address_zip_new" class="address_form" name="address[zip]" value="{{form.zip}}" size="40" /></td>
                </tr>
                <tr>
                  <td class="label"><label for="address_phone_new">{{ 'customer.addresses.phone' | t }}</label></td>
                  <td class="value"><input type="text" id="address_phone_new" class="address_form" name="address[phone]" value="{{form.phone}}" size="40" /></td>
                </tr>
                <tr>
                  <td class="label"></td>
                  <td class="value checkbox"><span class="set-default left">{{ form.set_as_default_checkbox }}</span> {{ 'customer.addresses.set_default' | t }}</td>
                </tr>
              </table>
              <div class="action_bottom">
                <input class="secondary button" type="submit" value="{{ 'customer.addresses.add' | t }}" />
              </div>
              {% endform %}
            </div>
            <div class="desktop-12 tablet-6 mobile-3">
              <button class="new-address" data-src="#add-address" data-fancybox>{{ 'customer.addresses.add_new' | t }}</button>
              <div id="address_pagination">{{ paginate | default_pagination }}</div>
            </div>
            <script type="text/javascript" charset="utf-8">
              // initialize observers on address selectors
              new Shopify.CountryProvinceSelector('address_country_new', 'address_province_new', {hideElement: 'address_province_container_new'});
              {% for address in customer.addresses %}
                new Shopify.CountryProvinceSelector('address_country_{{address.id}}', 'address_province_{{address.id}}', {hideElement: 'address_province_container_{{address.id}}'});
              {% endfor %}
            </script>
          </div>
        {% endpaginate %}
      </div>
      {% if settings.show_ca_returns and settings.ca_returns_page != blank %}
        <div id="returns-exchanges" class="content-item" style="display:none;">
          {{ pages[settings.ca_returns_page].content }}
        </div>
      {% endif %}
    </div>
  <!-- <button class="btn btn-book" data-url="https://calendly.com/elisa-cordesius/test-event" disabled>Book</button> -->
  
  <script type="text/javascript">

    var list = document.querySelectorAll('.sidebar-nav li a');
    list.forEach((item, i) => {
      item.addEventListener('click', function() {
        document.querySelector('.sidebar-nav .selected').classList.remove('selected');
        this.classList.add('selected');
      }, false);
    });


    // Show Hide Function
    function Toggle(show) {
      var allDivs = $('.content-item');
      $(allDivs).css("display", "none");

      var show = document.getElementById(show);
      show.style.display = 'block';
    }
  </script>
</section>

