<section class="customer-order">
  <div class="desktop-12 tablet-6 mobile-3">
    <a class="return-account" href="{{ routes.account_url }}"><i class="la la-arrow-left"></i>&nbsp;&nbsp;{{ 'customer.account.link' | t }}</a>
    <h1>{{ 'customer.addresses.title' | t }}</h1>
  </div>
  <div id="account-addresses" class="desktop-12 tablet-6 mobile-3">
    {% paginate customer.addresses by 12 %}
      <div class="row">
        {% for address in customer.addresses %}
          <div id="view_address_{{address.id}}" class="customer_address desktop-4 tablet-2 mobile-3">
            <h4 class="address_title">
              {% if address == customer.default_address %}{{ 'customer.addresses.default' | t }}{% endif %}
            </h4>

            <div class="view_address">
              {{ address | format_address }}
            </div>

            <p class="address_actions">
              <a data-src="#edit-address" data-fancybox href="javascript:;">{{ 'customer.addresses.edit' | t }}</a>
              <span class="action_link action_delete">{{ 'customer.addresses.delete' | t | delete_customer_address_link: address.id }}</span>
            </p>

            {% comment %} Edit an Address Popup {% endcomment %}
            <div id="edit-address" class="customer_address edit_address desktop-8 desktop-push-2 tablet-6 mobile-3" style="display:none;">
              <h4 id="add_address_title">{{ 'customer.addresses.edit_address' | t }}</h4>
              {% form 'customer_address', address %}
              <table class="customer_address_table">
                <tr>
                  <td class="label"><label for="address_first_name_{{form.id}}">{{ 'customer.addresses.first_name' | t }}</label></td>
                  <td class="value"><input type="text" id="address_first_name_{{form.id}}" class="address_form" name="address[first_name]" value="{{form.first_name}}" size="40" /></td>
                </tr>
                <tr>
                  <td class="label"><label for="address_last_name_{{form.id}}">{{ 'customer.addresses.last_name' | t }}</label></td>
                  <td class="value"><input type="text" id="address_last_name_{{form.id}}" class="address_form" name="address[last_name]" value="{{form.last_name}}" size="40" /></td>
                </tr>
                <tr>
                  <td class="label"><label for="address_company_{{form.id}}">{{ 'customer.addresses.company' | t }}</label></td>
                  <td class="value"><input type="text" id="address_company_{{form.id}}" class="address_form" name="address[company]" value="{{form.company}}" size="40" /></td>
                </tr>
                <tr>
                  <td class="label"><label for="address_address1_{{form.id}}">{{ 'customer.addresses.address1' | t }}</label></td>
                  <td class="value"><input type="text" id="address_address1_{{form.id}}" class="address_form" name="address[address1]" value="{{form.address1}}" size="40" /></td>
                </tr>
                <tr>
                  <td class="label"><label for="address_address2_{{form.id}}">{{ 'customer.addresses.address2' | t }}</label></td>
                  <td class="value"><input type="text" id="address_address2_{{form.id}}" class="address_form" name="address[address2]" value="{{form.address2}}" size="40" /></td>
                </tr>
                <tr>
                  <td class="label"><label for="address_city_{{form.id}}">{{ 'customer.addresses.city' | t }}</label></td>
                  <td class="value"><input type="text" id="address_city_{{form.id}}" class="address_form" name="address[city]" value="{{form.city}}" size="40" /></td>
                </tr>
                <tr>
                  <td class="label"><label for="address_country_{{form.id}}">{{ 'customer.addresses.country' | t }}</label></td>
                  <td class="value">
                    <select id="address_country_{{form.id}}" name="address[country]" data-default="{{form.country}}">{{ country_option_tags }}</select>
                  </td>
                </tr>
                <tr id="address_province_container_{{form.id}}" style="display:none">
                  <td class="label"><label for="address_province_{{form.id}}">{{ 'customer.addresses.province' | t }}</label></td>
                  <td class="value"><select id="address_province_{{form.id}}" class="address_form" name="address[province]" data-default="{{form.province}}"></select></td>
                </tr>
                <tr>
                  <td class="label"><label for="address_zip_{{form.id}}">{{ 'customer.addresses.zip' | t }}</label></td>
                  <td class="value"><input type="text" id="address_zip_{{form.id}}" class="address_form" name="address[zip]" value="{{form.zip}}" size="40" /></td>
                </tr>
                <tr>
                  <td class="label"><label for="address_phone_{{form.id}}">{{ 'customer.addresses.phone' | t }}</label></td>
                  <td class="value"><input type="text" id="address_phone_{{form.id}}" class="address_form" name="address[phone]" value="{{form.phone}}" size="40" /></td>
                </tr>
                <tr>
                  <td class="label"></td>
                  <td class="value checkbox"><span class="set-default left">{{ form.set_as_default_checkbox }}</span>{{ 'customer.addresses.set_default' | t }}</td>
                </tr>
              </table>
              <div class="action_bottom">
                <input class="secondary button" type="submit" value="{{ 'customer.addresses.update' | t }}" />
              </div>
              {% endform %}
            </div>
          </div>
        {% endfor %}
        {% comment %}Add an Address Popup {% endcomment %}
        <div id="add-address" class="customer_address edit_address desktop-8 mobile-3" style="display:none;">

          {% form 'customer_address', customer.new_address %}

          <h4 id="add_address_title">{{ 'customer.addresses.add_new' | t }}</h4>

          <table class="customer_address_table">
            <tr>
              <td class="label"><label for="address_first_name_new">{{ 'customer.addresses.first_name' | t }}</label></td>
              <td class="value"><input type="text" id="address_first_name_new" class="address_form" name="address[first_name]" value="{{form.first_name}}" size="40" /></td>
            </tr>
            <tr>
              <td class="label"><label for="address_last_name_new">{{ 'customer.addresses.last_name' | t }}</label></td>
              <td class="value"><input type="text" id="address_last_name_new" class="address_form" name="address[last_name]" value="{{form.last_name}}" size="40" /></td>
            </tr>
            <tr>
              <td class="label"><label for="address_company_new">{{ 'customer.addresses.company' | t }}</label></td>
              <td class="value"><input type="text" for="address_company_new" class="address_form" name="address[company]" value="{{form.company}}" size="40" /></td>
            </tr>
            <tr>
              <td class="label"><label for="address_address1_new">{{ 'customer.addresses.address1' | t }}</label></td>
              <td class="value"><input type="text" id="address_address1_new" class="address_form" name="address[address1]" value="{{form.address1}}" size="40" /></td>
            </tr>
            <tr>
              <td class="label"><label for="address_address2_new">{{ 'customer.addresses.address2' | t }}</label></td>
              <td class="value"><input type="text" id="address_address2_new" class="address_form" name="address[address2]" value="{{form.address2}}" size="40" /></td>
            </tr>
            <tr>
              <td class="label"><label for="address_city_new">{{ 'customer.addresses.city' | t }}</label></td>
              <td class="value"><input type="text" id="address_city_new" class="address_form" name="address[city]" value="{{form.city}}" size="40" /></td>
            </tr>
            <tr>
              <td class="label"><label for="address_country_new">{{ 'customer.addresses.country' | t }}</label></td>
              <td class="value">
                <select id="address_country_new" name="address[country]" data-default="{{form.country}}">{{ country_option_tags }}</select>
              </td>
            </tr>
            <tr id="address_province_container_new" style="display:none">
              <td class="label"><label for="address_province_new">{{ 'customer.addresses.province' | t }}</label></td>
              <td class="value">
                <select id="address_province_new" class="address_form" name="address[province]" data-default="{{form.province}}"></select>
              </td>
            </tr>
            <tr>
              <td class="label"><label for="address_zip_new">{{ 'customer.addresses.zip' | t }}</label></td>
              <td class="value"><input type="text" id="address_zip_new" class="address_form" name="address[zip]" value="{{form.zip}}" size="40" /></td>
            </tr>
            <tr>
              <td class="label"><label for="address_phone_new">{{ 'customer.addresses.phone' | t }}</label></td>
              <td class="value"><input type="text" id="address_phone_new" class="address_form" name="address[phone]" value="{{form.phone}}" size="40" /></td>
            </tr>
            <tr>
              <td class="label"></td>
              <td class="value checkbox"><span class="set-default left">{{ form.set_as_default_checkbox }}</span>{{ 'customer.addresses.set_default' | t }}</td>
            </tr>
          </table>
          <div class="action_bottom">
            <input class="secondary button" type="submit" value="{{ 'customer.addresses.add' | t }}" />
          </div>
          {% endform %}
        </div>
        <div class="desktop-12 tablet-6 mobile-3">
          <button class="new-address" data-src="#add-address" data-fancybox>{{ 'customer.addresses.add_new' | t }}</button>
          <div id="address_pagination">{{ paginate | default_pagination }}</div>
        </div>
        <script type="text/javascript" charset="utf-8">
          // initialize observers on address selectors
          new Shopify.CountryProvinceSelector('address_country_new', 'address_province_new', {hideElement: 'address_province_container_new'});
          {% for address in customer.addresses %}
            new Shopify.CountryProvinceSelector('address_country_{{address.id}}', 'address_province_{{address.id}}', {hideElement: 'address_province_container_{{address.id}}'});
          {% endfor %}
        </script>
      </div>
    {% endpaginate %}
  </div>

  <script type="text/javascript" charset="utf-8">
    // initialize observers on address selectors
    new Shopify.CountryProvinceSelector('address_country_new', 'address_province_new', {hideElement: 'address_province_container_new'});
    {% for address in customer.addresses %}
    new Shopify.CountryProvinceSelector('address_country_{{address.id}}', 'address_province_{{address.id}}', {hideElement: 'address_province_container_{{address.id}}'});
    {% endfor %}
  </script>
</section>
