<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en" class="no-js"> <!--<![endif]-->
<head>

{% render 'social-media-tags' %}
{% render 'structured-data' %}

  <!-- Meta -->
  <title>
    {% if template == 'index' %}{% if page_title contains 'Welcome' %}{{ shop.name }} &ndash; Welcome{% else %}{{ page_title }}{% endif %}{% elsif template == '404' %}Page Not Found{% elsif page_title contains shop.name %}{{ page_title }}{% else %}{{ page_title }} {{ shop.name }} &ndash; Ride Your Desire{% endif %}
  </title>
  {% if page_description %}
  <meta name="description" content="{{ page_description }}" />
  {% endif %}
  <link rel="canonical" href="{{ canonical_url }}" />

  <!-- Viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS -->

  {{ 'stylesheet.css' | asset_url | stylesheet_tag }}
  {{ 'queries.css' | asset_url | stylesheet_tag }}

  {% render 'css-variables' %}

  <!--[if lt IE 9]>
	<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- JS -->

  {{ "//code.jquery.com/jquery-3.3.1.min.js" | script_tag }}
  {{ 'eventemitter3.min.js' | asset_url | script_tag }}
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}

  {% if template == 'index' or  template contains 'page.custom-' or template contains 'product.custom-' %}
  {% endif %}

  {{ content_for_header }}

  {% if template contains 'customers' %}
  {{ "shopify_common.js" | shopify_asset_url | script_tag }}
  {{ "customer_area.js"  | shopify_asset_url | script_tag }}
  {% endif %}

  <!-- Favicon -->
  {% if settings.favicon != blank %}
  <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {% endif %}
</head>

<body class="password js-slideout-toggle-wrapper">
  <div class="js-slideout-overlay site-overlay"></div>

  <main class="password-page__wrapper lazyload lazyfade"
    {% if section.settings.background_image %}
    data-bgset="{% render 'bgset', image: section.settings.background_image %}"
    data-sizes="auto"
    {% endif %}>

    {{ content_for_layout }}

  </main>

  <aside class="slideout slideout__drawer-right" data-wau-slideout="password" id="password-slideout">
    <div class="slideout__trigger--close">
      <button class="slideout__trigger-password js-slideout-close" data-slideout-direction="right" aria-label="Close navigation" tabindex="0" type="button" name="button" aria-controls="slideout-password">
        <div class="icn-close"></div>
      </button>
    </div>
    <div class="password-page__login">
      {% form 'storefront_password' %}
        {%- if form.errors -%}
          <div class="note-error">
            {{ form.errors | default_errors }}
          </div>
        {%- endif -%}
        <label for="password">{{ 'password.general.enter_store' | t }}</label>
        <input type="password" name="password" placeholder="{{ 'password.general.password' | t }}">
        <input type="submit" value="{{ 'password.general.enter' | t }}">
      {% endform %}
    </div>
  </aside>

  {% if settings.ajax_cart_method == 'modal' %}
   {% render 'modal-cart-template' %}
   <script>
   jQuery(function($) {
     ajaxifyShopify.init({
       method: '{{ settings.ajax_cart_method }}',
       wrapperClass: 'site-wrap',
       formSelector: '#AddToCartForm',
       addToCartSelector: '#addToCart',
       cartCountSelector: '.cart-count',
       toggleCartButton: '#cart-link',
       useCartTemplate: false,
       btnClass: 'btn',
       moneyFormat: {{ shop.money_format | json }},
       disableAjaxCart: false,
       enableQtySelectors: true
     });
   });
   </script>
  {% endif %}
  {% if settings.ajax_cart_method == 'mini' %}
   {% render 'mini-cart-template' %}
  {% endif %}

  <script>
    window.lazySizesConfig = window.lazySizesConfig || {};
    window.lazySizesConfig.minSize = 360;
  </script>

  <!-- Responsive Images -->
  {{ 'ls.rias.min.js' | asset_url | script_tag }}
  {{ 'ls.bgset.min.js' | asset_url | script_tag }}
  {{ 'lazysizes.min.js' | asset_url | script_tag }}

  <!-- Theme Javascript -->
  {{ 'theme.js' | asset_url | script_tag }}

  <script>
      document.documentElement.className =
         document.documentElement.className.replace("no-js","js");
  </script>

  <!-- Fancybox JS -->
  {{ 'jquery.fancybox.js' | asset_url | script_tag }}

</body>
</html>
