<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta name="facebook-domain-verification" content="uvcanre3mzcyh72fbv68ku4ndp2ipd" />
{{ '//ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js' | script_tag }}

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Establish early connection to external domains -->
  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
  <link rel="preconnect" href="https://fonts.shopify.com" crossorigin>
  <link rel="preconnect" href="https://monorail-edge.shopifysvc.com">
  <link rel="preconnect" href="//ajax.googleapis.com" crossorigin />

  {%- assign main_font = settings.main_font -%}
  {%- assign heading_font = settings.heading_font -%}
  {%- assign nav_font = settings.nav_font -%}
  {%- assign main_font_bold = main_font | font_modify: 'weight', 'bolder' -%}
  {%- assign main_font_italic = main_font | font_modify: 'style', 'italic' -%}
  {%- assign main_font_bold_italic = main_font_bold | font_modify: 'style', 'italic' -%}

  <!-- Preload onDomain stylesheets and script libraries -->
  <link rel="preload" href="{{ 'stylesheet.css' | asset_url }}" as="style">
  <link rel="preload" as="font" href="{{ main_font | font_url }}" type="font/woff2" crossorigin>
  <link rel="preload" as="font" href="{{ nav_font | font_url }}" type="font/woff2" crossorigin>
  <link rel="preload" as="font" href="{{ heading_font | font_url }}" type="font/woff2" crossorigin>
  <link rel="preload" href="{{ 'eventemitter3.min.js' | asset_url }}" as="script">
  <link rel="preload" href="{{ 'theme.js' | asset_url }}" as="script">
  <link rel="preload" href="{{ 'option_selection.js' | shopify_asset_url }}" as="script">
  <link rel="preload" href="{{ 'ls.rias.min.js' | asset_url }}" as="script">
  <link rel="preload" href="{{ 'ls.bgset.min.js' | asset_url }}" as="script">
  <link rel="preload" href="{{ 'lazysizes.min.js' | asset_url }}" as="script">
  <link rel="preload" href="{{ 'jquery.fancybox.js' | asset_url }}" as="script">

  {% if settings.favicon %}<link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />{% endif %}
  <link rel="canonical" href="{{ canonical_url }}" />

  <title>
    {{ page_title }} {% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %} 
  </title>
  {% if page_description %}<meta name="description" content="{{ page_description | escape }}" />{% endif %}

  {% render 'social-media-tags' %}
  {% render 'structured-data' %}
  {% render 'css-variables' %}

  <link rel="stylesheet" href="{{ 'stylesheet.css' | asset_url }}" type="text/css">
  
  <!-- Theme CSS files -->
  <link type="text/css" href="{{ 'style__maintenance.css' | asset_url }}" rel="stylesheet">
  <link type="text/css" href="{{ 'style__styleguide.css' | asset_url }}" rel="stylesheet">
  <link type="text/css" href="{{ 'style__buyback.css' | asset_url }}" rel="stylesheet">
  <link type="text/css" href="{{ 'style__homepage.css' | asset_url }}" rel="stylesheet">
  <link type="text/css" href="{{ 'style__footer.css' | asset_url }}" rel="stylesheet">
  <link type="text/css" href="{{ 'style__account.css' | asset_url }}" rel="stylesheet">
  <link type="text/css" href="{{ 'style__header.css' | asset_url }}" rel="stylesheet">
  <link type="text/css" href="{{ 'style__product.css' | asset_url }}" rel="stylesheet">
  <link type="text/css" href="{{ 'style__register.css' | asset_url }}" rel="stylesheet">

  <!-- End Theme CSS files -->
  

  <style>
    {{ main_font | font_face: font_display: 'swap' }}
    {{ nav_font | font_face: font_display: 'swap' }}
    {{ heading_font | font_face: font_display: 'swap' }}
    {{ main_font_bold | font_face: font_display: 'swap' }}
    {{ main_font_italic | font_face: font_display: 'swap' }}
    {{ main_font_bold_italic | font_face: font_display: 'swap' }}
    </style>

    {% if template contains 'customers' %}
      {{ "shopify_common.js" | shopify_asset_url | script_tag }}
      {{ "customer_area.js"  | shopify_asset_url | script_tag }}
    {% endif %}

    {{ content_for_header }}
  


<!--begin-boost-pfs-filter-css-->
  {% render 'boost-pfs-style' %}
<!--end-boost-pfs-filter-css-->



                  {% include 'bss-product-labels-configs' %}
                    </head>
             

<body class="gridlock {{ template | handleize }} js-slideout-toggle-wrapper">
  
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WTZRX2L"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  
  <div class="js-slideout-overlay site-overlay"></div>

  <aside class="slideout slideout__drawer-left" data-wau-slideout="mobile-navigation" id="slideout-mobile-navigation">
   {% section 'mobile-navigation' %}
  </aside>

  <main class="site-wrap" role="main" data-money-format="{{ shop.money_format }}">
    <div id="wrapper" class="site-wrap__container">
    {% section'header' %}
    {% if template contains 'collection' %}
    {% if collection.description contains '[banner]' %}
    {% capture banner %}{{ collection.handle }}.jpg{% endcapture %}
    <div class="collection-banner">
      <img src="{{ banner | file_url }}" alt="{{ collection.title }}">
    </div>
    {% endif %}
    {% endif %}

    {% if template contains 'index' or template contains 'blog' or template contains 'article' or template contains 'list-collections' or template contains 'page.custom-' or template contains 'product.custom-' or template contains 'collection.custom-' %}
     {{ content_for_layout }}

     {% else %}

     <div id="content" class="row">
       {% render 'breadcrumb' %}
       {{ content_for_layout }}
     </div>
    {% endif %}

      <div class="clear"></div>
    </div> <!-- End wrapper -->
    {% section 'footer' %}
  </main>

  <script src="{{'//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js' }}"></script>
  <script src="{{ 'eventemitter3.min.js' | asset_url }}"></script>
  <script src="{{ 'option_selection.js' | shopify_asset_url }}"></script>

  {% if settings.popup %}
    {% render 'popup' %}
  {% endif %}

  <div class="fancybox-wrapper"></div>

  {% if settings.ajax_cart_method == 'modal' %}
   {% render 'modal-cart-template' %}
   <script>
   jQuery(function($) {
     ajaxifyShopify.init({
       method: '{{ settings.ajax_cart_method }}',
       wrapperClass: 'site-wrap',
       formSelector: '#AddToCartForm',
       addToCartSelector: '#addToCart',
       cartCountSelector: '.cart-count',
       toggleCartButton: '#cart-link',
       useCartTemplate: false,
       btnClass: 'btn',
       moneyFormat: {{ shop.money_format | json }},
       disableAjaxCart: false,
       enableQtySelectors: true
     });
   });
   </script>
  {% endif %}
  {% if settings.ajax_cart_method == 'mini' %}
   {% render 'mini-cart-template' %}
  {% endif %}

  <script>
    window.lazySizesConfig = window.lazySizesConfig || {};
    window.lazySizesConfig.minSize = 360;
  </script>

  <script src="{{ 'ls.rias.min.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'ls.bgset.min.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'lazysizes.min.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'theme.js' | asset_url }}"></script>

  <script>
      document.documentElement.className =
      document.documentElement.className.replace("no-js","js");
  </script>

  <!-- Fancybox JS -->
  {{ 'jquery.fancybox.js' | asset_url | script_tag }}


{% include 'fresh-credit' %}
 
<!--begin-boost-pfs-js-->
  {% render 'boost-pfs' %}
<!--end-boost-pfs-js-->

<script type="text/javascript" async 
 src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=TxkG52"></script>

 <script async type="text/javascript"
 src="//static.klaviyo.com/onsite/js/klaviyo.js?company_id=TxkG52"></script>
<script>
 var _learnq = _learnq || [];
 if ('{{ customer.email }}') {
   _learnq.push(['identify', {
       '$email' : '{{ customer.email }}'
     }]);
  }
</script>


<!-- **BEGIN** Hextom QAB Integration // Main Include - DO NOT MODIFY -->
    {% render 'hextom_qab_main', product: product, customer: customer %}
    <!-- **END** Hextom QAB Integration // Main Include - DO NOT MODIFY -->

{% include 'swymSnippet' %}

{% if content_for_header contains 'product_label' %}{% include 'bss-product-label-js' %}{% endif %}</body>
</html>
