{%- liquid
	assign products_per_page = section.settings.products_per_page
	assign boost_translations = shop.metafields.boostpfs-settings.labelTranslations
	assign current_locale = request.locale.iso_code
	assign primary_locale = current_locale
	for locale in shop.published_locales
		if locale.primary
			assign primary_locale = locale.iso_code
			break
		endif
	endfor
	assign label_toolbar_viewas = boost_translations[current_locale].defaultTheme.toolbarViewAs | default:  boost_translations[primary_locale].defaultTheme.toolbarViewAs | escape
	assign label_items_with_count_one = boost_translations[current_locale].defaultTheme.toolbarProduct | default:  boost_translations[primary_locale].defaultTheme.toolbarProduct | escape
	assign label_items_with_count_other = boost_translations[current_locale].defaultTheme.toolbarProducts | default:  boost_translations[primary_locale].defaultTheme.toolbarProducts | escape
	assign label_sale = boost_translations[current_locale].defaultTheme.productItemSale | default:  boost_translations[primary_locale].defaultTheme.productItemSale | escape
	assign label_soldout = boost_translations[current_locale].defaultTheme.productItemSoldOut | default:  boost_translations[primary_locale].defaultTheme.productItemSoldOut | escape
	assign label_from = boost_translations[current_locale].defaultTheme.productItemFrom | default:  boost_translations[primary_locale].defaultTheme.productItemFrom | escape
    assign products_per_row = section.settings.products_per_row
    assign products_per_row_mobile = section.settings.products_per_row_mobile
    assign show_details_when_hovering = section.settings.show_details_when_hovering
    assign show_vendor = section.settings.show_vendor
    assign show_price = section.settings.show_price
    assign show_sold_out_label = section.settings.show_sold_out_label
    assign show_sale_label = section.settings.show_sale_label
    assign product_label_type = section.settings.product_label_type
    assign product_label_has_border_radius = section.settings.product_label_has_border_radius
    assign active_image_swap = section.settings.active_image_swap
    assign show_sorting = section.settings.show_sorting
    assign show_product_review = section.settings.show_product_review
    assign display_item_swatch = section.settings.display_item_swatch
    assign swatch_color_display_type = section.settings.swatch_color_display_type
    assign swatch_color_event_change_image = section.settings.swatch_color_event_change_image
    assign swatches_color_shape = section.settings.swatches_color_shape
    assign equal_height = section.settings.equal_height
    assign ratio_width_height_other = section.settings.ratio_width_height_other
    assign equal_height_crop_image_position = section.settings.equal_height_crop_image_position
    assign show_label_by_tag = section.settings.show_label_by_tag
    assign show_product_label_image = section.settings.show_product_label_image
    assign product_label_image_sale = section.settings.product_label_image_sale
    assign product_label_image_sold_out = section.settings.product_label_image_sold_out
    assign product_item_type = section.settings.product_item_type
-%}


{%- paginate collection.products by products_per_page -%}


<style>
{% if section.settings.collection_image_text_color != blank %}
.boost-pfs-filter-collection-header-wrapper.boost-pfs-filter-collection-has-image .boost-pfs-filter-collection-description,
.boost-pfs-filter-collection-header-wrapper.boost-pfs-filter-collection-has-image .boost-pfs-filter-collection-description p,
.boost-pfs-filter-collection-header-wrapper.boost-pfs-filter-collection-has-image .boost-pfs-filter-collection-header {
  color: {{ section.settings.collection_image_text_color }};
}
{% endif %}

{% if section.settings.product_item_title_color != blank or section.settings.product_item_title_font_size != blank  %}
.boost-pfs-filter-product-item-title {
  {% if section.settings.product_item_title_color != blank %}
    color: {{ section.settings.product_item_title_color }};
  {% endif %}

  {% if section.settings.product_item_title_font != blank %}
  {% assign product_item_title_font = section.settings.product_item_title_font %}
    font-family: "{{ product_item_title_font.family }}", {{ product_item_title_font.fallback_families }};
    font-weight: {{ product_item_title_font.weight }};
    font-style: {{ product_item_title_font.style }};
  {% endif %}

  {% if section.settings.product_item_title_font_size != blank %}
    font-size: {{ section.settings.product_item_title_font_size }}px;
  {% endif %}
}
{% endif %}

{% if section.settings.product_item_vendor_color != blank or section.settings.product_item_vendor_font_size != blank  %}
.boost-pfs-filter-product-item-vendor {
  {% if section.settings.product_item_vendor_color != blank %}
    color: {{ section.settings.product_item_title_color }};
  {% endif %}

  {% if section.settings.product_item_vendor_font != blank %}
    {% assign product_item_vendor_font = section.settings.product_item_vendor_font %}
    font-family: "{{ product_item_vendor_font.family }}", {{ product_item_vendor_font.fallback_families }};
    font-weight: {{ product_item_vendor_font.weight }};
    font-style: {{ product_item_vendor_font.style }};
  {% endif %}

  {% if section.settings.product_item_vendor_font_size != blank %}
    font-size: {{ section.settings.product_item_vendor_font_size }}px;
  {% endif %}
}
{% endif %}
{% if section.settings.product_item_price_color != blank or section.settings.product_item_price_font_size != blank  %}
.boost-pfs-filter-product-item-price {
  {% if section.settings.product_item_price_color != blank %}
    color: {{ section.settings.product_item_price_color }};
  {% endif %}

  {% if section.settings.product_item_price_font != blank %}
    {% assign product_item_price_font = section.settings.product_item_price_font %}
    font-family: "{{ product_item_price_font.family }}", {{ product_item_price_font.fallback_families }};
    font-weight: {{ product_item_price_font.weight }};
    font-style: {{ product_item_price_font.style }};
  {% endif %}

  {% if section.settings.product_item_price_font_size != blank %}
    font-size: {{ section.settings.product_item_price_font_size }}px;
  {% endif %}
}
{% endif %}

{% if section.settings.product_item_old_price_color != blank %}
.boost-pfs-filter-product-item-price s {
    color: {{ section.settings.product_item_old_price_color }};
}
{% endif %}

{% if section.settings.product_item_sale_price_color != blank %}
.boost-pfs-filter-product-item-price .boost-pfs-filter-product-item-sale-price {
  color: {{ section.settings.product_item_sale_price_color }};
}
{% endif %}

{% if section.settings.product_item_des_color != blank or section.settings.product_item_des_font_size != blank %}
.boost-pfs-filter-product-item-list .boost-pfs-filter-des {
  {% if section.settings.product_item_des_color != blank %}
    color: {{ section.settings.product_item_des_color }};
  {% endif %}

  {% if section.settings.product_item_des_font != blank %}
    {% assign product_item_des_font = section.settings.product_item_des_font %}
    font-family: "{{ product_item_des_font.family }}", {{ product_item_des_font.fallback_families }};
    font-weight: {{ product_item_des_font.weight }};
    font-style: {{ product_item_des_font.style }};
  {% endif %}

  {% if section.settings.product_item_des_font_size != blank %}
    font-size: {{ section.settings.product_item_des_font_size }}px;
  {% endif %}
}
{% endif %}

{% if section.settings.product_item_label_bg_color != blank or section.settings.product_item_label_text_color != blank %}
.boost-pfs-filter-product-item-label .sale,
.boost-pfs-filter-product-item-label .tag {
	color: #ff0;
	{% if section.settings.product_item_label_bg_color != blank %}
	background-color: {{ section.settings.product_item_label_bg_color }};
	{% endif %}

	{% if section.settings.product_item_label_text_color != blank %}
	color: {{ section.settings.product_item_label_text_color }};
	{% endif %}
}
{% endif %}
</style>

{%- comment -%} COLLECTION HEADER {%- endcomment -%}
<div class="boost-pfs-filter-collection-header-wrapper boost-pfs-filter-collection-image {% if section.settings.show_collection_image and collection.image %}boost-pfs-filter-collection-has-image{% endif %}" {% if section.settings.show_collection_image and collection.image %} style="background-image: url({{ collection.image | img_url: '2048x600', crop: 'top' }});" {% endif %}>
	<div class="boost-pfs-container-default">
		<div class="boost-pfs-section-header">
			<h1 class="boost-pfs-filter-collection-header">
				<span role="text">
					{{ collection.title }}
				</span>
			</h1>
			{%- if section.settings.show_collection_des and collection.description != blank -%}
			<div class="boost-pfs-filter-collection-description rte">
				{{ collection.description }}
			</div>
			{%- endif -%}
		</div>
	</div>
</div>
{%- comment -%} END COLLECTION HEADER {%- endcomment -%}
{%- comment -%} TOOLBAR TOP MOBILE {%- endcomment -%}
<div class="boost-pfs-filter-toolbar-top-mobile">
	<div class="boost-pfs-filter-top-sorting boost-pfs-filter-top-sorting-mobile boost-pfs-filter-custom-sorting">{%- include 'boost-pfs-filter-skeleton', type: 'button' -%}</div>
	<div class="boost-pfs-filter-tree-mobile-button">{%- include 'boost-pfs-filter-skeleton', type: 'button' -%}</div>
</div>
{%- comment -%} END TOOLBAR TOP MOBILE {%- endcomment -%}
{%- comment -%} TOOLBAR {%- endcomment -%}
<div class="boost-pfs-filter-default-toolbar">
	<div class="boost-pfs-container-default boost-pfs-filter-default-toolbar-inner">
		<div class="boost-pfs-filter-toolbar-item boost-pfs-filter-toolbar-type">
			<div class="boost-pfs-filter-top-display-type">{%- include 'boost-pfs-filter-skeleton', width: 2 -%}</div>
		</div>
		<div class="boost-pfs-filter-toolbar-item boost-pfs-filter-toolbar-count">
			<span class="boost-pfs-filter-total-product">{%- include 'boost-pfs-filter-skeleton', width: 1 -%}</span>
		</div>
		<div class="boost-pfs-filter-toolbar-item boost-pfs-filter-custom-sorting boost-pfs-filter-top-sorting">{%- include 'boost-pfs-filter-skeleton', width: 1 -%}</div>
	</div>
</div>
{%- comment -%} END TOOLBAR {%- endcomment -%}
<div class="boost-pfs-filter-wrapper-page">
	{% if section.settings.switch_layout_filter == 'switch_layout_filter_horizontal' %}
	<div class="boost-pfs-filter-tree-h-wrapper">
		<div class="boost-pfs-container-default">
			<div class="boost-pfs-filter-tree boost-pfs-filter-tree-h" data-is-desktop>
				{%- include 'boost-pfs-filter-skeleton', type: 'filter-tree-h' -%}
			</div>
		</div>
	</div>
	<div class="boost-pfs-container-default">
		<div class="boost-pfs-filter-refine-by-wrapper-h"></div>
	</div>
	<div class="boost-pfs-container-default">
		<div class="boost-pfs-filter-wrapper">
			<div class="boost-pfs-filter-tree boost-pfs-filter-tree-v" data-is-mobile></div>
			<div class="boost-pfs-filter-products {% if section.settings.show_product_label_image %}boost-pfs-filter-product-item-label-use-img{% endif %} boost-pfs-filter-product-item-label-type-{{ section.settings.product_label_type }} {% if section.settings.product_label_has_border_radius %} boost-pfs-filter-product-item-label-has-border{% endif %} boost-pfs-filter-product-item-show-details-{{ section.settings.show_details_when_hovering }} boost-pfs-filter-product-item-layout-{{ section.settings.product_item_layout }} boost-pfs-filter-product-item-label-{{ section.settings.product_item_label_position }} boost-pfs-filter-product-item-{{ section.settings.swatch_color_display_type }} boost-pfs-filter-swatch-shape-{{ section.settings.swatches_color_shape}} boost-pfs-filter-product-item-text-alignment-{{ section.settings.text_alignment}}" data-bc-sort="{{ collection.default_sort_by }}">
				{%- for product in collection.products -%}
				{%- render 'boost-pfs-filter-product-item',
                    product: product,
					products_per_row: products_per_row,
					products_per_row_mobile: products_per_row_mobile,
					show_details_when_hovering: show_details_when_hovering,
					show_vendor: show_vendor,
					show_price: show_price,
					show_sold_out_label: show_sold_out_label,
					show_sale_label: show_sale_label,
					product_label_type: product_label_type,
					product_label_has_border_radius: product_label_has_border_radius,
					active_image_swap: active_image_swap,
					show_sorting: show_sorting,
					show_product_review: show_product_review,
					display_item_swatch: display_item_swatch,
					swatch_color_display_type: swatch_color_display_type,
					swatch_color_event_change_image: swatch_color_event_change_image,
					swatches_color_shape: swatches_color_shape,
					equal_height: equal_height,
					ratio_width_height_other: ratio_width_height_other,
					equal_height_crop_image_position: equal_height_crop_image_position,
					show_label_by_tag: show_label_by_tag,
					show_product_label_image: show_product_label_image,
					product_label_image_sale: product_label_image_sale,
					product_label_image_sold_out: product_label_image_sold_out,
					product_item_type: product_item_type,
					label_soldout: label_soldout,
					label_sale: label_sale,
					label_from: label_from,
					label_toolbar_viewas: label_toolbar_viewas,
					label_items_with_count_one: label_items_with_count_one,
					label_items_with_count_other: label_items_with_count_other
              	-%}
				{%- endfor -%}
			</div>
			<div class="boost-pfs-filter-bottom-pagination boost-pfs-filter-bottom-pagination-default">
				{%- if paginate.pages > 1 -%}
				{%- include 'boost-pfs-filter-pagination' -%}
				{%- endif -%}
			</div>
			<div class="boost-pfs-filter-load-more"></div>
		</div>
	</div>
	{% else %}
	<div class="boost-pfs-filter-wrapper boost-pfs-container-default">
		<div class="boost-pfs-filter-left-col">
			<div class="boost-pfs-filter-refine-by-wrapper-v"></div>
			<div class="boost-pfs-filter-tree boost-pfs-filter-tree-v">{% include 'boost-pfs-filter-skeleton', type: 'filter-tree' %}</div>
		</div>
		<div class="boost-pfs-filter-right-col">
			<div class="boost-pfs-filter-products {% if section.settings.show_product_label_image %}boost-pfs-filter-product-item-label-use-img{% endif %} boost-pfs-filter-product-item-label-type-{{ section.settings.product_label_type }} {% if section.settings.product_label_has_border_radius %} boost-pfs-filter-product-item-label-has-border{% endif %} boost-pfs-filter-product-item-show-details-{{ section.settings.show_details_when_hovering }} boost-pfs-filter-product-item-layout-{{ section.settings.product_item_layout }} boost-pfs-filter-product-item-label-{{ section.settings.product_item_label_position }} boost-pfs-filter-product-item-{{ section.settings.swatch_color_display_type }} boost-pfs-filter-swatch-shape-{{ section.settings.swatches_color_shape}} boost-pfs-filter-product-item-text-alignment-{{ section.settings.text_alignment}}" data-bc-sort="{{ collection.default_sort_by }}">
				{%- for product in collection.products -%}
				{%- render 'boost-pfs-filter-product-item',
                    product: product,
					products_per_row: products_per_row,
					products_per_row_mobile: products_per_row_mobile,
					show_details_when_hovering: show_details_when_hovering,
					show_vendor: show_vendor,
					show_price: show_price,
					show_sold_out_label: show_sold_out_label,
					show_sale_label: show_sale_label,
					product_label_type: product_label_type,
					product_label_has_border_radius: product_label_has_border_radius,
					active_image_swap: active_image_swap,
					show_sorting: show_sorting,
					show_product_review: show_product_review,
					display_item_swatch: display_item_swatch,
					swatch_color_display_type: swatch_color_display_type,
					swatch_color_event_change_image: swatch_color_event_change_image,
					swatches_color_shape: swatches_color_shape,
					equal_height: equal_height,
					ratio_width_height_other: ratio_width_height_other,
					equal_height_crop_image_position: equal_height_crop_image_position,
					show_label_by_tag: show_label_by_tag,
					show_product_label_image: show_product_label_image,
					product_label_image_sale: product_label_image_sale,
					product_label_image_sold_out: product_label_image_sold_out,
					product_item_type: product_item_type,
					label_soldout: label_soldout,
					label_sale: label_sale,
					label_from: label_from,
					label_toolbar_viewas: label_toolbar_viewas,
					label_items_with_count_one: label_items_with_count_one,
					label_items_with_count_other: label_items_with_count_other
              	-%}
				{%- endfor -%}
			</div>
			<div class="boost-pfs-filter-bottom-pagination boost-pfs-filter-bottom-pagination-default">
				{%- if paginate.pages > 1 -%}
				{%- include 'boost-pfs-filter-pagination' -%}
				{%- endif -%}
			</div>
			<div class="boost-pfs-filter-load-more"></div>
			{% for block in section.blocks %}
				{%- if block.settings.collection == collection.handle -%}
					<div class="collection-description-below">
						<p>{{ block.settings.collection_description }}</p>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
	{% endif %}
	{%- comment -%} start-bc-most-popular-template {%- endcomment -%}
	<div class="boost-pfs-most-popular-products-wrapper boost-pfs-widget-slider-wrapper">
		<div class="boost-pfs-most-popular-products boost-pfs-widget-products owl-carousel"></div>
	</div>
	{%- comment -%} end-bc-most-popular-template {%- endcomment -%}
	{%- comment -%} start-bc-recently-viewed-template {%- endcomment -%}
	<div class="boost-pfs-recent-products-wrapper boost-pfs-widget-slider-wrapper">
		<div class="boost-pfs-recent-products boost-pfs-widget-products owl-carousel"></div>
	</div>
	{%- comment -%} end-bc-recently-viewed-template {%- endcomment -%}
</div>
{%- endpaginate -%}

{%- render 'boost-pfs-theme-config',
	products_per_page: products_per_page,
	products_per_row: products_per_row,
	products_per_row_mobile: products_per_row_mobile,
	show_details_when_hovering: show_details_when_hovering,
	show_vendor: show_vendor,
	show_price: show_price,
	show_sold_out_label: show_sold_out_label,
	show_sale_label: show_sale_label,
	product_label_type: product_label_type,
	product_label_has_border_radius: product_label_has_border_radius,
	active_image_swap: active_image_swap,
	show_sorting: show_sorting,
	show_product_review: show_product_review,
	display_item_swatch: display_item_swatch,
	swatch_color_display_type: swatch_color_display_type,
	swatch_color_event_change_image: swatch_color_event_change_image,
	swatches_color_shape: swatches_color_shape,
	equal_height: equal_height,
	ratio_width_height_other: ratio_width_height_other,
	equal_height_crop_image_position: equal_height_crop_image_position,
	show_label_by_tag: show_label_by_tag,
	show_product_label_image: show_product_label_image,
	product_label_image_sale: product_label_image_sale,
	product_label_image_sold_out: product_label_image_sold_out,
	product_item_type: product_item_type,
	label_soldout: label_soldout,
	label_sale: label_sale,
	label_from: label_from,
	label_toolbar_viewas: label_toolbar_viewas,
	label_items_with_count_one: label_items_with_count_one,
	label_items_with_count_other: label_items_with_count_other
-%}

{% schema %}
 {
	"name": "Collection pages",
	"settings": [
		{
			"type": "header",
			"content": "For Filter"
		},
		{
			"type": "radio",
			"id": "switch_layout_filter",
			"label": "Switch Layout Filter",
			"options": [
			{
				"value": "switch_layout_filter_vertical",
				"label": "Vertical Filter"
			},
			{
				"value": "switch_layout_filter_horizontal",
				"label": "Horizonal Filter"
			}],
			"default": "switch_layout_filter_vertical"
		},

		{
			"type": "header",
			"content": "Collection Image"
		},
		{
			"type": "checkbox",
			"id": "show_collection_image",
			"label": "Show Collection Image",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "show_collection_des",
			"label": "Show Collection Description",
			"default": true
		},
		{
			"type": "color",
			"id": "collection_image_text_color",
			"label": "Collection Header Color"
		},
		{
			"type": "header",
			"content": "Product List"
		},
		{
			"type": "range",
			"id": "products_per_page",
			"label": "Products per page",
			"min": 2,
			"max": 50,
			"step": 1,
			"default": 24
		},
		{
			"type": "range",
			"id": "products_per_row",
			"label": "Products per row on Desktop",
			"min": 2,
			"max": 6,
			"step": 1,
			"default": 3
		},
		{
			"type": "range",
			"id": "products_per_row_mobile",
			"label": "Products per row on Mobile",
			"min": 1,
			"max": 3,
			"step": 1,
			"default": 2
		},
		{
			"type": "header",
			"content": "Product Item"
		},
		{
			"type": "select",
			"id": "product_item_type",
			"label": "Product Item Type",
			"options": [
			{
				"value": "grid",
				"label": "Grid"
			},
			{
				"value": "list",
				"label": "List"
			}],
			"default": "grid"
		},
		{
			"type": "select",
			"id": "product_item_layout",
			"label": "Product Item Layout",
			"options": [
			{
				"value": "no-border",
				"label": "No Border (Default)"
			},
			{
				"value": "border-no-padding",
				"label": "Border No Padding"
			},
			{
				"value": "border-no-padding-img",
				"label": "Border No Padding Image"
			},
			{
				"value": "border-has-padding",
				"label": "Border Has Padding"
			}],
			"default": "no-border",
			"info": "Use this setting for Product type Grid"
		},
		{
			"type": "select",
			"id": "text_alignment",
			"label": "Text alignment",
			"options": [
			{
				"value": "left",
				"label": "Left"
			},
			{
				"value": "center",
				"label": "Center"
			},
			{
				"value": "right",
				"label": "Right"
			}],
			"default": "left"
		},
		{
			"type": "checkbox",
			"id": "show_details_when_hovering",
			"label": "Show details when hovering",
			"default": false
		},
		{
			"type": "checkbox",
			"id": "show_vendor",
			"label": "Show product vendor",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "show_price",
			"label": "Show price",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "active_image_swap",
			"label": "Active image swap",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "show_sorting",
			"label": "Enable collection sorting",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "show_product_review",
			"label": "Show product review",
			"default": false,
			"info": "Use this setting when store has product reviews integration"
		},
		{
			"type": "header",
			"content": "Product Item Label"
		},
		{
			"type": "select",
			"id": "product_item_label_position",
			"label": "Product Label Position",
			"default": "center",
			"options": [
			{
				"value": "top_left",
				"label": "Top Left"
			},
			{
				"value": "top_right",
				"label": "Top Right"
			},
			{
				"value": "bottom_left",
				"label": "Bottom Left"
			},
			{
				"value": "bottom_right",
				"label": "Bottom Right"
			}],
			"default": "top_left"
		},
		{
			"type": "checkbox",
			"id": "show_sold_out_label",
			"label": "Show sold out label",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "show_sale_label",
			"label": "Show sale label",
			"default": true
		},
		{
			"type": "select",
			"id": "product_label_type",
			"label": "Product Label Type",
			"options": [
				{
					"value": "rectangle",
					"label": "Rectangle"
				},
				{
					"value": "circle",
					"label": "Circle"
				}
			],
			"default": "rectangle"
		},
		{
			"type": "checkbox",
			"id": "product_label_has_border_radius",
			"label": "Has Border Radius",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "show_label_by_tag",
			"label": "Enable the Custom Label By Tag",
			"default": false,
			"info": "Please refer [this link](https:\/\/help.boostcommerce.net\/article\/475-how-to-create-custom-label-by-tag-in-the-default-theme) to create a Custom Label By Tag!"
		},
		{
			"type": "color",
			"id": "product_item_label_bg_color",
			"label": "Background Color"
		},
		{
			"type": "color",
			"id": "product_item_label_text_color",
			"label": "Text Color"
		},
		{
			"type": "checkbox",
			"id": "show_product_label_image",
			"label": "Use Product Label Image",
			"default": false
		},
	 	{
      "type": "image_picker",
      "id": "product_label_image_sale",
			"label": "Upload Product Label Sale"
		},
		{
      "type": "image_picker",
      "id": "product_label_image_sold_out",
			"label": "Upload Product Label Sold Out "
		},
		{
			"type": "header",
			"content": "Product Item Title"
		},
		{
			"type": "color",
			"id": "product_item_title_color",
			"label": "Title",
			"default": "#3d4246"
		},
		{
      "type": "font_picker",
      "id": "product_item_title_font",
      "label": "Font",
      "default": "poppins_n6"
    },
		{
			"type": "range",
			"id": "product_item_title_font_size",
			"label": "Product Item Title - Font Size",
			"min": 10,
			"max": 30,
			"step": 1,
			"default": 14,
			"unit": "px"
		},
		{
			"type": "header",
			"content": "Product Item Vendor"
		},
		{
			"type": "color",
			"id": "product_item_vendor_color",
			"label": "Vendor",
			"default": "#969595"
		},
		{
      "type": "font_picker",
      "id": "product_item_vendor_font",
      "label": "Font",
      "default": "poppins_n4"
    },
		{
			"type": "range",
			"id": "product_item_vendor_font_size",
			"label": "Product Item Vendor - Font Size",
			"min": 10,
			"max": 30,
			"step": 1,
			"default": 12,
			"unit": "px"
		},
		{
			"type": "header",
			"content": "Product Item Price"
		},
		{
			"type": "color",
			"id": "product_item_price_color",
			"label": "Price",
			"default": "#222"
		},
		{
			"type": "color",
			"id": "product_item_old_price_color",
			"label": "Old Price",
			"default": "#969595"
		},
		{
			"type": "color",
			"id": "product_item_sale_price_color",
			"label": "Sale Price",
			"default": "#f30000"
		},
		{
      "type": "font_picker",
      "id": "product_item_price_font",
      "label": "Font",
      "default": "poppins_n4"
    },
		{
			"type": "range",
			"id": "product_item_price_font_size",
			"label": "Product Item Price - Font Size",
			"min": 10,
			"max": 30,
			"step": 1,
			"default": 14,
			"unit": "px"
		},
		{
			"type": "header",
			"content": "Product Item Description"
		},
		{
			"type": "color",
			"id": "product_item_des_color",
			"label": "Sale Price",
			"default": "#3a3a3a"
		},
		{
      "type": "font_picker",
      "id": "product_item_des_font",
      "label": "Font",
      "default": "poppins_n4"
    },
		{
			"type": "range",
			"id": "product_item_des_font_size",
			"label": "Product Item Description - Font Size",
			"min": 10,
			"max": 30,
			"step": 1,
			"default": 14,
			"unit": "px"
		},
		{
			"type": "header",
			"content": "Swatch Color"
		},
		{
			"type": "checkbox",
			"id": "display_item_swatch",
			"label": "Enable Display Item Swatch",
			"default": true
		},
		{
			"type": "radio",
			"id": "swatch_color_display_type",
			"label": "Display Type",
			"options": [
			{
				"value": "swatch_color_display_type_color",
				"label": "Color"
			},
			{
				"value": "swatch_color_display_type_image_color",
				"label": "Color Image"
			},
			{
				"value": "swatch_color_display_type_image_product",
				"label": "Product Image"
			}],
			"default": "swatch_color_display_type_image_product",
			"info": "Please refer [this link](https:\/\/help.boostcommerce.net\/article\/417-how-to-config-the-product-item-layout-in-our-default-theme#a5) about 3 display types of Color swatches!"
		},
		{
			"type": "radio",
			"id": "swatch_color_event_change_image",
			"label": "Change Image When Hovering swatch icon",
			"options": [
			{
				"value": "none",
				"label": "None"
			},
			{
				"value": "hover",
				"label": "Hover"
			},
			{
				"value": "click",
				"label": "Click"
			}],
			"default": "hover"
		},
		{
			"type": "radio",
			"id": "swatches_color_shape",
			"label": "Swatch shape",
			"options": [
			{
				"value": "circle",
				"label": "Circle"
			},
			{
				"value": "square",
				"label": "Square"
			}],
			"default": "circle"
		},

		{
			"type": "header",
			"content": "Equal Height"
		},
		{
			"type": "select",
			"id": "equal_height",
			"label": "Product image aspect ratio (Width x Height)",
			"options": [
			{
				"value": "false",
				"label": "Disabled"
			},
			{
				"value": "1:1",
				"label": "Square (1:1)"
			},
			{
				"value": "2:3",
				"label": "Portrait (2:3)"
			},
			{
				"value": "4:3",
				"label": "Landscape (4:3)"
			},
			{
				"value": "other",
				"label": "Manual ratio below"
			}],
			"default": "false",
			"info": "For best results [all product photos should be the same ratio](https:\/\/help.shopify.com\/manual\/productivity-tools\/image-editor#image-aspect-ratio)."
		},
		{
			"type": "text",
			"id": "ratio_width_height_other",
			"label": "Example: 6:7",
			"info": "If the ratios above is not suitable for your store, could you please enter your aspect ratio (Width x Height) in the form below?"
		},
		{
			"type": "select",
			"id": "equal_height_crop_image_position",
			"label": "Equal Height Crop Image Position",
			"options": [
			{
				"value": "top",
				"label": "Top"
			},
			{
				"value": "center",
				"label": "Center"
			},
			{
				"value": "bottom",
				"label": "Bottom"
			}],
			"default": "center"
		}
	],

	"blocks": [
			{
			"type": "Collection",
			"name": "Collection",
			"settings": [
			{
			"id": "collection",
			"type": "collection",
			"label": "collection"
			},
			{
			"id": "collection_description",
			"type": "textarea",
			"label": "Collection description"
			}
		]
	}
	]
}
{% endschema %}
