<section class="homepage-featured-collection-{{ section.id }}{% if settings.animation != 'none' %} animate {{ settings.animation }}{% endif %}" data-section-id="{{ section.id }}" data-section-type="featured-collection" >
  {%- assign collection = collections[section.settings.collection] -%}
  {%- assign prod_limit = section.settings.limit -%}

  <article class="row">
    {% if section.settings.heading != blank %}
      <h2 class="section-title desktop-12 tablet-6 mobile-3">
        <a href="{{ collection.url }}">
          {{ section.settings.heading | escape }}
        </a>
      </h2>
    {% endif %}

    {% case section.settings.grid %}
    {% when 2 %}
      {%- assign grid_item_width = 'desktop-6 tablet-3' -%}
    {% when 3 %}
      {%- assign grid_item_width = 'desktop-4 tablet-2' -%}
    {% when 4 %}
      {%- assign grid_item_width = 'desktop-3 tablet-2' -%}
    {% endcase %}
    {%- assign product_limit = section.settings.grid | times: section.settings.rows -%}
      <div class="product-loop">
        {% for product in collection.products limit: prod_limit  %}
          <div class="product-index {{ grid_item_width }} mobile-half" id="prod-{{ product.id }}" data-alpha="{{ product.title }}" data-price="{{ product.price }}" data-product-id="{{ product.id }}">
            {% render 'product-listing', product: product %}
          </div>
        {% endfor %}
      </div>
    {% if section.settings.collection == blank %}
      {% render 'onboard-product', prod_limit: prod_limit, grid_item_width: grid_item_width %}
    {% endif %}
  </article>

  <style>
    section.homepage-featured-collection-{{ section.id }} {
      padding: 20px 0;
    }
    section.homepage-featured-collection-{{ section.id }} {
      background: {{ section.settings.background_color }};
    }
    section.homepage-featured-collection-{{ section.id }} h2.section-title a {
      color: {{ section.settings.heading_color }} !important;
    }
    section.homepage-featured-collection-{{ section.id }} .product-info,
    section.homepage-featured-collection-{{ section.id }} .product-info a {
      color: {{ section.settings.product_info_color }} !important;
    }
  </style>

</section>
{% schema %}
{
  "name": "Featured collection",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Featured collection"
    },
    {
       "type": "color",
       "id": "heading_color",
       "label": "Heading color",
       "default": "#000"
    },
    {
       "type": "color",
       "id": "product_info_color",
       "label": "Product info color",
       "default": "#000"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#fff"
    },
    {
      "id": "collection",
      "type": "collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "grid",
      "min": 2,
      "max": 4,
      "step": 1,
      "label": "Products per row",
      "default": 3
    },
    {
      "type": "range",
      "id": "limit",
      "min": 2,
      "max": 30,
      "step": 1,
      "label": "Products shown",
      "default": 3
    }
  ],
  "presets": [
    {
      "name": "Featured collection",
      "category": "Collection"
    }
  ]
}
{% endschema %}
