<section class="featured-collections-slider slideshow-container homepage-featured-collection-{{ section.id }}{% if settings.animation != 'none' %} animate {{ settings.animation }}{% endif %}" data-section-id="{{ section.id }}" data-section-type="collection-slider" >
  {% for block in section.blocks %}
    <div id="block-{{ block.id }}" class="slide collection-slide-wrapper slide-{{ forloop.index }}" {{ block.shopify_attributes }}>
      {%- assign collection = collections[block.settings.featured_collection] -%}
      <div class="collection-description">
        <div class = "collection-text">
          {% if collection != blank %}
           <h2>{{ collection.title }}</h2>
          {% else %}
           <h2>Collection Title</h2>
          {% endif %}
        {% if block.settings.description_text != blank %}
          <p>{{ block.settings.description_text }}</p>
        {% else %}
          <p>{{ collection.description }}</p>
        {% endif %}
        <div class="arrow-container">
          <button data-arrow-prev style="background-color: transparent">
              <svg class="left-arrow" width="27px" height="12px" viewBox="0 0 27 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g troke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g transform="translate(-1291.000000, -306.000000)" fill="#353535" fill-rule="nonzero" id="Footer---Light">
                          <g transform="translate(0.000000, 120.000000)">
                              <g id="Email-input" transform="translate(940.000000, 168.000000)">
                                  <path id="Line-2" d="M368.309343,18.8190816 L377.519864,24 L368.309343,29.1809184 L367.819082,28.3093429 L374.589,24.5 L351.5,24.5 L351.5,23.5 L374.593,23.5 L367.819082,19.6906571 L368.309343,18.8190816 Z"></path>
                              </g>
                          </g>
                      </g>
                  </g>
              </svg>
            </button>
            <button data-arrow-next style="background-color: transparent">
              <svg class="right-arrow" width="27px" height="12px" viewBox="0 0 27 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g troke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g transform="translate(-1291.000000, -306.000000)" fill="#353535" fill-rule="nonzero" id="Footer---Light">
                          <g transform="translate(0.000000, 120.000000)">
                              <g id="Email-input" transform="translate(940.000000, 168.000000)">
                                  <path id="Line-2" d="M368.309343,18.8190816 L377.519864,24 L368.309343,29.1809184 L367.819082,28.3093429 L374.589,24.5 L351.5,24.5 L351.5,23.5 L374.593,23.5 L367.819082,19.6906571 L368.309343,18.8190816 Z"></path>
                              </g>
                          </g>
                      </g>
                  </g>
              </svg>
            </button>
        </div>
      </div>
      </div>
      <div class="collection-image">
        {% if collection != blank %}
          {% if block.settings.collection_image != blank %}
            {% render 'basic-responsive-image', type: block.settings.collection_image, data_widths: '[180, 360, 540, 720, 900]' %}
            <noscript>
              <img class="center_img" src="{{ block.settings.collection_image | img_url: '800x' }}" alt="{{ block.settings.collection_image.alt }}">
            </noscript>
          {% else %}
            {% render 'basic-responsive-image', type: collection.image, data_widths: '[180, 360, 540, 720, 900]' %}
            <noscript>
              <img class="right_img" src="{{ collection.image | img_url: '800x' }}" alt="{{ collection.image.alt }}">
            </noscript>
          {% endif %}
        {% else %}
          {{ 'collection-6' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
      </div>
      <div class="product-wrapper">
        <div class="collection-link">
          <div class = "collection-link-text">
          <a href="{{ collection.url }}">{{ 'products.general.explore_more' | t }} {{ collection.title }}
            <svg width="27px" height="12px" viewBox="0 0 27 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g troke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g transform="translate(-1291.000000, -306.000000)" fill="#353535" fill-rule="nonzero" id="Footer---Light">
                        <g transform="translate(0.000000, 120.000000)">
                            <g id="Email-input" transform="translate(940.000000, 168.000000)">
                                <path id="Line-2" d="M368.309343,18.8190816 L377.519864,24 L368.309343,29.1809184 L367.819082,28.3093429 L374.589,24.5 L351.5,24.5 L351.5,23.5 L374.593,23.5 L367.819082,19.6906571 L368.309343,18.8190816 Z"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
          </a>
        </div>
        </div>
        <div class="featured-product">
          {% assign product = all_products[block.settings.featured_product] %}
          {% if product != blank %}
            <h3>{{ product.title }}</h3>
            {% render 'basic-responsive-image', type: product.featured_media, data_widths: '[180, 360, 540, 720, 900]' %}
            <noscript>
              <img src="{{ product.featured_media | img_url: '800x' }}" alt="{{ product.featured_media.alt }}">
            </noscript>
            <a href="{{ product.url }}" class="shop-product">{{ 'products.general.shop_this' | t }}</a>
          {% else %}
            <h3>Product Title</h3>
            {{ 'product-1' | placeholder_svg_tag }}
            <a href="" class="shop-product">{{ 'products.general.shop_this' | t }}</a>
          {% endif %}
        </div>
      </div>
      <style>
        .homepage-featured-collection-{{ section.id }} #block-{{ block.id }} .collection-description {
          background-color: {{ block.settings.des_bg_color }};
        }
        .homepage-featured-collection-{{ section.id }} #block-{{ block.id }} .collection-link {
          background-color: {{ block.settings.link_bg_color }};
        }
        .homepage-featured-collection-{{ section.id }} #block-{{ block.id }} .collection-link a {
          color: {{ block.settings.link_color }};
        }
        .homepage-featured-collection-{{ section.id }} #block-{{ block.id }} .collection-link g#Footer---Light {
          fill: {{ block.settings.link_color }};
        }
        .homepage-featured-collection-{{ section.id }} #block-{{ block.id }} .collection-text h2 {
          color: {{ block.settings.header_text_color }};
          font-size: {{ section.settings.header_font_size }}px;
        }
        .homepage-featured-collection-{{ section.id }} #block-{{ block.id }} .collection-text p {
          color: {{ block.settings.paragraph_text_color }};
          font-size: {{ section.settings.text_font_size }}px;
        }
        .homepage-featured-collection-{{ section.id }} #block-{{ block.id }} .collection-text g#Footer---Light {
          fill: {{ block.settings.paragraph_text_color }};
        }
        .homepage-featured-collection-{{ section.id }} #block-{{ block.id }} .featured-product h3,
        .homepage-featured-collection-{{ section.id }} #block-{{ block.id }} .featured-product a {
          color: {{ block.settings.product_title_color }};
          background-color: {{ block.settings.product_title_bg }};
        }
      </style>
    </div>
  {% endfor %}
<style>
  .homepage-featured-collection-{{ section.id }} {
    position: relative;
    height: 704px;
  }
  @media (max-width: 980px) {
    .homepage-featured-collection-{{ section.id }} {
      height: 1104px;
    }
  }
  .homepage-featured-collection-{{ section.id }} .collection-image {
    margin-bottom: 0;
    background-color: #fbfbfb;
  }
  .homepage-featured-collection-{{ section.id }} svg.placeholder-svg {
    height: 100%;
    width: 100%;
  }
  .homepage-featured-collection-{{ section.id }} .product-wrapper {
    background-color: white;
  }
  .featured-collections-slider .arrow-container button {
    padding: 0;
    margin-right: 20px;
  }
  .featured-collections-slider .arrow-container svg.left-arrow {
    transform: rotate(180deg);
  }
  .featured-collections-slider .arrow-container svg.right-arrow {
    transform: rotate(0);
  }
  @-webkit-keyframes fade-in {
      0% {
          opacity: 0;
     }
      33% {
          opacity: 0;
     }
      66% {
          opacity: 0;
          visibility: visible;
     }
      100% {
          opacity: 1;
          visibility: visible;
     }
 }
  @keyframes fade-in {
      0% {
          opacity: 0;
     }
      33% {
          opacity: 0;
     }
      66% {
          opacity: 0;
          visibility: visible;
     }
      100% {
          opacity: 1;
          visibility: visible;
     }
 }
  .featured-collections-slider .collection-slide-wrapper {
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  position: relative;
  height: 704px;
 }
.featured-collections-slider  .collection-description, .featured-collections-slider .collection-image, .product-wrapper {
  width: 33.33333%;
 }
.featured-collections-slider .collection-image .box-ratio {
  visibility: hidden;
  margin-bottom: 0px;
  -webkit-animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards;
  animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards;
 }
.featured-collections-slider .collection-description {
  display: flex;
  text-align: left;
  justify-content: center;
  flex-direction: column;
  padding-right: 5%;
  padding-left: 5%;
  margin-bottom: 0;
 }
.featured-collections-slider .collection-text {
  visibility: hidden;
  -webkit-animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 700ms forwards;
  animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 700ms forwards;
 }
.featured-collections-slider .arrow-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
 }
.featured-collections-slider .arrow-container > a {
  padding-right: 5%;
 }
.featured-collections-slider .box-ratio {
  height: 100%;
  padding-bottom: 0px !important;
 }
.featured-collections-slider  .box-ratio > .center-img {
  background-color: white;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  max-height: 100%;
  max-width: 100%;
  transform: scale(1.25);
 }
.featured-collections-slider .box-ratio img {
  height: 100%;
  object-fit: cover;
  object-position: center center;
 }
.featured-collections-slider .collection-link {
  height: 200px;
 }
.featured-collections-slider .collection-link-text {
  visibility: hidden;
  -webkit-animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1500ms forwards;
  animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1500ms forwards;
  padding: 30px;
 }
.featured-collections-slider .collection-link a {
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 40px;
  width: 100%;
  text-align: center;
 }
.featured-collections-slider .featured-product h3 {
  top: 62px;
 }
.featured-collections-slider .featured-product {
  height: 504px;
  position: relative;
  visibility: hidden;
  -webkit-animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1000ms forwards;
  animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1000ms forwards;
 }
.featured-collections-slider .featured-product h3, .shop-product {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  padding: 5px;
 }
.featured-collections-slider .shop-product {
  bottom: 50px;
  text-decoration: underline;
  text-transform: uppercase;
 }
.featured-collections-slider #next, #previous {
  cursor: pointer;
 }
</style>
</section>
<div class="clear"></div>
{% schema %}
{
  "name": "Featured collections",
  "settings": [
    {
      "type": "range",
      "id": "header_font_size",
      "min": 12,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Header font size",
      "default": 16
    },
    {
      "type": "range",
      "id": "text_font_size",
      "min": 12,
      "max": 20,
      "step": 1,
      "unit": "px",
      "label": "Text font size",
      "default": 13
    }
  ],
  "max_blocks": 5,
  "blocks": [
    {
      "type": "featured_collection",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "featured_collection",
          "label": "Collection"
        },
        {
          "type": "image_picker",
          "id": "collection_image",
          "label": "Custom collection image"
        },
        {
          "type": "color",
          "id": "header_text_color",
          "label": "Collection title",
          "default": "#000000"
        },
        {
          "type": "richtext",
          "id": "description_text",
          "label": "Description",
          "default": "<p>Describe this featured collection.</p>"
        },
        {
          "type": "color",
          "id": "des_bg_color",
          "label": "Description background",
          "default": "#ebf1f2"
        },
        {
          "type": "color",
          "id": "paragraph_text_color",
          "label": "Description text",
          "default": "#000000"
        },
        {
          "type": "product",
          "id": "featured_product",
          "label": "Featured product"
        },
        {
          "type": "color",
          "id": "product_title_color",
          "label": "Product title and link",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "product_title_bg",
          "label": "Product title and link bg",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "link_bg_color",
          "label": "Link background",
          "default": "#edddd3"
        },
        {
          "type": "color",
          "id": "link_color",
          "label": "Link text",
          "default": "#000000"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured collections slider",
      "category": "Collection",
      "blocks": [
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        }
      ]
    }
  ]
}
{% endschema %}
