{%- assign product = all_products[section.settings.pf_featured_product] -%}

{% assign current_variant = product.selected_or_first_available_variant %}

{% if product == empty %}
  {%- assign section_onboarding = true -%}
{% endif %}

<section
  class="homepage-featured-product product-{{ product.id }} product-page product-template index-section no-fouc{% if settings.animation != 'none' %} animate {{ settings.animation }}{% endif %}"
  data-product-id="{{ product.id }}"
  data-section-id="{{ section.id }}"
  data-section-type="product-section">

  {% if section_onboarding %}
   {% render 'onboard-single-product' %}
  {% else %}
    <div class="row">
     {% if section.settings.pf_heading != blank %}
       <h2 class="section-title desktop-12 tablet-6 mobile-3">
         <a href="{{ collection.url }}">
           {{ section.settings.pf_heading | escape }}
         </a>
       </h2>
     {% endif %}

    </div>

   <div class="row">

     <meta itemprop="url" content="{{ routes.root_url }}{{ product.url }}">
     <meta itemprop="image" content="{{ product.featured_media.media | img_url: '1024x1024' }}">

     {% render 'product-json', product: product %}

     {% assign thumbnail_position = section.settings.thumbnail_position %}
      {% assign click_to_enlarge = section.settings.click_to_enlarge %}
      {% assign enable_video_looping = section.settings.enable_video_looping %}
      {% capture product_gallery_config %}{
        "thumbPosition": {{ section.settings.thumbnail_position | json }},
        "enableVideoLooping": {{ section.settings.enable_video_looping | json }},
        "mainSlider": {% if product.media.size <= 1 %}false{% else %}true{% endif %},
        "thumbSlider": {% if product.media.size >= 4 %}true{% else %}false{% endif %},
        "productId": {{ product.id | json }},
        "isQuick": false
      }{% endcapture %}

    <div class="product-top">
      <div id="product-photos" class="product-photos featured-product-gallery {% if section.settings.pf_image_position == 'right' %}right {% else %}left {% endif %}{% if section.settings.pf_image_width == 'one_third' %}desktop-4 tablet-2 mobile-3 {% elsif section.settings.pf_image_width == 'two_thirds' %}desktop-8 tablet-4 mobile-3 {% else %}desktop-6 desktop-push-1 tablet-3 mobile-3 {% endif %}" data-gallery-thumbnails data-product-single-media-group data-gallery-config='{{ product_gallery_config }}'>
        {%- if product.featured_media -%}
          {% render 'product-image-gallery',
           product: product,
           thumbnail_position: thumbnail_position,
           click_to_enlarge: click_to_enlarge,
           enable_video_looping: enable_video_looping %}
        {%- else -%}
          {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
          {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
        {%- endif -%}
      </div>

      <div class="product-right {% if section.settings.pf_image_width == 'one_third' %}desktop-8 tablet-4 mobile-3 {% elsif section.settings.pf_image_width == 'two_thirds' %}desktop-4 tablet-2 mobile-3 {% else %}desktop-4 tablet-3 mobile-3 {% endif %}">
        <h4>
          <a href="{{ product.url }}">
            {{ product.title | escape }}
          </a>
        </h4>
        {% if section.settings.pf_show_product_description %}
          <div class="featured-description">{{ product.description | strip_html | truncatewords: 40 }}</div>
        {% endif %}
        {% capture product_form_config %}
          { "money_format": {{ shop.money_format | json }},
            "enable_history": true,
            "sold_out": {{ "products.product.sold_out" | t | json }},
            "button": {{ 'products.product.add_to_cart' | t | json }},
            "unavailable": {{ 'products.product.unavailable' | t | json }},
            "quickview": false
          }
        {% endcapture %}
        {% render 'product-form',
          product: product,
          type: section,
          product_form_config: product_form_config,
          current_variant: current_variant %}

      </div>
    </div>
   </div>
  {% endif %}
  <style>
    .homepage-featured-product #thumbnail-gallery {
      display: none;
    }
    .featured-product-gallery {
      position: relative;
    }
    section.homepage-featured-product.product-{{ product.id }} {
      padding: 20px 0;
    }
    section.homepage-featured-product.product-{{ product.id }} h2,
    section.homepage-featured-product.product-{{ product.id }} h2 a {
      color: {{ section.settings.pf_heading_color }} !important;
    }

    section.homepage-featured-product.product-{{ product.id }} .featured-product-gallery.right {
      float: right !important;
    }
    section.homepage-featured-product h4.product-vendor {
      font-size: 16px;
    }
    section.homepage-featured-product.product-{{ product.id }} .featured-description {
     padding: 5px 0 10px 0;
    }
    section.homepage-featured-product #product-price {
      margin-top: 0px;
  	padding-bottom: 10px;
    }
    @media screen and ( max-width: 740px ) {
      .featured-product-gallery {
      	margin-bottom: 10px;
      }
    }
    {% if section.settings.thumbnail_position == 'bottom' %}
    .homepage-featured-product.product-{{ product.id }} .thumb-slider-slides {
      transition: left 0.5s ease-in-out;
    }
  {% else %}
    .homepage-featured-product.product-{{ product.id }} .thumb-slider-slides {
      transition: top 0.5s ease-in-out;
    }
  {% endif %}
  </style>

</section>
<div class="clear"></div>
{% unless product == empty %}
  <script type="application/json" id="ModelJson-{{ section.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>
{% endunless %}
{% schema %}
{
 "name": "Featured product",
 "settings": [
   {
     "type": "product",
     "id": "pf_featured_product",
     "label": "Product"
   },
   {
     "type": "text",
     "id": "pf_heading",
     "label": "Heading",
     "default": "Featured Product"
   },
   {
     "type": "color",
     "id": "pf_heading_color",
     "label": "Heading color",
     "default": "#000"
   },
   {
    "type": "checkbox",
    "id": "pf_show_product_description",
    "label": "Show portion of product description",
    "default": true
   },
   {
    "type": "checkbox",
    "id": "pf_show_quantity_selector",
    "label": "Show quantity selector",
    "default": true
   },
   {
    "type": "header",
    "content": "Media"
    },
    {
      "type": "select",
      "id": "thumbnail_position",
      "label": "Thumbnail position",
      "options": [
        {
          "value": "right",
          "label": "Right"
        },
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "click_to_enlarge",
      "label": "Enable click to enlarge",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "label": "Enable video looping",
      "default": false
    },
    {
      "type": "paragraph",
      "content": "Learn more about [Media types](https:\/\/help.shopify.com/en\/manual\/products\/product-media\)"
    },
   {
     "type": "select",
     "id": "pf_image_position",
     "label": "Choose image position",
     "options": [
       { "value": "left", "label": "Left" },
       { "value": "right", "label": "Right" }
     ]
    },
    {
      "type": "select",
      "id": "pf_image_width",
      "label": "Choose image gallery width",
      "options": [
        { "value": "one_third", "label": "33%" },
        { "value": "one_half", "label": "50%" },
        { "value": "two_thirds", "label": "75%" }
      ],
      "default": "one_half"
     }
   ],
   "presets": [
   {
     "name": "Featured product",
     "category": "Product"
   }
 ]
}
{% endschema %}
