{%- assign blog = blogs[section.settings.blog] -%}
<section class="homepage-blog-posts-{{ section.id }} no-fouc{% if settings.animation != 'none' %} animate {{ settings.animation }}{% endif %}" data-section-id="{{ section.id }}" data-section-type="featured-blog">
  <div class="row">
    <div id="homepage-blog">
      {% if section.settings.heading != blank %}
        <h2 class="section-title desktop-12 tablet-6 mobile-3">
          <a href="{{ blog.url }}">{{ section.settings.heading | escape }}</a>
        </h2>
      {% endif %}
      <div class="clear"></div>

      <ul id="blog-articles">
        {% assign post_limit = section.settings.post_limit %}
        {% assign posts_per_row = section.settings.posts_per_row %}
        {% if blog == blank %}
          {% for i in (1..post_limit) %}
            <li class="article-index {% if template == 'index' and posts_per_row == 2 %}desktop-6 tablet-3{% cycle ' first', ' last' %}{% elsif template == 'index' and posts_per_row == 3 %}desktop-4 tablet-2{% cycle ' first', '', ' last' %}{% endif %} mobile-3">
              <div class="article-image {% if template == 'index' and posts_per_row == 1 %}desktop-5 tablet-2{% else %}desktop-12 tablet-6{% endif %} mobile-3">
                  <a href="{{ routes.root_url }}">
                    {{ 'collection-1' | placeholder_svg_tag }}
                  </a>
              </div>

              <div class="rte excerpt {% if template == 'index' and posts_per_row == 1 %}desktop-7 tablet-4{% else %}desktop-12 tablet-6{% endif %} mobile-3">
                {% if section.settings.show_above %}
                  {% if section.settings.show_date or section.settings.show_author %}
                    <p class="posted">12/15/20 – Author Name</p>
                  {% endif %}
                {% endif %}
                <h3 class="post-title">
                  <a href="{{ routes.root_url }}">Article Title</a>
                </h3>
                <div class="article-headline">
                  <p class="rte">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </p>
                  <a href="{{ routes.root_url }}">
                    {{ 'blogs.article.read_more' | t }}
                    <svg width="18px" height="7px" viewBox="0 0 27 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g transform="translate(-1291.000000, -306.000000)" fill="#353535" fill-rule="nonzero" id="Footer---Light">
                                <g transform="translate(0.000000, 120.000000)">
                                    <g id="Email-input" transform="translate(940.000000, 168.000000)">
                                        <path id="Line-2" d="M368.309343,18.8190816 L377.519864,24 L368.309343,29.1809184 L367.819082,28.3093429 L374.589,24.5 L351.5,24.5 L351.5,23.5 L374.593,23.5 L367.819082,19.6906571 L368.309343,18.8190816 Z"></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                  </a>
                </div>
              </div>
            </li>
          {% endfor %}
        {% else %}
          {% for article in blog.articles limit: post_limit %}
            {% render 'article-loop', article: article, posts_per_row: posts_per_row %}
          {% endfor %}
        {% endif %}
      </ul>
    </div>
  </div>
</section>
<div class="clear"></div>

<style>
  .homepage-blog-posts-{{ section.id }} {
    padding: 20px 0;
  }
  .homepage-blog-posts-{{ section.id }} h2.section-title a {
    color: {{ section.settings.heading_color }} !important;
  }
  @media screen and (min-width: 741px) {
    .homepage-blog-posts-{{ section.id }} .article-index {
      text-align: {{ section.settings.text_align }};
    }
    #homepage-blog li.article-index.desktop-6:nth-child(2n+1) {
      clear: left;
    }
    #homepage-blog li.article-index.desktop-4:nth-child(3n+1) {
      clear: left;
    }
  }
  @media (min-width: 980px) {
    {% if section.settings.posts_per_row > 1 %}
      .homepage-blog-posts-{{ section.id }} .article-index {
        flex-wrap: wrap;
      }
      .homepage-blog-posts-{{ section.id }} li.article-index .rte.excerpt {
        padding-left: 0 !important;
        margin-top: 24px;
      }
    {% else %}
      {% if section.settings.image_align == 'alternated' %}
        .homepage-blog-posts-{{ section.id }} .article-index:nth-child(odd) div.article-image {
          order: 2;
        }
      {% endif %}
      {% if section.settings.image_align == 'right' %}
        .homepage-blog-posts-{{ section.id }} .article-index div.article-image {
          order: 2;
        }
      {% endif %}
    {% endif %}
  }
</style>

{% schema %}
{
  "name": "Blog posts",
  "class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Blog posts"
    },
    {
       "type": "color",
       "id": "heading_color",
       "label": "Heading color",
       "default": "#000"
    },
    {
      "id": "blog",
      "type": "blog",
      "label": "Blog"
    },
    {
      "type": "range",
      "id": "post_limit",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "Posts shown",
      "default": 3
    },
    {
      "type": "range",
      "id": "posts_per_row",
      "min": 1,
      "max": 3,
      "step": 1,
      "label": "Posts per row",
      "default": 1
    },
    {
      "type": "select",
      "id": "image_align",
      "label": "Image alignment",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "alternated",
          "label": "Alternated"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Text alignment",
	    "default": "center",
      "options": [
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "left",
          "label": "Left"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "label": "Show published date",
      "default": true
    }

  ],
  "presets": [
    {
      "name": "Blog posts",
      "category": "Blog",
      "settings": {
        "blog": "News"
      }
    }
  ]
}
{% endschema %}
