{%- assign locale_selector = false -%}
{%- assign currency_selector = false -%}

{%- if section.settings.show_currency_selector and shop.enabled_currencies.size > 1 -%}
  {%- assign currency_selector = true -%}
{%- endif -%}

{%- if section.settings.show_locale_selector and shop.published_locales.size > 1 -%}
  {%- assign locale_selector = true -%}
{%- endif -%}

<div class="footer-top-bar"></div>
<div id="footer" class="footer-section{% if settings.animation != 'none' %} animate {{ settings.animation }}{% endif %}" data-section-id="{{ section.id }}" data-section-type="footer-section">
  <div class="container row">
    <div id="big-footer" class="desktop-12">
      {% for block in section.blocks %}
        <section class="footer-block block-{{ block.id }}" {{ block.shopify_attributes }}>
          {% case block.type %}
            {% when 'menu' %}
              <div class="footer-menu tablet-6 mobile-half footer-sect">
                <h6>{{ block.settings.title | escape }}</h6>
                <ul>
                  {% for link in linklists[block.settings.footer_nav].links %}
                    <li>{{ link.title | link_to: link.url }}</li>
                  {% endfor %}
                </ul>
                <style>
                  @media (min-width: 980px) {
                    .footer-block.block-{{ block.id }} {
                      flex-grow: 1;
                      flex-basis: 180px;
                    }
                  }
                </style>
              </div>
            {% when 'social' %}
              <div class="footer-social tablet-6 mobile-3 footer-sect">
                <h6>{{ block.settings.title | escape }}</h6>
                {{ block.settings.mailing_subheading }}
                {% render 'mailing' %}
                <div class="clear"></div>
              {% render "social-icons" %}
              <style>
                @media (min-width: 980px) {
                  .footer-block.block-{{ block.id }} {
                    flex-grow: 2;
                    flex-basis: 400px
                  }
                }
              </style>
              </div>
            {% when 'text' %}
              <div class="footer-text tablet-6 mobile-3 footer-sect">
                <h6>{{ block.settings.title | escape }}</h6>
                {{ block.settings.footer_text }}
                <style>
                  @media (min-width: 980px) {
                    .footer-block.block-{{ block.id }} {
                      flex-grow: 2;
                      flex-basis: 400px
                    }
                  }
                </style>
              </div>
            {% endcase %}
        </section>
      {% endfor %}
    </div>
    <div id="bottom-footer" class="sub-footer row">
      <div class="footer-left">
        {% if section.settings.show_social_icons %}
          <ul id="social-links">
              {% render 'social-icons' %}
          </ul>
        {% endif %}
        {% if section.settings.show_copyright %}
          <p><a href="{{ routes.root_url }}">&copy; {{ 'now' | date: "%Y" }} {{ shop.name }}</a></p>
        {% endif %}
      </div>
      <div id="payment" class="footer-right">
        {% if locale_selector or currency_selector %}
          <div class="disclosures">
            {%- form 'localization', class: 'selectors-form', data-disclosure-form: '' -%}
              {%- if locale_selector -%}
                <div class="selectors-form__item">
                  <h2 class="visually-hidden" id="lang-heading">
                    {{ 'general.language.dropdown_label' | t }}
                  </h2>

                  <div class="disclosure" data-disclosure-locale>
                    <button type="button" class="disclosure__toggle" aria-expanded="false" aria-controls="lang-list" aria-describedby="lang-heading" data-disclosure-toggle>
                      {{ form.current_locale.endonym_name }}
                    </button>
                    <ul id="lang-list" class="disclosure-list" data-disclosure-list>
                      {% for locale in form.available_locales %}
                        <li class="disclosure-list__item {% if locale.iso_code == form.current_locale.iso_code %}disclosure-list__item--current{% endif %}">
                          <a class="disclosure-list__option" href="#" lang="{{ locale.iso_code }}" {% if locale.iso_code == form.current_locale.iso_code %}aria-current="true"{% endif %} data-value="{{ locale.iso_code }}" data-disclosure-option>
                            {{ locale.endonym_name }}
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                    <input type="hidden" name="locale_code" id="LocaleSelector" value="{{ form.current_locale.iso_code }}" data-disclosure-input/>
                  </div>
                </div>
              {%- endif -%}

              {%- if currency_selector -%}
                <div class="selectors-form__item">
                  <h2 class="visually-hidden" id="currency-heading">
                    {{ 'general.currency.dropdown_label' | t }}
                  </h2>

                  <div class="disclosure" data-disclosure-currency>
                    <button type="button" class="disclosure__toggle" aria-expanded="false" aria-controls="currency-list" aria-describedby="currency-heading" data-disclosure-toggle>
                      {{ form.current_currency.iso_code }} {%- if form.current_currency.symbol -%}{{ form.current_currency.symbol }}{%- endif -%}
                    </button>
                    <ul id="currency-list" class="disclosure-list" data-disclosure-list>
                      {% for currency in form.available_currencies %}
                        <li class="disclosure-list__item {% if currency.iso_code == form.current_currency.iso_code %}disclosure-list__item--current{% endif %}">
                          <a class="disclosure-list__option" href="#" {% if currency.iso_code == form.current_currency.iso_code %}aria-current="true"{% endif %} data-value="{{ currency.iso_code }}" data-disclosure-option>
                            {{ currency.iso_code }} {%- if currency.symbol -%}{{ currency.symbol }}{%- endif -%}
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                    <input type="hidden" name="currency_code" id="FooterCurrencySelector" value="{{ form.current_currency.iso_code }}" data-disclosure-input/>
                  </div>
                </div>
              {%- endif -%}
            {%- endform -%}
          </div>
        {% endif %}
        {% if section.settings.show_credit_cards %}
          <div class="payment-methods">
            {% for type in shop.enabled_payment_types %}
              {{ type | payment_type_svg_tag: class:'payment-icon' }}
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<style>
  #footer .footer-sect {
    text-align: {{ section.settings.text_alignment }};
    {% if section.settings.text_alignment == 'center' %}
    margin-left: auto;
    margin-right: auto;
    {% endif %}
  }
  #footer h6 {
    font-size: {{ section.settings.header_size }}px;
    line-height: calc(({{ section.settings.header_size }}px * 0.17) + {{ section.settings.header_size }}px);
  }

  {% if section.settings.payment_icon_color %}
 	 svg.payment-icon { filter: grayscale(1); }
  {% endif %}

  .payment-methods svg {
    display: inline;
    width: 40px;
    height: 25.25px;
    text-align: center;
    margin: 3px 1px;
  }

  @media (min-width: 980px) {
    #big-footer {
  	display: flex;
    }
    .footer-block + .footer-block {
      margin-left: 3%;
    }
  }
  div#bottom-footer {
    display: flex;
    margin: 0 auto;
    padding-top: 32px;
    margin-top: 64px;
    align-items: flex-end;
  }

  div#bottom-footer .footer-left {
    width: 50%;
    text-align: left;
  }

  div#bottom-footer .footer-right {
    width: 50%;
    text-align: right;
  }

  div#bottom-footer #copy p {
    text-align: left;
    margin: 0;
  }
  div#bottom-footer #payment {
    text-align: right;
  }
  div#bottom-footer #payment .payment-methods {
    margin-top: 10px;
  }
  div#bottom-footer .selectors-form {
    justify-content: flex-end;
    margin: 0;
  }
  div#bottom-footer ul#social-links {
    float: none;
    text-align: left;
  }

  @media (min-width: 980px) {
    #footer #payment {
      text-align: {{ section.settings.text_alignment }};
    }
    #footer ul#footer-icons {
      text-align: {{ section.settings.text_alignment }};
    }
    {% if section.settings.text_alignment == 'left' %}
      #footer ul#footer-icons li:first-child {
        margin-left: 0;
        padding-left: 0;
      }
      #footer .selectors-form {
        justify-content: flex-start;
        flex-wrap: nowrap;
      }
    {% endif %}
  }
  @media (max-width: 740px) {
    div#bottom-footer {
      flex-wrap: wrap;
    }
    div#bottom-footer .footer-left {
      width: 100%;
      text-align: left;
      order:2;
      margin-top: 31px;
    }
    div#bottom-footer .footer-right {
      width: 100%;
      text-align: left;
      order: 1;
    }
    div#bottom-footer .selectors-form {
      justify-content: flex-start;
      margin: 0;
    }
    div#bottom-footer #payment {
      text-align: left;
    }
    div#bottom-footer .payment-methods {
      margin-top: 10px;
    }
    div#bottom-footer  .footer-section .disclosure__toggle {
      height: 44px;
      width: 80px;
    }
    div#bottom-footer ul#social-links {
      display: block;
      margin-bottom: 0;
    }
  }
</style>
{% schema %}
{
  "name": "Footer",
  "max_blocks": 4,
  "settings": [
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ]
    },
    {
      "type": "range",
      "id": "header_size",
      "min": 12,
      "max": 36,
      "step": 1,
      "unit": "px",
      "label": "Header size",
      "default": 18
    },
    {
      "type": "checkbox",
      "id": "show_social_icons",
      "label": "Show social media icons",
      "default": true,
      "info": "The icons that show are determined by your store's social media settings."
    },
    {
      "type": "checkbox",
      "id": "show_credit_cards",
      "label": "Show payment icons",
      "default": true,
      "info": "The icons that show are determined by your store's payment settings."
    },
    {
      "type": "checkbox",
      "id": "payment_icon_color",
      "label": "Grayscale payment icons",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_copyright",
      "label": "Show site name and copyright",
      "default": true
    },
   {
      "type": "header",
      "content": "Language Selector",
      "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
    },
    {
     "type": "checkbox",
     "id": "show_locale_selector",
     "label": "Show language selector",
     "default": true
    },
    {
      "type": "header",
      "content": "Currency Selector",
      "info": "To add a currency, go to your [payment settings.](/admin/settings/payments)"
    },
    {
     "type": "checkbox",
     "id": "show_currency_selector",
     "label": "Show currency selector",
     "default": true
    }
  ],
  "blocks": [
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "footer_nav",
          "label": "Choose a menu",
          "info": "This menu won't show dropdown items"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Menu"
        }
      ]
    },
    {
      "type": "social",
      "name": "Social",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Connect with us"
        },
        {
          "type": "richtext",
          "id": "mailing_subheading",
          "label": "Subheading",
          "default": "<p>Email address</p>"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "About"
        },
        {
          "id": "footer_text",
          "type": "richtext",
          "label": "Text",
          "default": "<p>Adding text to your footer helps introduce your business to new customers.</p>"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "text"
      },
      {
        "type": "menu"
      },
      {
        "type": "menu"
      },
      {
        "type": "social"
      }
    ]
  }
}
{% endschema %}
