<section
  class="homepage-section-{{ section.id }} no-fouc index-section{% if section.settings.no_bottom_margin %} nbm{% endif %}{% if settings.animation != 'none' %} animate {{ settings.animation }}{% endif %}"
  data-section-id="{{ section.id }}"
  data-section-type="image-carousel">

  {% if section.settings.full_width %}<div class="gridlock-fluid"><div class="row">{% endif %}
    {% case section.settings.image_width %}
      {% when '33%' %}
        {%- assign image_size = '700x' -%}
        {%- assign image_width = 'desktop-4 tablet-2' -%}
        {%- assign image_offset = 'desktop-8 tablet-4' -%}
        {% when '50%' %}
        {%- assign image_size = '1000x' -%}
        {%- assign image_width = 'desktop-6 tablet-3' -%}
        {%- assign image_offset = 'desktop-6 tablet-3' -%}
      {% when '66%' %}
        {%- assign image_size = '1400x' -%}
        {%- assign image_width = 'desktop-8 tablet-4' -%}
        {%- assign image_offset = 'desktop-4 tablet-2' -%}
    {% endcase %}

    {%- assign is_carousel = false -%}
    {% if section.blocks.size > 1 %}{%- assign is_carousel = true -%}{%- endif -%}
    {% capture slideshow_config %}{
      "wrapAround":true,
      "cellAlign": "left",
      "dragThreshold":"15",
      "pauseAutoPlayOnHover":false,
      "prevNextButtons":true,
      "pageDots": false
   }{% endcapture %}

    {% capture image_layout %}
      <div class="{{ image_width }} mobile-3 contained imageCarousel__withText--{% if is_carousel %}carousel flickity__section js-slideshow{% else %}container{% endif %}"{% if is_carousel %} data-flickity='{{ slideshow_config }}'{% endif %}>
        {% for block in section.blocks %}
          <div class="imageCarousel__withText--image slide--{{ block.id }}" data-block-id="{{ block.id }}" data-slider-index="{{ forloop.index0 }}" {{ block.shopify_attributes }}>
            {% if block.settings.image == blank %}
              <div class="onboard">
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              </div>
            {% else %}
              {% if block.settings.link %}<a href="{{ block.settings.link }}">{% endif %}
              {% render 'basic-responsive-image' | type: block.settings.image %}
              <noscript>
                <img src="{{ block.settings.image | img_url: '800x' }}" alt="{{ block.settings.image.alt }}">
              </noscript>
              {% if block.settings.link %}</a>{% endif %}
            {% endif %}
          </div>
        {% endfor %}
      </div>
    {% endcapture %}

    <div class="row">
      <div class="imageCarousel__withText--wrapper {{ section.id }}{% if section.settings.layout == 'right' %} mobile-reverse{% endif %}{% unless section.settings.full_width %} desktop-12 tablet-6{% endunless %}">
        {% if section.settings.layout == 'left' %}
          {{ image_layout }}
        {% endif %}
        <div class="{{ image_offset }} mobile-3 contained imageCarousel__withText--caption{% if section.settings.text_align == 'center' %} text-centered{% elsif section.settings.text_align == 'right' %} text-right{% endif %}">
          <div class="imageCarousel__withText--caption-content">
            {% if section.settings.title != blank %}
              <h3>{{ section.settings.title | escape }}</h3>
            {% endif %}
            {% if section.settings.text != blank %}
              <div class="rte">{{ section.settings.text }}</div>
            {% endif %}
            {% if section.settings.button != blank and section.settings.link != blank %}
              <a href="{{ section.settings.link }}" class="button mt20">
                {{ section.settings.button | escape }}
              </a>
            {% endif %}
          </div>
        </div>
        {% if section.settings.layout == 'right' %}
          {{ image_layout }}
        {% endif %}
      </div>
    </div>
  {% if section.settings.full_width %}</div></div>{% endif %}
  <style media="screen">
    .homepage-section-{{ section.id }} .imageCarousel__withText--wrapper .imageCarousel__withText--caption-content h3 {
      font-size: {{ section.settings.heading_size }}px;
    }
    .homepage-section-{{ section.id }} .imageCarousel__withText--wrapper .imageCarousel__withText--caption-content p {
      font-size: {{ section.settings.text_size }}px;
    }
  </style>
</section>
{% schema %}
  {
    "name": "Image carousel with text",
    "class": "index-section",
    "max_blocks": 5,
    "settings": [
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Enable full width",
        "default": false
  	  },
      {
        "type": "checkbox",
        "id": "no_bottom_margin",
        "label": "Remove bottom margin",
        "default": false
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Image on left"
          },
          {
            "value": "right",
            "label": "Image on right"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_width",
        "label": "Image size",
        "default": "50%",
        "info":"800px x 600px recommended",
        "options": [
          {
            "value":"33%",
            "label":"Small"
          },
          {
            "value":"50%",
            "label":"Medium"
          },
          {
            "value":"66%",
            "label":"Large"
          }
        ]
      },
      {
        "type": "select",
        "id": "text_align",
        "label": "Text alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          }
        ]
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Image carousel with text"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
      },
      {
        "type": "text",
        "id": "button",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Button link"
      },
      {
        "type": "range",
        "id": "heading_size",
        "min": 12,
        "max": 48,
        "step": 1,
        "unit": "px",
        "label": "Heading size",
        "default": 32
      },
      {
        "type": "range",
        "id": "text_size",
        "min": 12,
        "max": 48,
        "step": 1,
        "unit": "px",
        "label": "Text size",
        "default": 14
      }
    ],
  "presets": [{
    "name": "Image carousel with text",
       "category": "Image",
        "blocks": [
        {
        "type": "image"
        },
        {
        "type": "image"
        }
      ]
    }
  ],
   "blocks":[
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Optional"
        }
      ]
    }
   ]
}
{% endschema %}
