<section class="homepage-image-with-text-overlay-{{ section.id }} index-section{% if settings.animation != 'none' %} animate {{ settings.animation }}{% endif %}" data-section-id="{{ section.id }}">

{% if section.settings.full_width %}<div class="gridlock-fluid"><div class="row">{% endif %}
  <div class="row no-fouc">
    {% if section.settings.link != blank %}<a href="{{ section.settings.link }}">{% endif %}
      <div class="homepage-promo centered contained desktop-12 tablet-6 mobile-3">
        {% if section.settings.image %}
          <div class="background-image lazyload"
          data-bgset="{% render 'bgset', image: section.settings.image %}"
          data-sizes="auto"></div>
          <noscript>
            <div class="background-image" style="background-image: url({{ section.settings.image | img_url: '1024x' }});"></div>
          </noscript>
        {% else %}
          <div class="onboard">
            {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
          </div>
        {% endif %}
        <div class="caption">
          {% if section.settings.heading != blank %}
            <h3>{{ section.settings.heading }}</h3>
          {% endif %}
          {% if section.settings.hidden_text != blank %}
            <p>{{ section.settings.hidden_text }}</p>
          {% endif %}
          {% if section.settings.link != blank %}
            <a class="button" href="{{ section.settings.link }}">{{ section.settings.button_text }}</a>
          {% endif %}
        </div>
      </div>
    {% if section.settings.link != blank %}</a>{% endif %}
  </div>
{% if section.settings.full_width %}</div></div>{% endif %}

<style>
  .homepage-image-with-text-overlay-{{ section.id }} {
    padding: 0;
    margin: 0;
  }
  .homepage-image-with-text-overlay-{{ section.id }} .onboard .placeholder-svg {
    height: 400px;
  }
  .homepage-image-with-text-overlay-{{ section.id }} .background-image {
    background-size: cover;
    background-position: center center;
    height: {{ section.settings.image_height }}px;
  }
  .homepage-image-with-text-overlay-{{ section.id }} .homepage-promo {
    margin-bottom: 0;
  }
  .homepage-image-with-text-overlay-{{ section.id }} .homepage-promo:hover {
    opacity: 0.85;
  }
  .homepage-image-with-text-overlay-{{ section.id }} .caption h3 {
    color: {{ section.settings.text_color }};
    font-size: {{ section.settings.heading_text_size }}px;
    line-height: 1.5;
  }
  .homepage-image-with-text-overlay-{{ section.id }} .caption p {
    color: {{ section.settings.text_color }};
    font-size: {{ section.settings.hidden_text_size }}px;
    line-height: 1.5;
  }
  .no-js .homepage-image-with-text-overlay-{{ section.id }} .background-image.lazyload {
    display: none;
  }
  @media screen and ( max-width: 740px ) {
    .homepage-image-with-text-overlay-{{ section.id }} .caption h3 {
      font-size: 18px;
    }
    .homepage-image-with-text-overlay-{{ section.id }} .caption p {
      font-size: 14px;
    }
  }
</style>
</section>
<div class="clear"></div>
{% schema %}
  {
    "name": "Image with text overlay",
    "settings": [
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Enable full width",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "range",
        "id": "image_height",
        "min": 100,
        "max": 600,
        "step": 100,
        "unit": "px",
        "label": "Image height",
        "default": 400
      },
      {
        "type": "header",
        "content": "Overlay text"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Image with Text Overlay"
      },
      {
        "type": "textarea",
        "id": "hidden_text",
        "label": "Text",
        "default": "Pair text with a large full width image to give focus to areas of your store.",
        "info": "Shown on hover"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Link",
        "info": "Optional"
      },
      {
         "type": "text",
         "id": "button_text",
         "label": "Button text",
         "default": "View Product"
      },
      {
        "type": "range",
        "id": "heading_text_size",
        "min": 12,
        "max": 48,
        "step": 1,
        "unit": "px",
        "label": "Heading size",
        "default": 32
      },
      {
        "type": "range",
        "id": "hidden_text_size",
        "min": 12,
        "max": 32,
        "step": 1,
        "unit": "px",
        "label": "Text size",
        "default": 18
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text color",
        "default": "#000"
      }
    ],
    "presets": [
    {
      "name": "Image with text overlay",
      "category": "Image"
    }
  ]
  }
{% endschema %}
