<p>{{ section.settings.login-explanation }}</p>

{% schema %}
{
"name": "Login explanation",
"settings": [
{
"type": "richtext",
"id": "login-explanation",
"label": {
"en": "Text",
"nl": "Tekst"
}
}
],
"presets": [
{
"category": {
"en": "Text",
"nl": "Tekst"
},
"name": {
"en": "Text block",
"nl": "Tekstblok"
},
"settings": {}
}
]
}
{% endschema %}
