<section class="homepage-logo-list-{{ section.id }} index-section{% if settings.animation != 'none' %} animate {{ settings.animation }}{% endif %}" data-section-id="{{ section.id }}">

  <div class="row no-fouc logo-section">

    {% if section.settings.title != blank %}
      <h2 class="section-title desktop-12 tablet-6 mobile-3">
        {{ section.settings.title | escape }}
      </h2>
    {% endif %}
    {%- assign image_size = '300x' -%}
    {% for block in section.blocks %}
      <div class="logo-list desktop-2 tablet-1 mobile-1" {{ block.shopify_attributes }}>
        {% if block.settings.link != blank %}<a href="{{ block.settings.link }}">{% endif %}
          {% if block.settings.image != blank %}
            {% render 'basic-responsive-image', type: block.settings.image, data_widths: '[180, 360, 540, 720, 900]' %}
            <noscript>
              <img src="{{ block.settings.image | img_url: '800x' }}" alt="{{ block.settings.image.alt }}">
            </noscript>
          {% else %}
            <div class="onboard">
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
          {% endif %}
        {% if block.settings.link != blank %}</a>{% endif %}
      </div>
    {% endfor %}
  </div>

  {% if section.blocks.size == 0 %}
    {% render 'no-blocks' %}
  {% endif %}
</section>
<style>
 .homepage-logo-list-{{ section.id }} {
   padding: 20px 0;
 }
 .homepage-logo-list-{{ section.id }} h2.section-title {
   color: {{ section.settings.heading_color }} !important;
 }
 .logo-list .box-ratio,
 .logo-list .box-ratio img {
   background: transparent;
 }
</style>

<div class="clear"></div>

{% schema %}
{
    "name": "Logo list",
	"max_blocks": 6,
    "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "As seen in"
    },
    {
       "type": "color",
       "id": "heading_color",
       "label": "Heading color",
       "default": "#000"
    }
	],
	"blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Optional"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Logo list",
      "category": "Image",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
  }
{% endschema %}
