<section class="password__page" style="position: relative; top: 70px;" data-section-type="password-page">
  <div class="password-page__logo">
    {% if section.settings.logo != blank %}
      <a href="{{ routes.root_url }}">
        <img src="{{ section.settings.logo | img_url: '600x' }}" alt="{{ section.settings.logo.alt | default: shop.name }}" itemprop="logo">
      </a>
    {% else %}
      <a href="{{ routes.root_url }}">{{ shop.name }}</a>
    {% endif %}
  </div>
  <div class="password-page__newsletter">
    <div class="password-page__newsletter-wrapper">
      {% unless section.settings.newsletter_details == blank %}
        <div class="password-page__newsletter-details">
          {{ section.settings.newsletter_details }}
        </div>
      {% endunless %}
      <div class="password-page__newsletter-signup">
        {% form 'customer' %}
          {%- if form.errors -%}
            <div class="note-error">
              {{ form.errors | default_errors }}
            </div>
          {%- endif -%}
          {% if form.posted_successfully? %}
            <p class="password-page__newsletter-signup--success note-success text-center">{{ 'password.general.thanks' | t }}</p>
          {% else %}
            <input type="hidden" name="contact[tags]" value="prospect, password page">
            <input type="email" name="contact[email]" class="password-page__newsletter-signup--email" placeholder="{{ 'password.general.email_address' | t }}">
            <input type="submit" class="password-page__newsletter-signup--submit" value="{{ 'password.general.submit' | t }}">
          {% endif %}
        {% endform %}
      </div>
    </div>
  </div>
  <div class="clear"></div>
  <div class="slideout__trigger--open text-center">
    <button class="slideout__trigger-password js-slideout-open"
      data-slideout-direction="right"
      aria-haspopup="true"
      aria-expanded="false"
      aria-label="Open navigation"
      data-wau-slideout-target="password"
      aria-controls="slideout-password"
      tabindex="0" type="button" name="button">
      <i class="fa fa-lock" aria-hidden="true" style="margin-right: 4px;"></i>{{ 'password.general.enter_store' | t }}
    </button>
  </div>
  <div class="clear"></div>
  <div class="password-page__footer">
    <div class="password-page__icons">
      {% render 'social-icons' %}
    </div>
  </div>

  {% assign opacity = section.settings.overlay_color_opacity | divided_by: 100.00 %}
  <style>
  .password-page__wrapper  {
    {%- if section.settings.background_color -%}
    background-color: {{ section.settings.background_color }};
    {%- endif -%}

    {% if section.settings.background_image %}
    background:
    {%- if section.settings.show_overlay_color -%}
    linear-gradient(
    {{ '#000000' | color_modify: 'alpha', 0.25 }},
    {{ '#000000' | color_modify: 'alpha', 0.25 }}),
    {%- endif -%}
    url({{ section.settings.background_image | img_url: '2048x' }})
    {% endif %};
    background-position: center center;
    color: {{ section.settings.text_color }};
    background-repeat: no-repeat;
    background-size: cover;
  }
  {% if section.settings.logo_max_width != blank %}
    .password-page__logo img {
      max-width: {{ section.settings.logo_max_width }}px;
    }
  {% endif %}
  @media (max-width: 740px) {
    .password-page__logo img {
      max-width: 200px;
    }
  }
  .password-page__newsletter-signup--email::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: {{ section.settings.text_color }};
  }
  .password-page__newsletter-signup--email::-moz-placeholder { /* Firefox 19+ */
    color: {{ section.settings.text_color }};
  }
  .password-page__newsletter-signup--email:-ms-input-placeholder { /* IE 10+ */
    color: {{ section.settings.text_color }};
  }
  .password-page__newsletter-signup--email:-moz-placeholder { /* Firefox 18- */
    color: {{ section.settings.text_color }};
  }
  .password-page__newsletter-signup--submit {
    background-color: {{ section.settings.button_color }} !important;
    color: {{ section.settings.button_text_color }} !important;
  }
  .password-page__newsletter-signup--email {
    border-color: {{ section.settings.border_color }} !important;
  }
  .password p,
  .password a,
  .slideout__trigger-password,
  .password-page__footer,
  .password-page__newsletter-details p {
    color: {{ section.settings.text_color }} !important;
    font-size: {{ section.settings.text_size }}px;
    line-height: initial;
  }
  </style>
</section>


{% schema %}
  {
    "name": "Password page",
    "settings": [
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
      "type":      "range",
      "id":        "logo_max_width",
      "min":       100,
      "max":        300,
      "step":       10,
      "unit":       "px",
      "label":     "Logo image width",
      "default":   250
    },
    {
       "type": "richtext",
       "id": "newsletter_details",
       "label": "Coming soon message",
       "default": "<p>Coming Soon</p><p>Signup for our newsletter and get updated when we launch our site <a href=\"https://example.com/\">see our newsletter policy.</a></p>"
    },
    {
      "type": "range",
      "id": "text_size",
      "min": 12,
      "max": 36,
      "step": 1,
      "unit": "px",
      "label": "Text size",
      "default": 18
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "paragraph",
      "content": "Choose between a background color or background image."
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#f5f5f5"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background image"
    },
    {
       "type":      "checkbox",
       "id":        "show_overlay_color",
       "label":     "Add image overlay",
       "info": "This can help with text contrast",
       "default":   false
    },
    {
      "type": "header",
      "content": "Signup Form"
    },
    {
      "type": "color",
      "id": "border_color",
      "label": "Form Border Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "button_color",
      "label": "Button Background Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "Button Text Color",
      "default": "#ffffff"
    }
    ]
  }
{% endschema %}
