{% if section.settings.show_product_recommendations %}
<div class="desktop-12 tablet-6 span-12 mobile-3" id="related">
  <div class="row grid_wrapper">
    {% assign prod_limit = section.settings.products_shown %}
    <div class="product-recommendations" data-product-id="{{ product.id }}" data-base-url="{{ routes.product_recommendations_url }}" data-limit="{{ section.settings.products_shown }}">
      {%- if recommendations.products_count > 0 -%}
        <h4 class="section-title">{{ section.settings.product_recommendations_heading }}</h4>
          {%- for product in recommendations.products -%}
           {% assign products_per_row = section.settings.products_per_row %}
          <div class="product product-index {% if products_per_row == 4 %}desktop-3{% cycle ' first', '', '', ' last' %}{% elsif products_per_row == 3 %}medium_grid desktop-4{% cycle ' first', '', ' last' %}{% elsif products_per_row == 2 %}large_grid desktop-6{% cycle ' first', ' last' %}{% endif %} tablet-half mobile-half{% if settings.animation != 'none' %} animate {{ settings.animation }}{% endif %}">
            <a href="{{ product.url }}">
              <div class="ci">
                <img class="product__img" src="{{ product.featured_media | img_url: '300x300' }}" alt="{{ product.featured_media.alt }}" />
              </div>
              <div class="product-details">
                <h4 class="product-title">
                  <a href="{{ product.url | within: collection }}">
                    {{ product.title }}
                  </a>
                </h4>
                {% if settings.vendor %}
                  <p class="product-vendor">{{ product.vendor }}</p>
                {% endif %}
                <p class="product__price">{{ product.price | money}}</p>
              </div>
            </a>
          </div>
          {%- endfor -%}
      {%- endif -%}
    </div>
  </div>
</div>
{% endif %}

{% javascript %}
  var loadProductRecommendationsIntoSection = function() {
    // Look for an element with class 'product-recommendations'
    var productRecommendationsSection = document.querySelector(".product-recommendations");

    if (productRecommendationsSection === null) { return false; }

    var recommended_url = productRecommendationsSection.dataset.baseUrl;

    // Read product id from data attribute
    var productId = productRecommendationsSection.dataset.productId;

    // Read limit from data attribute
    var limit = productRecommendationsSection.dataset.limit;

    // Build request URL
    var requestUrl = recommended_url + '?section_id=product-recommendations&limit=' + limit + '&product_id=' + productId;

    // Create request and submit it using Ajax
    var request = new XMLHttpRequest();
    request.open("GET", requestUrl);
    request.onload = function() {
      if (request.status >= 200 && request.status < 300) {
        var container = document.createElement("div");
        container.innerHTML = request.response;
        productRecommendationsSection.parentElement.innerHTML = container.querySelector(".product-recommendations").innerHTML;
      }
    };
    request.send();
  };
  document.addEventListener("shopify:section:load", function(event) {
    if (event.detail.sectionId === "product-recommendations") {
      loadProductRecommendationsIntoSection();
    }
  });
  // Fetching the recommendations on page load
  loadProductRecommendationsIntoSection();
{% endjavascript %}


{% schema %}
{
  "name": "Product Recommendations",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_product_recommendations",
      "label": "Show dynamic recommendations",
      "info": "Dynamic recommendations change and improve with time. [Learn more](https://help.shopify.com/en/themes/development/recommended-products)",
      "default": true
    },
    {
      "type": "range",
      "id": "products_per_row",
      "min": 2,
      "max": 4,
      "step": 1,
      "label": "Products per row",
      "default": 4
    },
    {
      "type": "range",
      "id": "products_shown",
      "min": 2,
      "max": 16,
      "step": 1,
      "label": "Products shown",
      "default": 8
    },
    {
      "type": "text",
      "id": "product_recommendations_heading",
      "label": "Heading",
      "default": "You may also like"
    }
  ]
}
{% endschema %}
