/** VERSION: 1.4.4. Please don't modify or unzip this content. It will be updated regularly **/
{% assign breakpointMobile = '767px' %}
{% assign breakpointDesktop = '768px' %}
{% assign searchBoxMobileHeight = '64px' %}


/*! nouislider - 14.1.1 - 12/15/2019 */
.noUi-target, .noUi-target * {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.noUi-target {
    position: relative
}

.noUi-base, .noUi-connects {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1
}

.noUi-connects {
    overflow: hidden;
    z-index: 0
}

.noUi-connect, .noUi-origin {
    will-change: transform;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -webkit-transform-style: preserve-3d;
    transform-origin: 0 0;
    transform-style: flat
}

.noUi-connect {
    height: 100%;
    width: 100%
}

.noUi-origin {
    height: 10%;
    width: 10%
}

.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
    left: 0;
    right: auto
}

.noUi-vertical .noUi-origin {
    width: 0
}

.noUi-horizontal .noUi-origin {
    height: 0
}

.noUi-handle {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute
}

.noUi-touch-area {
    height: 100%;
    width: 100%
}

.noUi-state-tap .noUi-connect, .noUi-state-tap .noUi-origin {
    transition: transform 0.3s;
    -moz-transform: transform 0.3s;
    -webkit-transform: transform 0.3s;
    -o-transform: transform 0.3s
}

.noUi-state-drag * {
    cursor: inherit !important
}

.noUi-horizontal {
    height: 18px
}

.noUi-horizontal .noUi-handle {
    width: 34px;
    height: 28px;
    right: -17px;
    top: -6px
}

.noUi-vertical {
    width: 18px
}

.noUi-vertical .noUi-handle {
    width: 28px;
    height: 34px;
    right: -6px;
    top: -17px
}

.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
    left: -17px;
    right: auto
}

.noUi-target {
    background: #FAFAFA;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border: 1px solid #D3D3D3;
    box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
    -moz-box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
    -webkit-box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
    -o-box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
    -ms-box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB
}

.noUi-connects {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px
}

.noUi-connect {
    background: #3FB8AF
}

.noUi-draggable {
    cursor: ew-resize
}

.noUi-vertical .noUi-draggable {
    cursor: ns-resize
}

.noUi-handle {
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background: #FFF;
    cursor: default;
    box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
    -moz-box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
    -webkit-box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
    -o-box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
    -ms-box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB
}

.noUi-active {
    box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB;
    -moz-box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB;
    -webkit-box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB;
    -o-box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB;
    -ms-box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB
}

.noUi-handle:before, .noUi-handle:after {
    content: "";
    display: block;
    position: absolute;
    height: 14px;
    width: 1px;
    background: #E8E7E6;
    left: 14px;
    top: 6px
}

.noUi-handle:after {
    left: 17px
}

.noUi-vertical .noUi-handle:before, .noUi-vertical .noUi-handle:after {
    width: 14px;
    height: 1px;
    left: 6px;
    top: 14px
}

.noUi-vertical .noUi-handle:after {
    top: 17px
}

[disabled] .noUi-connect {
    background: #B8B8B8
}

[disabled].noUi-target, [disabled].noUi-handle, [disabled] .noUi-handle {
    cursor: not-allowed
}

.noUi-pips, .noUi-pips * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.noUi-pips {
    position: absolute;
    color: #999
}

.noUi-value {
    position: absolute;
    white-space: nowrap;
    text-align: center
}

.noUi-value-sub {
    color: #ccc;
    font-size: 10px
}

.noUi-marker {
    position: absolute;
    background: #CCC
}

.noUi-marker-sub {
    background: #AAA
}

.noUi-marker-large {
    background: #AAA
}

.noUi-pips-horizontal {
    padding: 10px 0;
    height: 80px;
    top: 100%;
    left: 0;
    width: 100%
}

.noUi-value-horizontal {
    transform: translate(-50%, 50%);
    -moz-transform: translate(-50%, 50%);
    -webkit-transform: translate(-50%, 50%);
    -o-transform: translate(-50%, 50%)
}

.noUi-rtl .noUi-value-horizontal {
    transform: translate(50%, 50%);
    -moz-transform: translate(50%, 50%);
    -webkit-transform: translate(50%, 50%);
    -o-transform: translate(50%, 50%)
}

.noUi-marker-horizontal.noUi-marker {
    margin-left: -1px;
    width: 2px;
    height: 5px
}

.noUi-marker-horizontal.noUi-marker-sub {
    height: 10px
}

.noUi-marker-horizontal.noUi-marker-large {
    height: 15px
}

.noUi-pips-vertical {
    padding: 0 10px;
    height: 100%;
    top: 0;
    left: 100%
}

.noUi-value-vertical {
    transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    padding-left: 25px
}

.noUi-rtl .noUi-value-vertical {
    -webkit-transform: translate(0, 50%);
    transform: translate(0, 50%)
}

.noUi-marker-vertical.noUi-marker {
    width: 5px;
    height: 2px;
    margin-top: -1px
}

.noUi-marker-vertical.noUi-marker-sub {
    width: 10px
}

.noUi-marker-vertical.noUi-marker-large {
    width: 15px
}

.noUi-tooltip {
    display: block;
    position: absolute;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background: #fff;
    color: #000;
    padding: 5px;
    text-align: center;
    white-space: nowrap
}

.noUi-horizontal .noUi-tooltip {
    transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    left: 50%;
    bottom: 120%
}

.noUi-vertical .noUi-tooltip {
    transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    top: 50%;
    right: 120%
}

@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

div.checker, div.selector.focus, div.selector.hover {
    opacity: 1
}

.boost-pfs-body-no-scroll {
    overflow: hidden;
    -webkit-overflow: hidden;
    position: fixed
}

.boost-pfs-body-no-scroll body {
    overflow: hidden;
    -webkit-overflow: hidden;
    position: fixed
}

@media (min-width: {{breakpointDesktop}}) {
    .boost-pfs-filter-tree-hide-desktop {
        display: none
    }
}

@media (max-width: {{breakpointMobile}}) {
    .boost-pfs-filter-tree-hide-mobile {
        display: none
    }
}

.boost-pfs-filter-clearfix {
    clear: both
}

.boost-pfs-filter-option-hidden {
    display: none !important
}

.boost-pfs-filter-sprite {
    background: url(boost-pfs-filter-sprite.png?v=6) no-repeat
}

.boost-pfs-filter-option .boost-pfs-filter-option-content .boost-pfs-filter-option-range-amount {
    margin-bottom: 20px
}

.boost-pfs-filter-option .boost-pfs-filter-option-content .boost-pfs-filter-option-amount {
    margin-left: 3px;
    float: right;
    opacity: .6;
    filter: alpha(opacity=60)
}

.boost-pfs-filter-option .boost-pfs-filter-option-content label {
    font-weight: normal;
    display: inline-block;
    cursor: pointer;
    float: none
}

.boost-pfs-filter-option .boost-pfs-filter-option-content .boost-pfs-filter-option-content-inner ~ a {
    margin-right: 10px
}

.boost-pfs-filter-error {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    position: fixed;
    top: 50% !important;
    bottom: auto;
    left: 50%;
    max-width: 100%;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    -ms-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    z-index: 999999999;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 14px
}

.boost-pfs-filter-error .btn-wrapper {
    text-align: right;
    margin-top: 10px
}

.boost-pfs-filter-error .btn-wrapper button {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
    -ms-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 11px;
    border: 1px solid #ccc;
    font-size: 12px
}

.boost-pfs-filter-message {
    text-align: center;
    font-size: 14px
}

.boost-pfs-filter-top-notification {
    text-align: center
}

.boost-pfs-filter-bottom-pagination, .boost-pfs-filter-top-pagination {
    display: none
}

.boost-pfs-filter-btn-load-previous-page {
    text-align: center;
    clear: both;
    margin-bottom: 20px
}

.boost-pfs-filter-btn-load-previous-page .js-boost-pfs-filter-btn-load-previous-page {
    height: auto;
    background-color: transparent;
    padding: 10px 20px;
    border: 1px solid #333;
    color: #000;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top
}

.boost-pfs-filter-tree-v.boost-pfs-filter-tree-no-filter-data {
    display: none !important
}

.boost-pfs-filter-products-no-filter-data {
    width: 100% !important
}

.boost-pfs-filter-button {
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    background: none;
    white-space: initial;
    line-height: inherit;
    margin: 0;
    min-height: auto;
    height: auto;
    vertical-align: inherit;
    text-align: left;
    min-width: 0;
    display: inline-block;
    text-decoration: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -ms-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

.boost-pfs-filter-button span {
    display: inline;
    word-break: break-all;
    word-break: break-word
}

.boost-pfs-filter-button:hover {
    border: none;
    background-color: inherit;
    color: inherit
}

.boost-pfs-filter-button:focus {
    outline: 0
}

.boost-pfs-filter-button:after {
    display: none
}

.boost-pfs-filter-button:before {
    display: none
}

.boost-pfs-filter-button button:hover {
    border: none;
    background-color: inherit;
    color: inherit
}

.boost-pfs-filter-button button:focus {
    outline: 0
}

#boost-pfs-filter-top-sorting-select:hover, .boost-pfs-filter-top-sorting-select:hover {
    border: none;
    background-color: inherit;
    color: inherit
}

#boost-pfs-filter-top-sorting-select:focus, .boost-pfs-filter-top-sorting-select:focus {
    outline: 0
}

.template-collection .page-container, .template-search .page-container {
    overflow: visible
}

.boost-pfs-filter-tree-open-body.template-collection #PageContainer, .boost-pfs-filter-tree-open-body.collection #PageContainer {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
}

.boost-pfs-filter-loading {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    position: fixed;
    top: 50% !important;
    bottom: auto;
    left: 50%;
    right: auto;
    width: 56px;
    height: 56px;
    margin-left: -28px;
    margin-top: -28px;
    overflow: hidden;
    padding: 0;
    text-align: center;
    text-indent: -999em;
    -ms-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    z-index: 9999999999
}

.boost-pfs-filter-loading .boost-pfs-filter-loading-icon {
    display: block;
    font-size: 10px;
    margin: 14px auto;
    text-indent: -9999em;
    width: 28px;
    height: 28px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ffffff;
    background: -moz-linear-gradient(left, #333 50%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(left, #333 50%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(left, #333 50%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(left, #333 50%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, #333 50%, rgba(255, 255, 255, 0) 100%);
    position: relative;
    -webkit-animation: load3 0.7s infinite linear;
    animation: load3 0.7s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 999999
}

.boost-pfs-filter-loading .boost-pfs-filter-loading-icon:before {
    width: 50%;
    height: 50%;
    background: #333;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: ''
}

.boost-pfs-filter-loading .boost-pfs-filter-loading-icon:after {
    background: #fff;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.boost-pfs-filter-load-more-loading-icon {
    display: block;
    font-size: 10px;
    margin: 14px auto;
    text-indent: -9999em;
    width: 28px;
    height: 28px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ffffff;
    background: -moz-linear-gradient(left, #333 50%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(left, #333 50%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(left, #333 50%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(left, #333 50%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, #333 50%, rgba(255, 255, 255, 0) 100%);
    position: relative;
    -webkit-animation: load3 0.7s infinite linear;
    animation: load3 0.7s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 999999
}

.boost-pfs-filter-load-more-loading-icon:before {
    width: 50%;
    height: 50%;
    background: #333;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: ''
}

.boost-pfs-filter-load-more-loading-icon:after {
    background: #fff;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.boost-pfs-filter-tree *, .boost-pfs-filter-tree *::before, .boost-pfs-filter-tree *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

@media screen and (min-width: {{breakpointDesktop}}) {
    .boost-pfs-filter-mobile-toolbar, .boost-pfs-filter-mobile-footer, .boost-pfs-filter-selected-items-mobile {
        display: none
    }

    .boost-pfs-filter-tree[data-is-mobile] {
        display: none
    }
}

@media screen and (max-width: {{breakpointMobile}}) {
    .boost-pfs-filter-tree[data-is-desktop] {
        display: none
    }
}

.boost-pfs-filter-tree-v .boost-pfs-filter-option-title-text:before {
    content: '';
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: #000;
    display: inline-block;
    margin: 0 10px -2px 0
}

.boost-pfs-filter-tree-v .boost-pfs-filter-option {
    margin: 0;
    padding: 20px 0;
    border-top: 1px solid #e3e3e3;
    position: static;
    width: 100%
}

.boost-pfs-filter-tree-v .boost-pfs-filter-option:first-child {
    padding-top: 0;
    border-top: none
}

.boost-pfs-filter-tree-v .boost-pfs-filter-option:last-child {
    border-bottom: 0
}

.boost-pfs-filter-tree-v .boost-pfs-filter-option .boost-pfs-filter-option-title {
    overflow: visible;
    line-height: 20px;
    position: relative
}

.boost-pfs-filter-tree-v .boost-pfs-filter-option .boost-pfs-filter-option-title .boost-pfs-filter-option-title-heading {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
    line-height: 20px;
    padding-bottom: 5px;
    width: auto
}

.boost-pfs-filter-tree-v .boost-pfs-filter-option .boost-pfs-filter-option-title .boost-pfs-filter-clear {
    padding-bottom: 5px;
    width: auto;
    padding-left: 5px
}

.boost-pfs-filter-tree-v .boost-pfs-filter-option .boost-pfs-filter-option-content {
    width: 100% !important
}

.boost-pfs-filter-tree-v .boost-pfs-filter-option .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list-box li {
    min-width: 33%;
    float: left
}

.boost-pfs-filter-tree-v .boost-pfs-filter-option.boost-pfs-filter-option-collapsed .boost-pfs-filter-option-title-text:before {
    border-top-color: transparent;
    border-bottom-color: #000;
    margin-bottom: 2px
}

.boost-pfs-filter-tree-v .boost-pfs-filter-clear, .boost-pfs-filter-tree-v .boost-pfs-filter-clear-all {
    float: right;
    font-size: 80%;
    margin: 0;
    line-height: 22px
}

.boost-pfs-filter-tree-v .boost-pfs-filter-apply-button {
    display: none
}

.boost-pfs-filter-tree-v .boost-pfs-filter-option-range {
    padding-bottom: 30px
}

.boost-pfs-filter-tree-v .boost-pfs-filter-option-multi-level-tag .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-box .boost-pfs-filter-option-first-level-item {
    width: 100%
}

.boost-pfs-filter-tree-v .boost-pfs-filter-option-multi-level-tag .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-swatch.circle-list .boost-pfs-filter-option-multi-level-item {
    display: block
}

.boost-pfs-filter-tree-h {
    position: relative;
    margin-bottom: 20px;
    text-align: left
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option-title-heading {
    display: block;
    position: relative;
    padding: 5px 15px 5px 0;
    font-size: 14px;
    margin-right: 0;
    opacity: 1;
    filter: alpha(opacity=100);
    text-decoration: none;
    background: transparent;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 1.5;
    -ms-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option-title-heading:before {
    top: 50%;
    right: 0;
    left: auto;
    position: absolute;
    margin-top: -2px;
    content: "";
    width: 5px;
    height: 5px;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    display: inline-block;
    -moz-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    -webkit-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
    -ms-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    width: 7px;
    height: 7px
}

.boost-pfs-filter-tree-h a {
    text-decoration: none
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option {
    margin: 0;
    padding-bottom: 10px;
    margin-right: 40px;
    display: inline-block
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option .boost-pfs-filter-option-content {
    display: none;
    background: #fff;
    padding: 20px;
    margin-top: 5px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 100%;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -ms-box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
    z-index: 999;
    margin-top: 5px
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option .boost-pfs-filter-option-content a {
    cursor: pointer
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list li {
    display: inline-block
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list li a {
    margin-bottom: 0
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-swatch.circle-grid li, .boost-pfs-filter-tree-h .boost-pfs-filter-option .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-swatch.square-grid li {
    width: auto
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list li {
    width: 33.33%;
    vertical-align: top
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option .boost-pfs-filter-option-content .boost-pfs-filter-option-content-inner {
    padding: 0;
    width: 100%
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option .boost-pfs-filter-option-content .boost-pfs-filter-clear {
    margin: 10px 0px 0px 0px;
    cursor: pointer
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list-box li {
    min-width: 16.66%;
    width: auto
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list-box li a {
    width: auto
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list-box li a:hover {
    border-color: #000 !important;
    background: #000 !important;
    color: #fff !important
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list-box li a.selected {
    text-decoration: bold !important;
    border-color: #000 !important;
    background: #000 !important;
    color: #fff !important
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list-box li a.selected:hover {
    font-weight: 700 !important
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list-rating li {
    width: calc(25% - 20px)
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option .boost-pfs-filter-option-content .boost-pfs-filter-clear {
    display: inline-block;
    margin-top: 15px;
    line-height: 40px;
    text-decoration: underline;
    vertical-align: top;
    text-transform: lowercase
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option .boost-pfs-filter-option-content .boost-pfs-filter-option-amount {
    float: none
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option.boost-pfs-filter-option-collapsed .boost-pfs-filter-option-title .boost-pfs-filter-option-title-heading:before {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: -6px
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option.boost-pfs-filter-option-collapsed .boost-pfs-filter-option-title .boost-pfs-filter-option-title-heading:after {
    display: none
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option:not(.boost-pfs-filter-option-collapsed) .boost-pfs-filter-option-title {
    position: relative;
    z-index: 999999
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option:not(.boost-pfs-filter-option-collapsed) .boost-pfs-filter-option-title:before, .boost-pfs-filter-tree-h .boost-pfs-filter-option:not(.boost-pfs-filter-option-collapsed) .boost-pfs-filter-option-title:after {
    content: '';
    position: absolute
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option:not(.boost-pfs-filter-option-collapsed) .boost-pfs-filter-option-title:before {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 20px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    -ms-box-shadow: -2px -2px 6px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: -2px -2px 6px rgba(0, 0, 0, 0.12);
    box-shadow: -2px -2px 6px rgba(0, 0, 0, 0.12);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option:not(.boost-pfs-filter-option-collapsed) .boost-pfs-filter-option-title:after {
    bottom: -24px;
    left: 18px;
    width: 14px;
    height: 14px;
    background-color: #fff;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option.boost-pfs-filter-option-column-1 {
    position: relative
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option.boost-pfs-filter-option-column-1 .boost-pfs-filter-option-content {
    width: 250px
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option.boost-pfs-filter-option-column-1 .boost-pfs-filter-option-content .boost-pfs-filter-option-range-slider {
    width: calc(100% - 18px)
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option.boost-pfs-filter-option-column-1 .boost-pfs-filter-option-content ul li {
    width: 100%
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option.boost-pfs-filter-option-column-1 .boost-pfs-filter-option-content ul.boost-pfs-filter-option-item-list-box li {
    width: auto;
    min-width: 50%
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option.boost-pfs-filter-option-column-1.boost-pfs-filter-option-range .boost-pfs-filter-option-content {
    width: 532px
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option.boost-pfs-filter-option-column-1.boost-pfs-filter-option-range.boost-pfs-filter-option-center .boost-pfs-filter-option-content {
    left: -200px
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option.boost-pfs-filter-option-column-1.boost-pfs-filter-option-range.boost-pfs-filter-option-center .boost-pfs-filter-option-content:before {
    left: 220px
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option.boost-pfs-filter-option-column-1.boost-pfs-filter-option-range.boost-pfs-filter-option-center .boost-pfs-filter-option-content:after {
    left: 218px
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option.boost-pfs-filter-option-column-2 {
    position: relative
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option.boost-pfs-filter-option-column-2 .boost-pfs-filter-option-content {
    width: 532px
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option.boost-pfs-filter-option-column-2 .boost-pfs-filter-option-content ul li {
    width: calc(48% - 20px)
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option.boost-pfs-filter-option-column-2 .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list-box li {
    min-width: 16.66%;
    width: auto
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option.boost-pfs-filter-option-column-3 {
    position: relative
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option.boost-pfs-filter-option-column-3 .boost-pfs-filter-option-content {
    width: 700px
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option.boost-pfs-filter-option-column-3 .boost-pfs-filter-option-content ul li {
    width: calc(33% - 20px)
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option.boost-pfs-filter-option-right .boost-pfs-filter-option-content {
    right: 0;
    left: auto
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option.boost-pfs-filter-option-right .boost-pfs-filter-option-content:before {
    left: auto;
    right: 28px
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option.boost-pfs-filter-option-right .boost-pfs-filter-option-content:after {
    left: auto;
    right: 28px
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option.boost-pfs-filter-scrollbar-loading .boost-pfs-filter-option-content {
    position: absolute
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option.boost-pfs-filter-scrollbar-loading .boost-pfs-filter-option-content:before {
    top: 204px
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option.boost-pfs-filter-scrollbar-loading .boost-pfs-filter-option-content:after {
    top: 220px
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option-range .boost-pfs-filter-option-content-inner {
    margin-top: 20px;
    margin-bottom: 50px;
    max-width: 700px
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option-range .boost-pfs-filter-option-range-amount {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option-range .boost-pfs-filter-option-range-amount input {
    width: 100%;
    text-indent: 0
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option-range .boost-pfs-filter-option-range-amount > * {
    flex: 1;
    text-align: center;
    line-height: 40px;
    height: 40px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option-box .boost-pfs-filter-option-content-inner {
    max-width: 700px
}

.boost-pfs-filter-tree-h .boost-pfs-filter-refine-by {
    *zoom: 1
}

.boost-pfs-filter-tree-h .boost-pfs-filter-refine-by > span {
    line-height: 26px
}

.boost-pfs-filter-tree-h .boost-pfs-filter-refine-by .boost-pfs-filter-refine-by-items {
    float: left
}

.boost-pfs-filter-tree-h .boost-pfs-filter-refine-by .boost-pfs-filter-refine-by-items .refine-by-item > a {
    line-height: 26px;
    height: 26px;
    background-color: #f5f5f5;
    -moz-border-radius: 50em;
    -webkit-border-radius: 50em;
    border-radius: 50em;
    padding: 0 30px 0 12px;
    transition: background-color 0.5s ease;
    outline: none
}

.boost-pfs-filter-tree-h .boost-pfs-filter-refine-by .boost-pfs-filter-refine-by-items .refine-by-item > a:hover, .boost-pfs-filter-tree-h .boost-pfs-filter-refine-by .boost-pfs-filter-refine-by-items .refine-by-item > a:focus {
    background-color: rgba(0, 0, 0, 0.2)
}

.boost-pfs-filter-tree-h .boost-pfs-filter-refine-by .boost-pfs-filter-refine-by-items .refine-by-item .boost-pfs-filter-clear {
    background-color: transparent;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin-left: 0
}

.boost-pfs-filter-tree-h .boost-pfs-filter-refine-by .boost-pfs-filter-refine-by-items .refine-by-item .boost-pfs-filter-clear::before, .boost-pfs-filter-tree-h .boost-pfs-filter-refine-by .boost-pfs-filter-refine-by-items .refine-by-item .boost-pfs-filter-clear::after {
    background: #3D4246;
    top: 13px;
    right: 7px
}

.boost-pfs-filter-tree-h .boost-pfs-filter-refine-by .boost-pfs-filter-clear-all {
    height: 26px;
    line-height: 26px;
    text-decoration: underline;
    float: left;
    text-transform: lowercase
}

.boost-pfs-filter-tree-h .boost-pfs-filter-refine-by:after {
    content: '';
    display: table;
    clear: both
}

.boost-pfs-filter-tree-mobile-button {
    display: none
}

.boost-pfs-filter-tree-mobile-button button {
    width: 100%;
    background: #000;
    color: #fff;
    padding: 10px 0;
    margin: 20px 0;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    display: block
}

.boost-pfs-filter-option-title {
    *zoom: 1
}

.boost-pfs-filter-option-title .boost-pfs-filter-option-title-heading {
    display: inline-block
}

.boost-pfs-filter-option-title .boost-pfs-filter-option-title-heading:focus {
    outline: none
}

.boost-pfs-filter-option-title .boost-pfs-filter-option-title-heading span {
    cursor: pointer
}

.boost-pfs-filter-option-title .boost-pfs-filter-option-title-heading .boost-pfs-filter-option-title-count {
    display: none
}

.boost-pfs-filter-option-title:after {
    content: '';
    display: table;
    clear: both
}

.boost-pfs-filter-option-item > button {
    color: inherit
}

.boost-pfs-filter-option-item > button:hover, .boost-pfs-filter-option-item > button:focus {
    color: inherit
}

.boost-pfs-filter-option-content {
    padding-top: 15px
}

.boost-pfs-filter-option-content .boost-pfs-filter-option-item-list {
    padding-left: 0;
    margin: 0 -8px;
    list-style: none
}

.boost-pfs-filter-option-content .boost-pfs-filter-option-item-list .boost-pfs-filter-option-item {
    cursor: pointer;
    margin-top: 7px;
    margin-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;
    list-style: none;
    line-height: 24px;
    vertical-align: top;
    margin-left: 0;
    margin-right: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.boost-pfs-filter-option-content .boost-pfs-filter-option-item-list .boost-pfs-filter-option-item:focus {
    outline: none
}

.boost-pfs-filter-option-content .boost-pfs-filter-option-item-list .boost-pfs-filter-option-item.disabled {
    opacity: .3 !important;
    filter: alpha(opacity=30) !important
}

.boost-pfs-filter-option-content .boost-pfs-filter-option-item-list .boost-pfs-filter-option-item.selected {
    font-weight: 700
}

.boost-pfs-filter-option-content .boost-pfs-filter-option-item-list .boost-pfs-filter-option-item.selected .boost-pfs-filter-option-amount {
    opacity: 1;
    filter: alpha(opacity=100)
}

.boost-pfs-filter-option-content .boost-pfs-filter-option-item-list .boost-pfs-filter-option-item:before {
    display: none
}

.boost-pfs-filter-option-content .boost-pfs-filter-option-item-list .boost-pfs-filter-option-item button, .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list .boost-pfs-filter-option-item a {
    display: block;
    background: none;
    border: none;
    width: 100%;
    position: static;
    text-decoration: none;
    color: black
}

.boost-pfs-filter-option-content .boost-pfs-filter-option-item-list:not(.boost-pfs-filter-option-item-list-multiple-list) .boost-pfs-check-box {
    display: none
}

.boost-pfs-filter-option-content .boost-pfs-filter-button-arrow {
    float: right
}

.boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-box:after {
    clear: both;
    content: '';
    display: block
}

.boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-box .boost-pfs-filter-option-item {
    float: left;
    display: inline-block;
    border: none;
    text-align: center;
    margin-bottom: 15px
}

.boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-box .boost-pfs-filter-option-item > button {
    line-height: 34px;
    display: block;
    width: 100%;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #ccc
}

.boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-box .boost-pfs-filter-option-item > button:hover {
    background: #000;
    color: #fff;
    border-color: #000
}

.boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-box .boost-pfs-filter-option-item > button:hover span {
    color: #fff
}

.boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-box .boost-pfs-filter-option-item > button .boost-pfs-check-box, .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-box .boost-pfs-filter-option-item > button .boost-pfs-filter-option-amount {
    display: none
}

.boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-box .boost-pfs-filter-option-item.selected > button {
    border-color: #000;
    background: #000;
    color: #fff !important
}

.boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-box .boost-pfs-filter-option-item.selected > button span {
    color: #fff
}

.boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-multiple-list li {
    position: relative;
    padding-left: 30px
}

.boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-multiple-list li:hover {
    text-decoration: none;
    opacity: 1;
    filter: alpha(opacity=100)
}

.boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-multiple-list li .boost-pfs-check-box {
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 15px;
    height: 15px;
    background: 0 0;
    display: inline-block;
    position: absolute;
    left: 9px;
    top: 4px
}

.boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-multiple-list li.selected .boost-pfs-check-box:before {
    content: '';
    width: 9px;
    height: 6px;
    border: 2px solid #000;
    border-top: none;
    border-right: none;
    background: 0 0;
    -ms-transform: rotate(-50deg);
    -webkit-transform: rotate(-50deg);
    transform: rotate(-50deg);
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 2px;
    left: 2px
}

.boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-multiple-list li input[type=checkbox] {
    cursor: pointer
}

.boost-pfs-filter-option-range .boost-pfs-filter-option-range-slider {
    margin: 0 auto;
    overflow: visible;
    width: calc(100% - 20px);
    margin-top: 25px;
    margin-bottom: 35px;
    background: #B9B9B9;
    box-shadow: none;
    border: none;
    height: 2px
}

@media (max-width: {{breakpointMobile}}) {
    .boost-pfs-filter-option-range .boost-pfs-filter-option-range-slider {
        width: calc(100% - 36px)
    }
}

.boost-pfs-filter-option-range .boost-pfs-filter-option-range-slider .noUi-pips-horizontal {
    font-size: 12px;
    color: black
}

.boost-pfs-filter-option-range .boost-pfs-filter-option-range-slider .noUi-pips-horizontal .noUi-marker {
    width: 1px;
    height: 6px;
    top: -4px
}

.boost-pfs-filter-option-range .boost-pfs-filter-option-range-slider .noUi-pips-horizontal .noUi-marker.noUi-marker-large {
    background: #3D4246;
    border-left: 1px solid
}

.boost-pfs-filter-option-range .boost-pfs-filter-option-range-slider .noUi-connect {
    background: #3D4246;
    border: 1px solid
}

.boost-pfs-filter-option-range .boost-pfs-filter-option-range-slider .noUi-origin .noUi-handle {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    right: -10px;
    top: -10px;
    cursor: pointer;
    border: 1px solid #3D4246;
    -ms-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

@media (max-width: {{breakpointMobile}}) {
    .boost-pfs-filter-option-range .boost-pfs-filter-option-range-slider .noUi-origin .noUi-handle {
        width: 28px;
        height: 28px;
        top: -14px;
        right: -14px
    }
}

.boost-pfs-filter-option-range .boost-pfs-filter-option-range-slider .noUi-handle {
    right: -1px;
    top: -7px
}

.boost-pfs-filter-option-range .boost-pfs-filter-option-range-slider .noUi-handle:before, .boost-pfs-filter-option-range .boost-pfs-filter-option-range-slider .noUi-handle:after {
    content: none
}

.boost-pfs-filter-option-range .boost-pfs-filter-option-range-slider .noUi-handle:focus {
    outline: none
}

.boost-pfs-filter-option-range .boost-pfs-filter-option-range-amount {
    position: relative;
    margin-bottom: 0
}

.boost-pfs-filter-option-range .boost-pfs-filter-option-range-amount:after {
    clear: both;
    content: '';
    display: block
}

.boost-pfs-filter-option-range .boost-pfs-filter-option-range-amount input {
    position: relative;
    width: calc(50% - 15px);
    height: 36px;
    float: left;
    margin: 0 0 10px;
    padding: 1px 5px;
    line-height: 24px;
    border: 1px solid #e3e3e3;
    clear: none;
    min-height: auto;
    min-width: auto;
    text-align: center
}

.boost-pfs-filter-option-range .boost-pfs-filter-option-range-amount input:focus {
    outline: none
}

.boost-pfs-filter-option-range .boost-pfs-filter-option-range-amount .boost-pfs-filter-option-range-amount-split {
    float: left;
    font-size: 14px;
    line-height: 36px;
    width: 30px;
    text-align: center
}

.boost-pfs-filter-option-range .boost-pfs-filter-option-range-amount > span:first-child {
    float: left
}

.boost-pfs-filter-option-range .boost-pfs-filter-option-range-amount > span:last-child {
    float: right
}

.boost-pfs-filter-option-range .boost-pfs-filter-option-range-amount > span:nth-child(2) {
    display: none
}

.boost-pfs-filter-option-range-style2 .boost-pfs-filter-option-range-slider .noUi-value {
    visibility: hidden
}

.boost-pfs-filter-option-range-style2 .boost-pfs-filter-option-range-slider .noUi-tooltip {
    top: 27px;
    border: none;
    font-size: 12px;
    background: none
}

.boost-pfs-filter-option-range-style3 .boost-pfs-filter-option-range-slider {
    margin-bottom: 20px
}

.boost-pfs-filter-option-range-style3 .boost-pfs-filter-option-range-slider .noUi-value, .boost-pfs-filter-option-range-style3 .boost-pfs-filter-option-range-slider .noUi-marker {
    visibility: hidden
}

.boost-pfs-filter-option-range-style3 .boost-pfs-filter-option-range-amount input {
    width: 50px;
    max-width: 50px;
    height: 20px;
    max-height: 20px
}

.boost-pfs-filter-option-range-style3 .boost-pfs-filter-option-range-amount input.boost-pfs-filter-option-range-amount-max {
    float: right
}

.boost-pfs-filter-option-range-style3 .boost-pfs-filter-option-content .boost-pfs-filter-option-range-amount {
    margin-bottom: 0px
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option-range-style3 .boost-pfs-filter-option-range-amount {
    display: block
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option-range-style3 .boost-pfs-filter-option-content-inner {
    margin-bottom: 0px
}

.boost-pfs-filter-option-range-style4 .boost-pfs-filter-option-range-slider .noUi-connects {
    background-color: #3a3a3a
}

.boost-pfs-filter-option-range-style5 .boost-pfs-filter-option-range-slider .noUi-value:last-of-type {
    visibility: hidden
}

.boost-pfs-filter-option-range-style5 .boost-pfs-filter-option-range-slider .noUi-connects {
    height: 5px;
    bottom: 2px
}

.boost-pfs-filter-option-range-style5 .boost-pfs-filter-option-range-slider .noUi-marker:not(:last-of-type):not(:first-of-type) {
    height: 5px;
    background-color: white;
    z-index: 1
}

.boost-pfs-filter-option-range-slider-style2 .noUi-value {
    visibility: hidden
}

.boost-pfs-filter-option-range-slider-style2 .noUi-tooltip {
    bottom: -35px;
    border: none;
    font-size: 12px
}

.boost-pfs-filter-option-range-slider-style2 .noUi-value {
    visibility: hidden
}

.boost-pfs-filter-option-range-slider-style2 .noUi-tooltip {
    bottom: -35px;
    border: none;
    font-size: 12px
}

.boost-pfs-filter-option-range-slider-style2 .noUi-value {
    visibility: hidden
}

.boost-pfs-filter-option-range-slider-style2 .noUi-tooltip {
    bottom: -35px;
    border: none;
    font-size: 12px
}

.boost-pfs-filter-icon-star {
    font-size: 0
}

.boost-pfs-filter-icon-star:before {
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: inherit;
    content: "\2606";
    font-size: 16px
}

.boost-pfs-filter-icon-star.boost-pfs-filter-icon-star-active:before {
    content: "\2605"
}

.boost-pfs-filter-option-sub-category .boost-pfs-filter-option-title {
    padding-bottom: 5px
}

.boost-pfs-filter-option-sub-category .boost-pfs-filter-option-content ul li.selected .boost-pfs-filter-option-item-parent-category {
    font-weight: 700
}

.boost-pfs-filter-option-sub-category .boost-pfs-filter-option-content ul li .boost-pfs-filter-option-item-parent-category {
    margin-bottom: 0;
    margin-left: 20px
}

.boost-pfs-filter-option-sub-category .boost-pfs-filter-option-content ul li .boost-pfs-filter-option-item-sub-category-list {
    padding-bottom: 7px;
    list-style: none;
    margin-left: 40px
}

.boost-pfs-filter-option-multi-level-collections .boost-pfs-filter-option-item-list .boost-pfs-filter-option-item .boost-pfs-filter-option-value, .boost-pfs-filter-option-multi-level-tag .boost-pfs-filter-option-item-list .boost-pfs-filter-option-item .boost-pfs-filter-option-value {
    border: none
}

.boost-pfs-filter-option-multi-level-collections .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-box .boost-pfs-filter-option-first-level-item, .boost-pfs-filter-option-multi-level-tag .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-box .boost-pfs-filter-option-first-level-item {
    display: block;
    margin-right: 0;
    text-align: left;
    border: none
}

.boost-pfs-filter-option-multi-level-collections .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-swatch .boost-pfs-filter-option-item .boost-pfs-check-box, .boost-pfs-filter-option-multi-level-tag .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-swatch .boost-pfs-filter-option-item .boost-pfs-check-box {
    display: none
}

.boost-pfs-filter-option-multi-level-collections .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-multiple-list .boost-pfs-filter-option-first-level-item, .boost-pfs-filter-option-multi-level-collections .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-single-list .boost-pfs-filter-option-first-level-item, .boost-pfs-filter-option-multi-level-tag .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-multiple-list .boost-pfs-filter-option-first-level-item, .boost-pfs-filter-option-multi-level-tag .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-single-list .boost-pfs-filter-option-first-level-item {
    padding-left: 0px
}

.boost-pfs-filter-option-multi-level-collections .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-multiple-list .boost-pfs-filter-option-item, .boost-pfs-filter-option-multi-level-tag .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-multiple-list .boost-pfs-filter-option-item {
    padding-left: 30px
}

.boost-pfs-filter-option-multi-level-collections .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-multiple-list .boost-pfs-filter-option-item .boost-pfs-check-box, .boost-pfs-filter-option-multi-level-tag .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-multiple-list .boost-pfs-filter-option-item .boost-pfs-check-box {
    display: block
}

.boost-pfs-filter-option-multi-level-collections .boost-pfs-filter-option-multi-level-list .boost-pfs-filter-option-multi-level-item, .boost-pfs-filter-option-multi-level-tag .boost-pfs-filter-option-multi-level-list .boost-pfs-filter-option-multi-level-item {
    clear: both
}

.boost-pfs-filter-option-multi-level-collections .boost-pfs-filter-option-multi-level-list .boost-pfs-filter-option-multi-level-item:before, .boost-pfs-filter-option-multi-level-tag .boost-pfs-filter-option-multi-level-list .boost-pfs-filter-option-multi-level-item:before {
    display: none
}

.boost-pfs-filter-option-multi-level-collections .boost-pfs-filter-option-multi-level-list .boost-pfs-filter-option-item.selected .boost-pfs-check-box:before, .boost-pfs-filter-option-multi-level-tag .boost-pfs-filter-option-multi-level-list .boost-pfs-filter-option-item.selected .boost-pfs-check-box:before {
    content: '';
    width: 9px;
    height: 6px;
    border: 2px solid #000;
    border-top: none;
    border-right: none;
    background: 0 0;
    -ms-transform: rotate(-50deg);
    -webkit-transform: rotate(-50deg);
    transform: rotate(-50deg);
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 2px;
    left: 2px
}

.boost-pfs-filter-option-multi-level-collections .boost-pfs-filter-option-multi-level-list .boost-pfs-filter-option-multi-level-list, .boost-pfs-filter-option-multi-level-tag .boost-pfs-filter-option-multi-level-list .boost-pfs-filter-option-multi-level-list {
    padding-left: 24px
}

.boost-pfs-filter-option-multi-level-collections .boost-pfs-filter-option-multi-level-list .boost-pfs-filter-option-item, .boost-pfs-filter-option-multi-level-tag .boost-pfs-filter-option-multi-level-list .boost-pfs-filter-option-item {
    position: relative;
    padding-right: 24px
}

.boost-pfs-filter-option-multi-level-collections .boost-pfs-filter-option-multi-level-list .boost-pfs-filter-option-item .boost-pfs-filter-button-arrow, .boost-pfs-filter-option-multi-level-tag .boost-pfs-filter-option-multi-level-list .boost-pfs-filter-option-item .boost-pfs-filter-button-arrow {
    position: absolute;
    top: 0;
    right: 8px;
    width: auto
}

.boost-pfs-filter-option-multi-level-collections .boost-pfs-filter-option-multi-level-list .boost-pfs-filter-option-item .boost-pfs-filter-button-arrow .boost-pfs-arrow, .boost-pfs-filter-option-multi-level-tag .boost-pfs-filter-option-multi-level-list .boost-pfs-filter-option-item .boost-pfs-filter-button-arrow .boost-pfs-arrow {
    width: 14px;
    height: 14px;
    vertical-align: top
}

.boost-pfs-filter-option-multi-level-collections .boost-pfs-filter-option-multi-level-list .boost-pfs-filter-option-item .boost-pfs-filter-button-arrow .boost-pfs-arrow:before, .boost-pfs-filter-option-multi-level-tag .boost-pfs-filter-option-multi-level-list .boost-pfs-filter-option-item .boost-pfs-filter-button-arrow .boost-pfs-arrow:before {
    content: "";
    margin: 0 10px -2px 0;
    content: "";
    width: 10px;
    height: 10px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    display: inline-block;
    -moz-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    -webkit-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
    -ms-transform: translate(0, -50%) rotate(-45deg);
    -webkit-transform: translate(0, -50%) rotate(-45deg);
    transform: translate(0, -50%) rotate(-45deg);
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    width: 8px;
    height: 8px;
    margin-bottom: -4px
}

.boost-pfs-filter-option-multi-level-collections .boost-pfs-filter-option-multi-level-list .boost-pfs-filter-option-item + .boost-pfs-filter-option-multi-level-list, .boost-pfs-filter-option-multi-level-tag .boost-pfs-filter-option-multi-level-list .boost-pfs-filter-option-item + .boost-pfs-filter-option-multi-level-list {
    display: none
}

.boost-pfs-filter-option-multi-level-collections .boost-pfs-filter-option-multi-level-list .boost-pfs-filter-option-item.boost-pfs-open .boost-pfs-arrow:before, .boost-pfs-filter-option-multi-level-tag .boost-pfs-filter-option-multi-level-list .boost-pfs-filter-option-item.boost-pfs-open .boost-pfs-arrow:before {
    content: "";
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-bottom: 2px
}

.boost-pfs-filter-option-multi-level-collections .boost-pfs-filter-option-multi-level-list .boost-pfs-filter-option-item.boost-pfs-open + .boost-pfs-filter-option-multi-level-list, .boost-pfs-filter-option-multi-level-tag .boost-pfs-filter-option-multi-level-list .boost-pfs-filter-option-item.boost-pfs-open + .boost-pfs-filter-option-multi-level-list {
    display: block
}

.boost-pfs-filter-option-multi-level-collections .boost-pfs-filter-option-multi-level-list .boost-pfs-filter-option-third-level-item .boost-pfs-filter-option-item, .boost-pfs-filter-option-multi-level-tag .boost-pfs-filter-option-multi-level-list .boost-pfs-filter-option-third-level-item .boost-pfs-filter-option-item {
    padding-right: 0
}

.boost-pfs-filter-option-multi-level-collections .boost-pfs-filter-option-first-level-item, .boost-pfs-filter-option-multi-level-tag .boost-pfs-filter-option-first-level-item {
    display: block
}

.boost-pfs-filter-option-multi-level-collections .boost-pfs-filter-option-multi-level-list.boost-pfs-filter-option-item-list-multiple-list .boost-pfs-filter-option-multi-level-list .boost-pfs-filter-option-item {
    padding-left: 30px
}

.boost-pfs-filter-option-multi-level-collections .boost-pfs-filter-option-multi-level-list.boost-pfs-filter-option-item-list-multiple-list .boost-pfs-filter-option-multi-level-list .boost-pfs-filter-option-item .boost-pfs-check-box {
    display: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 15px;
    height: 15px;
    background: 0 0;
    display: inline-block;
    position: absolute;
    left: 9px;
    top: 4px
}

.boost-pfs-filter-option-multi-level-collections .boost-pfs-filter-option-multi-level-list.boost-pfs-filter-option-item-list-multiple-list .boost-pfs-filter-option-multi-level-list .boost-pfs-filter-option-item.selected .boost-pfs-check-box:before {
    content: '';
    width: 9px;
    height: 6px;
    border: 2px solid #000;
    border-top: none;
    border-right: none;
    background: 0 0;
    -ms-transform: rotate(-50deg);
    -webkit-transform: rotate(-50deg);
    transform: rotate(-50deg);
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 2px;
    left: 2px
}

.boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-swatch {
    margin-left: -3px;
    margin-right: -3px
}

.boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-swatch .boost-pfs-filter-option-item {
    padding-left: 3px;
    padding-right: 3px
}

.boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-swatch .boost-pfs-filter-option-item.has-border span.boost-pfs-filter-option-swatch-image {
    border: 1px solid #cbcbcb !important
}

.boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-swatch .boost-pfs-filter-option-item.has-border.selected span.boost-pfs-filter-option-swatch-image {
    border: 1px solid #000 !important
}

@media (min-width: {{breakpointDesktop}}) {
    .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-swatch .boost-pfs-filter-option-item.has-border:hover span.boost-pfs-filter-option-swatch-image {
        border: 1px solid #000 !important
    }
}

.boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-swatch .boost-pfs-filter-option-item .boost-pfs-filter-option-swatch-image {
    display: inline-block;
    vertical-align: middle;
    padding: 2px;
    width: 30px;
    height: 30px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-size: cover;
    -ms-box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.3);
    position: relative
}

.boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-swatch .boost-pfs-filter-option-item .boost-pfs-filter-option-swatch-image:before {
    content: "";
    border: 2px solid transparent;
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: 1px;
    right: 1px;
    z-index: 2
}

.boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-swatch .boost-pfs-filter-option-item .boost-pfs-filter-button {
    padding-top: 3px
}

.boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-swatch .boost-pfs-filter-option-item.selected {
    font-weight: 700
}

.boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-swatch .boost-pfs-filter-option-item.selected .boost-pfs-filter-option-swatch-image {
    border: 1px solid #000 !important
}

.boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-swatch .boost-pfs-filter-option-item.selected .boost-pfs-filter-option-swatch-image:before {
    border-color: #fff
}

@media (min-width: 1025px) {
    .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-swatch .boost-pfs-filter-option-item:hover .boost-pfs-filter-option-swatch-image {
        border: 1px solid #000 !important
    }

    .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-swatch .boost-pfs-filter-option-item:hover .boost-pfs-filter-option-swatch-image:before {
        border-color: #fff
    }
}

.boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-swatch.circle-list li, .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-swatch.square-list li {
    padding-left: 40px;
    position: relative;
    display: block;
    min-height: 36px
}

.boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-swatch.circle-list li .boost-pfs-filter-option-swatch-image, .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-swatch.square-list li .boost-pfs-filter-option-swatch-image {
    margin-right: 6px;
    position: absolute;
    top: 0;
    left: 3px
}

.boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-swatch.circle-list li .boost-pfs-filter-option-swatch-image + .boost-pfs-filter-button, .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-swatch.square-list li .boost-pfs-filter-option-swatch-image + .boost-pfs-filter-button {
    margin-top: 2px
}

.boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-swatch.square-grid li {
    display: inline-block;
    margin-top: 4px;
    margin-bottom: 4px;
    width: auto
}

.boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-swatch.square-grid li .boost-pfs-filter-option-swatch-image + .boost-pfs-filter-button {
    display: none
}

.boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-swatch.square-list li {
    display: block
}

.boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-swatch.circle-grid li {
    display: inline-block;
    margin-top: 4px;
    margin-bottom: 4px;
    width: auto
}

.boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-swatch.circle-grid li .boost-pfs-filter-option-swatch-image {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%
}

.boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-swatch.circle-grid li .boost-pfs-filter-option-swatch-image:before {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%
}

.boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-swatch.circle-grid li .boost-pfs-filter-option-swatch-image + .boost-pfs-filter-button {
    display: none
}

.boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-swatch.circle-list li .boost-pfs-filter-option-swatch-image {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%
}

.boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-swatch.circle-list li .boost-pfs-filter-option-swatch-image:before {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%
}

.boost-pfs-filter-top-show-limit label, .boost-pfs-filter-top-sorting label {
    margin-right: 5px;
    display: inline-block
}

.boost-pfs-filter-top-sorting button {
    -ms-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

.boost-pfs-filter-top-display-type .boost-pfs-filter-display-item {
    font-size: 0;
    display: inline;
    vertical-align: middle;
    width: 20px;
    height: 30px;
    margin-left: 10px;
    line-height: 30px;
    background: none
}

.boost-pfs-filter-top-display-type .boost-pfs-filter-display-item:before {
    display: inline-block;
    font-size: 16px;
    text-rendering: auto;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #ccc;
    width: 16px;
    height: 16px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
    opacity: .3;
    filter: alpha(opacity=30)
}

.boost-pfs-filter-top-display-type .boost-pfs-filter-display-item.active {
    cursor: default
}

.boost-pfs-filter-top-display-type .boost-pfs-filter-display-item:hover:before, .boost-pfs-filter-top-display-type .boost-pfs-filter-display-item.active:before {
    opacity: 1;
    filter: alpha(opacity=100)
}

.boost-pfs-filter-top-display-type .boost-pfs-filter-display-item.boost-pfs-filter-display-grid:before {
    content: "";
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='965.199px' height='965.199px' viewBox='0 0 965.199 965.199' style='enable-background:new 0 0 965.199 965.199;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M263.85,30c0-16.6-13.4-30-30-30h-202c-16.6,0-30,13.4-30,30v202.1c0,16.6,13.4,30,30,30h202.1c16.6,0,30-13.4,30-30V30 H263.85z'/%3E%3Cpath d='M613.55,30c0-16.6-13.4-30-30-30h-202c-16.6,0-30,13.4-30,30v202.1c0,16.6,13.4,30,30,30h202c16.6,0,30-13.4,30-30V30z'/%3E%3Cpath d='M963.25,30c0-16.6-13.4-30-30-30h-202c-16.601,0-30,13.4-30,30v202.1c0,16.6,13.399,30,30,30h202.1c16.601,0,30-13.4,30-30 V30H963.25z'/%3E%3Cpath d='M263.85,381.6c0-16.6-13.4-30-30-30h-202c-16.6,0-30,13.4-30,30v202c0,16.6,13.4,30,30,30h202.1c16.6,0,30-13.4,30-30v-202 H263.85z'/%3E%3Cpath d='M613.55,381.6c0-16.6-13.4-30-30-30h-202c-16.6,0-30,13.4-30,30v202c0,16.6,13.4,30,30,30h202c16.6,0,30-13.4,30-30V381.6z '/%3E%3Cpath d='M963.25,381.6c0-16.6-13.4-30-30-30h-202c-16.601,0-30,13.4-30,30v202c0,16.6,13.399,30,30,30h202.1 c16.601,0,30-13.4,30-30v-202H963.25z'/%3E%3Cpath d='M233.85,703.1h-202c-16.6,0-30,13.4-30,30v202.1c0,16.602,13.4,30,30,30h202.1c16.6,0,30-13.398,30-30V733.1 C263.85,716.6,250.45,703.1,233.85,703.1z'/%3E%3Cpath d='M583.55,703.1h-202c-16.6,0-30,13.4-30,30v202.1c0,16.602,13.4,30,30,30h202c16.6,0,30-13.398,30-30V733.1 C613.55,716.6,600.149,703.1,583.55,703.1z'/%3E%3Cpath d='M933.25,703.1h-202c-16.601,0-30,13.4-30,30v202.1c0,16.602,13.399,30,30,30h202.1c16.601,0,30-13.398,30-30V733.1 C963.25,716.6,949.85,703.1,933.25,703.1z'/%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A")
}

.boost-pfs-filter-top-display-type .boost-pfs-filter-display-item.boost-pfs-filter-display-list:before {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg height='512pt' viewBox='0 -52 512 512' width='512pt' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m0 0h113.292969v113.292969h-113.292969zm0 0'/%3E%3Cpath d='m149.296875 0h362.703125v113.292969h-362.703125zm0 0'/%3E%3Cpath d='m0 147.007812h113.292969v113.292969h-113.292969zm0 0'/%3E%3Cpath d='m149.296875 147.007812h362.703125v113.292969h-362.703125zm0 0'/%3E%3Cpath d='m0 294.011719h113.292969v113.296875h-113.292969zm0 0'/%3E%3Cpath d='m149.296875 294.011719h362.703125v113.296875h-362.703125zm0 0'/%3E%3C/svg%3E")
}

.product-list-no-search-result-text {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 120px
}

.boost-pfs-product-no-search-result-title {
    text-align: center;
    position: relative;
    margin-bottom: 55px
}

.boost-pfs-product-no-search-result-title:before {
    content: "";
    background: rgba(34, 34, 34, 0.2);
    height: 1px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%
}

.boost-pfs-product-no-search-result-title h2 {
    margin-bottom: 0;
    display: inline-block;
    background: #fff;
    position: relative;
    padding-left: 20px;
    padding-right: 20px
}

.boost-product-item-loading {
    height: auto;
    margin-bottom: 10px;
    position: relative;
    padding-bottom: 40px
}

.boost-product-item-loading:before {
    content: "";
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: #eeeeee;
    background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eee), color-stop(18%, #e6e6e6), color-stop(33%, #eee));
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: 20px;
    left: 0px
}

.boost-product-item-loading:after {
    content: "";
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: #eeeeee;
    background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eee), color-stop(18%, #e6e6e6), color-stop(33%, #eee));
    width: 60%;
    height: 10px;
    position: absolute;
    bottom: 0px;
    left: 0px
}

.boost-product-item-loading .boost-product-item-loading-img {
    background-color: #f0f0f0;
    height: 150px;
    width: 100%;
    max-width: 100%
}

.boost-pfs-filter-skeleton-text {
    height: 8px;
    max-width: 100%;
    min-width: 50px;
    background: rgba(0, 0, 0, 0.07);
    -moz-border-radius: 50em;
    -webkit-border-radius: 50em;
    border-radius: 50em;
    display: inline-block;
    -webkit-animation: boost-pfs-filter-skeleton-animation 2s infinite;
    animation: boost-pfs-filter-skeleton-animation 2s infinite
}

.boost-pfs-filter-skeleton-text.boost-pfs-filter-skeleton-width1 {
    width: 50px
}

.boost-pfs-filter-skeleton-text.boost-pfs-filter-skeleton-width2 {
    width: 100px
}

.boost-pfs-filter-skeleton-text.boost-pfs-filter-skeleton-width3 {
    width: 150px
}

.boost-pfs-filter-skeleton-text.boost-pfs-filter-skeleton-width4 {
    width: 200px
}

.boost-pfs-filter-skeleton-button {
    background-color: rgba(0, 0, 0, 0.07) !important;
    -webkit-animation: boost-pfs-filter-skeleton-animation 2s infinite;
    animation: boost-pfs-filter-skeleton-animation 2s infinite
}

.boost-pfs-filter-skeleton-button > span {
    background-color: rgba(0, 0, 0, 0.1);
    height: 8px;
    -moz-border-radius: 50em;
    -webkit-border-radius: 50em;
    border-radius: 50em;
    width: 30%;
    display: inline-block
}

.boost-pfs-filter-option.boost-pfs-filter-option-skeleton .boost-pfs-filter-skeleton-text {
    max-width: 100%;
    display: block
}

.boost-pfs-filter-option.boost-pfs-filter-option-skeleton .boost-pfs-filter-skeleton-text.boost-pfs-filter-skeleton-width1 {
    width: 40%
}

.boost-pfs-filter-option.boost-pfs-filter-option-skeleton .boost-pfs-filter-skeleton-text.boost-pfs-filter-skeleton-width2 {
    width: 65%
}

.boost-pfs-filter-option.boost-pfs-filter-option-skeleton .boost-pfs-filter-skeleton-text.boost-pfs-filter-skeleton-width3 {
    width: 80%
}

.boost-pfs-filter-option.boost-pfs-filter-option-skeleton .boost-pfs-filter-skeleton-text.boost-pfs-filter-skeleton-width4 {
    width: 100%
}

.boost-pfs-filter-option.boost-pfs-filter-option-skeleton .boost-pfs-filter-option-title > h3, .boost-pfs-filter-option.boost-pfs-filter-option-skeleton .boost-pfs-filter-option-title > a {
    display: block
}

.boost-pfs-filter-option.boost-pfs-filter-option-skeleton .boost-pfs-filter-option-title > h3 span:after, .boost-pfs-filter-option.boost-pfs-filter-option-skeleton .boost-pfs-filter-option-title > a span:after {
    content: '';
    height: 12px;
    width: 28%;
    background: rgba(0, 0, 0, 0.07);
    -moz-border-radius: 50em;
    -webkit-border-radius: 50em;
    border-radius: 50em;
    display: inline-block;
    -webkit-animation: boost-pfs-filter-skeleton-animation 2s infinite;
    animation: boost-pfs-filter-skeleton-animation 2s infinite
}

.boost-pfs-filter-option.boost-pfs-filter-option-skeleton .boost-pfs-filter-option-content .boost-pfs-filter-skeleton-text:not(:last-child) {
    margin-bottom: 18px
}

.boost-pfs-filter-option.boost-pfs-filter-option-skeleton .boost-pfs-filter-option-content .boost-pfs-filter-skeleton-text:not(:first-child) {
    margin-top: 10px
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option.boost-pfs-filter-option-skeleton .boost-pfs-filter-option-title > button span:after {
    content: '';
    height: 12px;
    width: 28%;
    background: #ececec;
    border-radius: 50em;
    display: inline-block;
    -webkit-animation: boost-pfs-filter-skeleton-animation 2s infinite;
    animation: boost-pfs-filter-skeleton-animation 2s infinite;
    width: 80px;
    height: 10px
}

.boost-pfs-filter-product-skeleton .boost-pfs-filter-product-skeleton-image {
    background-color: rgba(0, 0, 0, 0.04);
    margin-bottom: 5%;
    -webkit-animation: boost-pfs-filter-skeleton-animation 2s infinite;
    animation: boost-pfs-filter-skeleton-animation 2s infinite
}

.boost-pfs-filter-product-skeleton .boost-pfs-filter-product-skeleton-meta > span {
    display: block;
    margin-bottom: 15px
}

@-webkit-keyframes boost-pfs-filter-skeleton-animation {
    0% {
        opacity: 1
    }
    50% {
        opacity: 0.5
    }
    100% {
        opacity: 1
    }
}

@keyframes boost-pfs-filter-skeleton-animation {
    0% {
        opacity: 1
    }
    50% {
        opacity: 0.5
    }
    100% {
        opacity: 1
    }
}

.boost-pfs-search-retult-list {
    clear: both
}

.boost-pfs-search-result-list-item {
    margin-bottom: 35px
}

.boost-pfs-search-result-list-item > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.boost-pfs-search-result-list-item > a .boost-pfs-search-result-list-item-image {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    margin-right: 15px
}

.boost-pfs-search-result-list-item .boost-pfs-search-result-list-item-title {
    font-size: 120%
}

.boost-hidden {
    display: none !important
}

.boost-pfs-search-result-toolbar {
    display: flex;
    align-items: center;
    margin: 35px 0;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    align-items: flex-start;
    padding-top: 15px;
    padding-bottom: 15px
}

.boost-pfs-search-result-toolbar .boost-pfs-search-result-item:first-child {
    flex: auto
}

.boost-pfs-search-result-toolbar .boost-pfs-search-result-item .boost-pfs-search-total-result {
    white-space: nowrap
}

.boost-pfs-search-result-toolbar .boost-pfs-search-result-panel-controls {
    padding: 0;
    margin: 0
}

@media (max-width: {{breakpointMobile}}) {
    .boost-pfs-search-result-toolbar .boost-pfs-search-result-panel-controls {
        display: table;
        width: calc(100% + 10px);
        table-layout: fixed;
        margin: 0 -5px
    }
}

@media (max-width: {{breakpointMobile}}) {
    .boost-pfs-search-result-toolbar {
        margin: 20px 0;
        padding-left: 16px;
        padding-right: 16px
    }

    .boost-pfs-search-result-toolbar .boost-pfs-search-total-result {
        display: none
    }
}

ul.boost-pfs-search-result-panel-controls {
    list-style: none
}

ul.boost-pfs-search-result-panel-controls > li {
    display: inline-block;
    margin: 0 45px 0 0;
    vertical-align: top
}

ul.boost-pfs-search-result-panel-controls > li.boost-active {
    font-weight: bold
}

ul.boost-pfs-search-result-panel-controls > li button {
    background: none;
    border: none;
    outline: none;
    font-weight: inherit;
    padding: 0;
    word-break: break-word;
    white-space: normal;
    display: block
}

ul.boost-pfs-search-result-panel-controls.boost-pfs-search-panel-items-3 > li {
    max-width: calc(33.33% - 45px)
}

ul.boost-pfs-search-result-panel-controls.boost-pfs-search-panel-items-2 > li {
    max-width: calc(50% - 45px)
}

@media (max-width: {{breakpointMobile}}) {
    ul.boost-pfs-search-result-panel-controls > li {
        display: table-cell;
        padding: 0 5px;
        white-space: normal
    }
}

.boost-pfs-search-result-collections .boost-pfs-search-result-list-item, .boost-pfs-search-result-pages .boost-pfs-search-result-list-item {
    padding: 35px 0;
    margin-bottom: 0;
    border-bottom: 1px solid #EBEBEB
}

.boost-pfs-search-result-collections .boost-pfs-search-result-list-item h3, .boost-pfs-search-result-pages .boost-pfs-search-result-list-item h3 {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 20px
}

.boost-pfs-search-result-collections .boost-pfs-search-result-list-item:first-child, .boost-pfs-search-result-pages .boost-pfs-search-result-list-item:first-child {
    padding-top: 0
}

.boost-pfs-search-result-collections .boost-pfs-search-result-list-item:last-child, .boost-pfs-search-result-pages .boost-pfs-search-result-list-item:last-child {
    border-bottom: none
}

.boost-pfs-search-result-collections .boost-pfs-search-result-list-item > a, .boost-pfs-search-result-pages .boost-pfs-search-result-list-item > a {
    display: flex;
    align-items: center;
    position: relative;
    line-height: 20px
}

.boost-pfs-search-result-collections .boost-pfs-search-result-list-item > a::before, .boost-pfs-search-result-pages .boost-pfs-search-result-list-item > a::before {
    content: "";
    width: 10px;
    height: 10px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    display: inline-block;
    -moz-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    -webkit-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
    -ms-transform: translate(0, -50%) rotate(-45deg);
    -webkit-transform: translate(0, -50%) rotate(-45deg);
    transform: translate(0, -50%) rotate(-45deg);
    width: 8px;
    height: 8px;
    position: absolute;
    right: 0;
    top: 50%
}

.boost-pfs-search-result-collections .boost-pfs-search-result-list-item > a > div, .boost-pfs-search-result-pages .boost-pfs-search-result-list-item > a > div {
    flex: auto
}

.boost-pfs-search-result-collections .boost-pfs-search-result-list-item > a .boost-pfs-search-result-list-item-image, .boost-pfs-search-result-pages .boost-pfs-search-result-list-item > a .boost-pfs-search-result-list-item-image {
    max-width: 160px
}

.boost-pfs-search-result-collections .boost-pfs-search-result-list-item > a .boost-pfs-search-result-list-item-image img, .boost-pfs-search-result-pages .boost-pfs-search-result-list-item > a .boost-pfs-search-result-list-item-image img {
    max-width: 100%
}

@media (max-width: {{breakpointMobile}}) {
    .boost-pfs-search-result-collections .boost-pfs-search-result-list-item, .boost-pfs-search-result-pages .boost-pfs-search-result-list-item {
        padding: 20px 0
    }

    .boost-pfs-search-result-collections .boost-pfs-search-result-list-item h3, .boost-pfs-search-result-pages .boost-pfs-search-result-list-item h3 {
        font-size: 14px;
        word-break: break-word
    }

    .boost-pfs-search-result-collections .boost-pfs-search-result-list-item > a .boost-pfs-search-result-list-item-image, .boost-pfs-search-result-pages .boost-pfs-search-result-list-item > a .boost-pfs-search-result-list-item-image {
        max-width: 100px
    }
}
