/** VERSION: 1.4.4. Please don't modify or unzip this content. It will be updated regularly **/
{% assign breakpointMobile = '767px' %}
{% assign breakpointDesktop = '768px' %}
{% assign searchBoxMobileHeight = '64px' %}


.boost-pfs-quickview-btn {
    background: #fff;
    color: #3d4246;
    border: 1px solid #fff;
    text-decoration: none
}

.boost-pfs-quickview-btn svg {
    fill: #3d4246;
    margin: 0 auto
}

.boost-pfs-quickview-btn:hover {
    background: #3d4246;
    color: #fff;
    border-color: #3d4246
}

.boost-pfs-quickview-btn:hover svg {
    fill: #fff
}

.boost-pfs-addtocart-btn {
    background: rgba(34, 34, 34, 0.9);
    color: #fff;
    border: 1px solid rgba(34, 34, 34, 0.9)
}

.boost-pfs-addtocart-btn svg {
    fill: #fff;
    margin: 0 auto
}

.boost-pfs-addtocart-btn .boost-pfs-addtocart-btn-text {
    display: inline
}

.boost-pfs-addtocart-btn:hover {
    background: #3d4246;
    color: #fff;
    border-color: #3d4246
}

.boost-pfs-addtocart-btn:hover svg {
    fill: #fff
}

.boost-pfs-quickview-btn, .boost-pfs-addtocart-product-form {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin: 0
}

.boost-pfs-addtocart-btn, .boost-pfs-quickview-btn {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    white-space: nowrap;
    min-height: 0;
    min-width: 0;
    margin: 0
}

.boost-pfs-addtocart-btn span, .boost-pfs-quickview-btn span {
    color: inherit
}

.boost-pfs-addtocart-btn:focus, .boost-pfs-quickview-btn:focus {
    outline: none
}

@media screen and (min-width: 1200px) {
    .boost-pfs-action-list-enabled {
        position: relative
    }

    .boost-pfs-action-list-enabled .boost-pfs-action-list-wrapper {
        position: absolute;
        z-index: 9
    }

    .boost-pfs-action-list-enabled:hover .boost-pfs-action-list-wrapper {
        z-index: 99999
    }
}

@media (max-width: 1199px) {
    .boost-pfs-quickview-btn {
        display: none !important
    }

    .boost-pfs-action-list-enabled {
        padding-bottom: 30px;
        margin-bottom: 0 !important
    }

    .boost-pfs-action-list-enabled .boost-pfs-action-list-wrapper {
        position: absolute;
        z-index: 2;
        margin-top: -6px;
        visibility: hidden
    }

    .boost-pfs-action-list-enabled .boost-pfs-addtocart-product-form {
        display: block
    }

    .boost-pfs-action-list-enabled .boost-pfs-addtocart-btn {
        width: 36px;
        height: 36px;
        padding: 0 5px;
        line-height: 30px;
        color: #3d4246;
        font-weight: 400;
        background: rgba(34, 34, 34, 0.5);
        border: none;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        margin: 0 6px 0px 0;
        float: right
    }

    .boost-pfs-action-list-enabled .boost-pfs-addtocart-btn svg {
        width: 12px;
        fill: #fff;
        height: auto;
        vertical-align: middle
    }

    .boost-pfs-action-list-enabled .boost-pfs-addtocart-btn .boost-pfs-addtocart-btn-text {
        display: none
    }

    .boost-pfs-action-list-enabled .boost-pfs-addtocart-btn:hover {
        background: #222;
        color: #fff
    }
}

@media (max-width: 1199px) and (max-width: 320px) {
    .boost-pfs-action-list-enabled .boost-pfs-addtocart-btn {
        font-size: 14px
    }
}

@media (max-width: 1199px) {
    .boost-pfs-action-list-enabled script + div, .boost-pfs-action-list-enabled script + a {
        margin-bottom: 5px;
        padding-bottom: 0
    }
}

.boost-pfs-action-list-enabled .boost-pfs-addtocart-btn.bc-addtocart-sold-out {
    cursor: default;
    border-color: #bebebe !important;
    background-color: #bebebe !important;
    color: #fff !important
}

.bc-atc-icon-text .boost-pfs-action-list-enabled .boost-pfs-addtocart-btn.bc-addtocart-sold-out span:before {
    content: "" !important
}

@media screen and (min-width: 1200px) {
    .boost-pfs-action-list-wrapper {
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out
    }
}

.boost-pfs-action-list-enabled:hover .boost-pfs-action-list-wrapper {
    filter: alpha(opacity=100);
    opacity: 1
}

@media screen and (min-width: 1200px) {
    .bc-al-style1 .boost-pfs-quickview-btn {
        width: 40px;
        height: 40px;
        display: inline-block;
        vertical-align: top;
        font-size: 11px;
        text-align: center
    }

    .bc-al-style1 .boost-pfs-quickview-btn span svg {
        display: block;
        font-size: 16px;
        width: 16px;
        line-height: 38px;
        font-weight: 300
    }

    .bc-al-style1 .boost-pfs-addtocart-btn {
        width: 40px;
        height: 40px;
        display: inline-block;
        vertical-align: top
    }

    .bc-al-style1 .boost-pfs-addtocart-btn span {
        display: block;
        width: 100%;
        height: 100%;
        font-size: 0;
        text-align: center
    }

    .bc-al-style1 .boost-pfs-addtocart-btn span svg {
        display: block;
        font-size: 14px;
        width: 14px;
        line-height: 38px;
        font-weight: 600
    }

    .bc-al-style1 .boost-pfs-quickview-btn, .bc-al-style1 .boost-pfs-addtocart-btn {
        width: 40px;
        height: 40px
    }

    .bc-al-style1 .boost-pfs-quickview-btn svg, .bc-al-style1 .boost-pfs-addtocart-btn svg {
        line-height: 38px;
        margin: 0 auto
    }

    .bc-al-style1 .boost-pfs-action-list-wrapper {
        right: 0px;
        left: auto;
        margin-top: -10px;
        text-align: right;
        padding-right: 10px;
        width: auto !important
    }

    .bc-al-style1 .boost-pfs-action-list-wrapper .boost-pfs-quickview-btn, .bc-al-style1 .boost-pfs-action-list-wrapper .boost-pfs-addtocart-product-form {
        margin-top: 5px;
        display: block
    }

    .bc-al-style1 .boost-pfs-action-list-enabled:hover .boost-pfs-action-overlay:before {
        background-color: rgba(0, 0, 0, 0.15);
        content: ""
    }

    .bc-al-style1 .boost-pfs-action-list-wrapper {
        -webkit-transition: right 0.3s ease-out;
        -moz-transition: right 0.3s ease-out;
        -ms-transition: right 0.3s ease-out;
        -o-transition: right 0.3s ease-out;
        transition: right 0.3s ease-out;
        right: -20px !important
    }

    .bc-al-style1 .boost-pfs-action-list-enabled:hover .boost-pfs-action-list-wrapper {
        right: 0px !important
    }
}

@media screen and (min-width: 1200px) {
    .bc-al-style2 .boost-pfs-quickview-btn {
        width: 40px;
        height: 40px;
        display: inline-block;
        vertical-align: top;
        font-size: 11px;
        text-align: center
    }

    .bc-al-style2 .boost-pfs-quickview-btn span svg {
        display: block;
        font-size: 16px;
        width: 16px;
        line-height: 38px;
        font-weight: 300
    }

    .bc-al-style2 .boost-pfs-addtocart-btn {
        width: 40px;
        height: 40px;
        display: inline-block;
        vertical-align: top
    }

    .bc-al-style2 .boost-pfs-addtocart-btn span {
        display: block;
        width: 100%;
        height: 100%;
        font-size: 0;
        text-align: center
    }

    .bc-al-style2 .boost-pfs-addtocart-btn span svg {
        display: block;
        font-size: 14px;
        width: 14px;
        line-height: 38px;
        font-weight: 600
    }

    .bc-al-style2 .boost-pfs-quickview-btn, .bc-al-style2 .boost-pfs-addtocart-btn {
        width: 45px;
        height: 45px
    }

    .bc-al-style2 .boost-pfs-quickview-btn svg, .bc-al-style2 .boost-pfs-addtocart-btn svg {
        line-height: 43px
    }

    .bc-al-style2 .boost-pfs-action-list-wrapper {
        right: 0;
        left: auto;
        text-align: right;
        padding-right: 0px
    }

    .bc-al-style2 .boost-pfs-action-list-wrapper .boost-pfs-quickview-btn, .bc-al-style2 .boost-pfs-action-list-wrapper .boost-pfs-addtocart-product-form {
        margin-left: 0px;
        display: inline-block
    }

    .bc-al-style2 .boost-pfs-action-list-enabled:hover .boost-pfs-action-overlay:before {
        background-color: rgba(0, 0, 0, 0.15);
        content: ""
    }

    .bc-al-style2 .boost-pfs-action-list-wrapper {
        -webkit-transition: right 0.3s ease-out;
        -moz-transition: right 0.3s ease-out;
        -ms-transition: right 0.3s ease-out;
        -o-transition: right 0.3s ease-out;
        transition: right 0.3s ease-out;
        right: -20px !important
    }

    .bc-al-style2 .boost-pfs-action-list-enabled:hover .boost-pfs-action-list-wrapper {
        right: 0px !important
    }
}

@media screen and (min-width: 1200px) {
    .bc-al-style3 .boost-pfs-quickview-btn {
        width: 40px;
        height: 40px;
        display: inline-block;
        vertical-align: top;
        font-size: 11px;
        text-align: center
    }

    .bc-al-style3 .boost-pfs-quickview-btn span svg {
        display: block;
        font-size: 16px;
        width: 16px;
        line-height: 38px;
        font-weight: 300
    }

    .bc-al-style3 .boost-pfs-addtocart-btn {
        width: 40px;
        height: 40px;
        display: inline-block;
        vertical-align: top
    }

    .bc-al-style3 .boost-pfs-addtocart-btn span {
        display: block;
        width: 100%;
        height: 100%;
        font-size: 0;
        text-align: center
    }

    .bc-al-style3 .boost-pfs-addtocart-btn span svg {
        display: block;
        font-size: 14px;
        width: 14px;
        line-height: 38px;
        font-weight: 600
    }

    .bc-al-style3 .boost-pfs-quickview-btn, .bc-al-style3 .boost-pfs-addtocart-btn {
        vertical-align: bottom
    }

    .bc-al-style3 .boost-pfs-addtocart-btn {
        width: 100%
    }

    .bc-al-style3 .boost-pfs-action-list-wrapper {
        right: 0;
        left: auto;
        text-align: right;
        padding-right: 0px;
        width: 100%
    }

    .bc-al-style3 .boost-pfs-action-list-wrapper .boost-pfs-quickview-btn, .bc-al-style3 .boost-pfs-action-list-wrapper .boost-pfs-addtocart-product-form {
        margin-left: 0px;
        display: inline-block;
        width: 50%
    }

    .bc-al-style3 .boost-pfs-action-list-wrapper:before {
        content: "";
        position: absolute;
        left: 50%;
        top: 0px;
        background-color: rgba(34, 34, 34, 0.9);
        width: 1px;
        height: 34px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out
    }

    .bc-al-style3 .boost-pfs-action-list-enabled:hover .boost-pfs-action-overlay:before {
        background-color: rgba(0, 0, 0, 0.15);
        content: ""
    }

    .bc-al-style3 .boost-pfs-action-list-enabled .boost-pfs-action-list-wrapper {
        -webkit-transition: transform 0.4s ease-out;
        -moz-transition: transform 0.4s ease-out;
        -ms-transition: transform 0.4s ease-out;
        -o-transition: transform 0.4s ease-out;
        transition: transform 0.4s ease-out;
        -webkit-transform: translate(0px, 10px);
        transform: translate(0px, 10px)
    }

    .bc-al-style3 .boost-pfs-action-list-enabled:hover .boost-pfs-action-list-wrapper {
        -webkit-transform: translate(0px, 0);
        transform: translate(0px, 0)
    }
}

.bc-al-style3 .boost-pfs-action-list-single-button .boost-pfs-action-list-wrapper:before, .bc-al-style4 .boost-pfs-action-list-single-button .boost-pfs-action-list-wrapper:before {
    display: none
}

.bc-al-style3 .boost-pfs-action-list-single-button .boost-pfs-action-list-wrapper .boost-pfs-addtocart-product-form, .bc-al-style3 .boost-pfs-action-list-single-button .boost-pfs-action-list-wrapper .boost-pfs-quickview-btn, .bc-al-style4 .boost-pfs-action-list-single-button .boost-pfs-action-list-wrapper .boost-pfs-addtocart-product-form, .bc-al-style4 .boost-pfs-action-list-single-button .boost-pfs-action-list-wrapper .boost-pfs-quickview-btn {
    width: 100%
}

@media screen and (min-width: 1200px) {
    .bc-al-style4 .boost-pfs-quickview-btn {
        width: 40px;
        height: 40px;
        display: inline-block;
        vertical-align: top;
        font-size: 11px;
        text-align: center
    }

    .bc-al-style4 .boost-pfs-quickview-btn span svg {
        display: block;
        font-size: 16px;
        width: 16px;
        line-height: 38px;
        font-weight: 300
    }

    .bc-al-style4 .boost-pfs-addtocart-btn {
        height: 40px;
        line-height: 38px;
        padding: 0;
        display: inline-block
    }

    .bc-al-style4 .boost-pfs-addtocart-btn > span {
        display: block;
        width: 100%;
        height: 100%;
        font-size: 12px;
        text-align: center
    }

    .bc-al-style4 .boost-pfs-addtocart-btn > span svg {
        display: inline-block;
        font-size: 16px;
        width: 16px;
        line-height: 38px;
        font-weight: 600;
        vertical-align: middle;
        height: auto;
        margin-right: 10px
    }

    .bc-al-style4 .boost-pfs-quickview-btn, .bc-al-style4 .boost-pfs-addtocart-btn {
        vertical-align: bottom
    }

    .bc-al-style4 .boost-pfs-addtocart-btn {
        width: 100%
    }

    .bc-al-style4 .boost-pfs-action-list-wrapper {
        right: 0;
        left: auto;
        text-align: right;
        padding-right: 0px;
        width: 100%
    }

    .bc-al-style4 .boost-pfs-action-list-wrapper .boost-pfs-quickview-btn {
        display: inline-block
    }

    .bc-al-style4 .boost-pfs-action-list-wrapper .boost-pfs-quickview-btn svg {
        margin: 0 auto
    }

    .bc-al-style4 .boost-pfs-action-list-wrapper .boost-pfs-addtocart-product-form {
        margin-left: 0px;
        display: inline-block;
        width: calc(100% - 40px)
    }

    .bc-al-style4 .boost-pfs-action-list-enabled:hover .boost-pfs-action-overlay:before {
        background-color: rgba(0, 0, 0, 0.15);
        content: ""
    }

    .bc-al-style4 .boost-pfs-action-list-enabled .boost-pfs-action-list-wrapper {
        -webkit-transition: transform 0.4s ease-out;
        -moz-transition: transform 0.4s ease-out;
        -ms-transition: transform 0.4s ease-out;
        -o-transition: transform 0.4s ease-out;
        transition: transform 0.4s ease-out;
        -webkit-transform: translate(0px, 10px);
        transform: translate(0px, 10px)
    }

    .bc-al-style4 .boost-pfs-action-list-enabled:hover .boost-pfs-action-list-wrapper {
        -webkit-transform: translate(0px, 0);
        transform: translate(0px, 0)
    }
}

@media screen and (min-width: 1200px) {
    .bc-al-style5 .boost-pfs-quickview-btn {
        width: 40px;
        height: 40px;
        display: inline-block;
        vertical-align: top;
        font-size: 11px;
        text-align: center
    }

    .bc-al-style5 .boost-pfs-quickview-btn span svg {
        display: block;
        font-size: 16px;
        width: 16px;
        line-height: 38px;
        font-weight: 300
    }

    .bc-al-style5 .boost-pfs-addtocart-btn {
        width: 40px;
        height: 40px;
        display: inline-block;
        vertical-align: top
    }

    .bc-al-style5 .boost-pfs-addtocart-btn span {
        display: block;
        width: 100%;
        height: 100%;
        font-size: 0;
        text-align: center
    }

    .bc-al-style5 .boost-pfs-addtocart-btn span svg {
        display: block;
        font-size: 14px;
        width: 14px;
        line-height: 38px;
        font-weight: 600
    }

    .bc-al-style5 .boost-pfs-quickview-btn, .bc-al-style5 .boost-pfs-addtocart-btn {
        vertical-align: bottom;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%
    }

    .bc-al-style5 .boost-pfs-action-list-wrapper {
        right: 0;
        left: auto;
        text-align: center;
        padding-right: 0px;
        width: 100%
    }

    .bc-al-style5 .boost-pfs-action-list-wrapper .boost-pfs-quickview-btn, .bc-al-style5 .boost-pfs-action-list-wrapper .boost-pfs-addtocart-product-form {
        margin-left: 2px;
        margin-right: 2px;
        display: inline-block
    }

    .bc-al-style5 .boost-pfs-action-list-enabled:hover .boost-pfs-action-overlay:before {
        background-color: rgba(0, 0, 0, 0.15);
        content: ""
    }

    .bc-al-style5 .boost-pfs-action-list-enabled .boost-pfs-action-list-wrapper {
        -webkit-transition: transform 0.4s ease-out;
        -moz-transition: transform 0.4s ease-out;
        -ms-transition: transform 0.4s ease-out;
        -o-transition: transform 0.4s ease-out;
        transition: transform 0.4s ease-out;
        -webkit-transform: translate(0px, 10px);
        transform: translate(0px, 10px)
    }

    .bc-al-style5 .boost-pfs-action-list-enabled:hover .boost-pfs-action-list-wrapper {
        -webkit-transform: translate(0px, 0);
        transform: translate(0px, 0)
    }
}

@media screen and (min-width: 1200px) {
    .bc-al-style6 .boost-pfs-quickview-btn + .boost-pfs-addtocart-product-form {
        display: block;
        text-align: center
    }

    .bc-al-style6 .boost-pfs-quickview-btn {
        height: 40px;
        line-height: 38px;
        padding: 0 15px
    }

    .bc-al-style6.bc-al-style-cirle .boost-pfs-quickview-btn {
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px
    }

    .bc-al-style6 .boost-pfs-addtocart-btn {
        height: 40px;
        line-height: 38px;
        padding: 0 15px
    }

    .bc-al-style6 .boost-pfs-addtocart-btn span {
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        font-weight: 500
    }

    .bc-al-style6.bc-al-style-cirle .boost-pfs-addtocart-btn {
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px
    }

    .bc-al-style6 .boost-pfs-quickview-btn, .bc-al-style6 .boost-pfs-addtocart-btn {
        vertical-align: bottom;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        border-radius: 20px
    }

    .bc-al-style6 .boost-pfs-quickview-btn svg, .bc-al-style6 .boost-pfs-addtocart-btn svg {
        display: none
    }

    .bc-al-style6 .boost-pfs-action-list-wrapper {
        right: 0;
        left: auto;
        text-align: center;
        padding-right: 0px;
        width: 100%
    }

    .bc-al-style6 .boost-pfs-action-list-wrapper .boost-pfs-quickview-btn, .bc-al-style6 .boost-pfs-action-list-wrapper .boost-pfs-addtocart-product-form {
        margin-top: 2px;
        margin-bottom: 2px;
        display: inline-block;
        width: auto
    }

    .bc-al-style6 .boost-pfs-action-list-wrapper .boost-pfs-addtocart-product-form {
        display: block
    }

    .bc-al-style6 .boost-pfs-action-list-enabled:hover .boost-pfs-action-overlay:before {
        background-color: rgba(0, 0, 0, 0.15);
        content: ""
    }

    .bc-al-style6 .boost-pfs-action-list-enabled .boost-pfs-action-list-wrapper {
        -webkit-transition: transform 0.4s ease-out;
        -moz-transition: transform 0.4s ease-out;
        -ms-transition: transform 0.4s ease-out;
        -o-transition: transform 0.4s ease-out;
        transition: transform 0.4s ease-out;
        -webkit-transform: translate(0px, 10px);
        transform: translate(0px, 10px)
    }

    .bc-al-style6 .boost-pfs-action-list-enabled:hover .boost-pfs-action-list-wrapper {
        -webkit-transform: translate(0px, 0);
        transform: translate(0px, 0)
    }
}

.boost-pfs-action-list-enabled {
    position: relative
}

.boost-pfs-action-list-enabled:hover .boost-pfs-action-list-wrapper {
    opacity: 1
}

.boost-pfs-modal-backdrop {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    position: fixed;
    background-color: rgba(1, 1, 1, 0.8);
    outline: none !important;
    -webkit-backface-visibility: hidden
}

.boost-pfs-modal-backdrop .boost-pfs-modal-container {
    opacity: 1;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 8px;
    box-sizing: border-box
}

.boost-pfs-modal-backdrop .boost-pfs-modal-container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle
}

.boost-pfs-modal-backdrop .boost-pfs-modal-container .boost-pfs-modal-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left
}

.boost-pfs-modal-backdrop .boost-pfs-modal-container .boost-pfs-quickview-close {
    font-size: 0;
    margin: 0;
    display: block;
    position: absolute;
    right: 5px;
    width: 30px;
    height: 35px
}

.boost-pfs-modal-backdrop .boost-pfs-modal-container .boost-pfs-quickview-close:before, .boost-pfs-modal-backdrop .boost-pfs-modal-container .boost-pfs-quickview-close:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(55% - 7px);
    display: block;
    width: 2px;
    height: 25px;
    transform-origin: bottom center;
    background: #000;
    -moz-transition: all ease-out 280ms;
    -ms-transition: all ease-out 280ms;
    -o-transition: all ease-out 280ms;
    -webkit-transition: all ease-out 280ms;
    transition: all ease-out 280ms;
    border: none;
    padding: 0
}

.boost-pfs-modal-backdrop .boost-pfs-modal-container .boost-pfs-quickview-close:before {
    -ms-transform: translateX(-5px) translateY(5px) rotate(45deg);
    -webkit-transform: translateX(-5px) translateY(5px) rotate(45deg);
    transform: translateX(-5px) translateY(5px) rotate(45deg)
}

.boost-pfs-modal-backdrop .boost-pfs-modal-container .boost-pfs-quickview-close:after {
    -ms-transform: translateX(13px) translateY(5px) rotate(-45deg);
    -webkit-transform: translateX(13px) translateY(5px) rotate(-45deg);
    transform: translateX(13px) translateY(5px) rotate(-45deg)
}

.boost-pfs-quickview-wrapper * {
    font-size: 16px;
    line-height: 1.2;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.boost-pfs-quickview-wrapper *:before, .boost-pfs-quickview-wrapper *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.boost-pfs-quickview-wrapper {
    height: 684px;
    max-width: 100%;
    min-width: 60%;
    max-height: 90%;
    background: #fff;
    margin: auto;
    width: 950px;
    overflow-x: hidden;
    overflow-y: auto;
    color: #222
}

.boost-pfs-quickview-fancybox-bg {
    width: 100%;
    height: 100%;
    z-index: 1
}

.boost-pfs-quickview-popup-base {
    z-index: 1000000
}

.boost-pfs-quickview-wrapper h1, .boost-pfs-quickview-wrapper hr, .boost-pfs-quickview-price-wrapper, .boost-pfs-quickview-selector-wrapper.last {
    margin-bottom: 30px
}

.boost-pfs-quickview-wrapper h3, .boost-pfs-quickview-wrapper .h3 {
    font-size: 20px
}

.boost-pfs-quickview-content {
    width: 100%;
    display: flex !important;
    flex-wrap: nowrap;
    max-height: 684px;
    overflow-x: hidden;
    overflow-y: auto
}

.boost-pfs-quickview-left {
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    width: 474px;
    float: left;
    max-width: 50%;
    position: relative
}

.boost-pfs-quickview-left .boost-pfs-quickview-featured-image-wrapper {
    overflow: hidden
}

.boost-pfs-quickview-right {
    padding: 0px 30px 30px;
    display: block;
    float: left;
    width: calc(100% - 474px);
    overflow-y: auto;
    margin-top: 40px
}

.boost-pfs-quickview-right:focus {
    outline: none
}

.boost-pfs-quickview-right .boost-pfs-quickview-right-inner {
    height: 100%
}

.product-form__variants.no-js {
    display: none
}

.boost-pfs-quickview-submit {
    margin-top: 10px;
    display: inline-block
}

.boost-pfs-quickview-product-form {
    margin-bottom: 10px
}

.boost-pfs-quickview-option-selector {
    margin-right: 10px
}

.boost-pfs-quickview-swatch-wrapper {
    width: 100%
}

.boost-pfs-quickview-single-option-swatch {
    display: inline-block;
    float: left;
    width: 100%;
    clear: both;
    margin-bottom: 10px
}

.boost-pfs-quickview-single-option-swatch li {
    display: inline-block;
    float: left;
    margin-left: 5px;
    padding: 2px 10px;
    border: 1px solid gray
}

.boost-pfs-quickview-single-option-swatch li.selected {
    border-color: #4DC7A0
}

.boost-pfs-quickview-swatch-wrapper .boost-pfs-quickview-single-option-swatch li {
    display: inline-block;
    float: left
}

.boost-pfs-quickview-description {
    margin-bottom: 15px
}

.boost-pfs-quickview-view-full {
    width: 100%;
    margin-bottom: 10px;
    color: #788188
}

.boost-pfs-quickview-cart-msg {
    margin-bottom: 10px;
    border: 1px dotted #4DC7A0;
    padding: 5px
}

.boost-pfs-quickview-price {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    display: inline-block
}

.boost-pfs-quickview-price-on-sale .boost-pfs-quickview-price {
    color: #222;
}

.boost-pfs-quickview-price-on-sale .boost-pfs-quickview-was-price {
    color: rgba(34, 34, 34, 0.6);
    display: none;
}

.boost-pfs-quickview-cart-form product-form {
    display: inline-block;
    margin-bottom: 20px
}

.boost-pfs-quickview-variants-select {
    margin-bottom: 10px
}

.boost-pfs-quickview-variants-swatch {
    cursor: pointer
}

.boost-pfs-quickview-product-thumbs-list {
    display: inline-block;
    width: 100%;
    margin-top: 30px
}

.boost-pfs-quickview-thumbs-item:nth-child(4n+0) {
    clear: right
}

.boost-pfs-quickview-thumbs-item:nth-child(4n+1) {
    clear: left
}

.boost-pfs-quickview-thumbs-item {
    cursor: pointer;
    width: 25%;
    display: inline-block;
    float: left;
    margin-bottom: 10px;
    padding: 0 2px
}

.boost-pfs-quickview-thumbs-item img {
    padding: 5px;
    border: 1px solid #fff
}

.boost-pfs-quickview-thumbs-item.selected img {
    border-color: #000
}

.boost-pfs-quickview-cart-msg-link {
    color: #4DC7A0
}

.boost-pfs-quickview-title {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px
}

.boost-pfs-quickview-title:focus {
    outline: none
}

.boost-pfs-quickview-vendor {
    margin-bottom: 10px;
    color: rgba(34, 34, 34, 0.6);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px
}

.single-option-swatch-color li span {
    text-indent: -9999px
}

.single-option-swatch-color li {
    width: 30px;
    height: 30px
}

.boost-pfs-quickview-quantity {
    float: left;
    display: inline-block;
    min-width: 100px;
    max-width: 50%
}

.boost-pfs-quickview-cart {
    float: none;
    margin-left: 0;
    display: block;
    clear: both
}

.boost-pfs-quickview-selector-wrapper {
    width: 100%;
    margin-bottom: 10px;
    clear: both;
    border: none
}

.boost-pfs-quickview-btn.btn-icon > span {
    background: url("boost-pfs-quickview-icon.png");
    background-size: 45px;
    background-repeat: no-repeat
}

.boost-pfs-quickview-btn.btn-icon > span > span {
    text-indent: 100%;
    overflow: hidden;
    font-size: 0
}

.boost-pfs-quickview-single-option-swatch li:first-child {
    margin-left: 0px
}

.boost-pfs-quickview-was-price {
    text-decoration: line-through;
    color: rgba(34, 34, 34, 0.6)
}

.boost-pfs-quickview-wrapper hr {
    margin: 10px 0 30px 0
}

.boost-pfs-quickview-cart-form {
    margin: 0 0 40px 0;
    display: block
}

#boost-pfs-quickview-cart-btn {
    padding: 10px 20px;
    background: #222222;
    border: 1px solid #222222;
    box-sizing: border-box;
    border-radius: 50px;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    min-width: 209px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: auto;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    cursor: pointer
}

#boost-pfs-quickview-cart-btn:hover {
    background-color: #fff;
    color: #222
}

#boost-pfs-quickview-cart-btn:focus {
    outline: 0
}

#boost-pfs-quickview-cart-btn:after {
    display: none
}

#boost-pfs-quickview-cart-btn-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px
}

#boost-pfs-quickview-cart-quantity {
    padding: 10px 20px;
    margin: 0 0 40px 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 50px;
    line-height: 20px
}

#boost-pfs-quickview-cart-quantity:hover {
    background-color: inherit;
    color: inherit
}

#boost-pfs-quickview-cart-quantity:focus {
    outline: 0
}

.fancybox-close-small:hover:after {
    background-color: #000
}

.boost-pfs-quickview-btn.btn-text .btn-boost-pfs-quickview {
    background-color: #000;
    border: none;
    border-radius: 0;
    color: #fff;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: auto;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    padding: 10px 18px;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    white-space: normal;
    height: auto;
    line-height: normal
}

.boost-pfs-quickview-btn.btn-text .btn-boost-pfs-quickview:hover {
    opacity: 1
}

.boost-pfs-quickview-single-option-selector {
    width: 100%;
    min-width: 50%;
    border-radius: 0;
    border: 1px solid #788188;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-position: right center;
    background-image: url("boost-pfs-quickview-ico-select.svg");
    background-repeat: no-repeat;
    background-position: right 10px center;
    line-height: 1.2;
    padding-right: 28px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    text-indent: 0.01px;
    text-overflow: '';
    cursor: pointer;
    background-color: #fff;
    color: #000;
    max-width: 100%;
    opacity: 1;
    background-size: 12px
}

.boost-pfs-quickview-selector-wrapper {
    display: block;
    margin-bottom: 5px;
    margin-right: 5px;
    float: left;
    width: 100%;
    margin-bottom: 20px
}

.boost-pfs-quickview-selector-wrapper .boost-pfs-quickview-product-option-header {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px
}

.boost-pfs-quickview-selector-wrapper input[type="radio"] {
    display: none
}

.boost-pfs-quickview-selector-wrapper .boost-pfs-swatch-element {
    position: relative;
    float: left;
    margin-right: 8px;
    margin-bottom: 8px
}

.boost-pfs-quickview-selector-wrapper .boost-pfs-swatch-element:first-child {
    margin-right: 0
}

.boost-pfs-quickview-selector-wrapper .boost-pfs-swatch-element:after {
    display: none
}

.boost-pfs-quickview-selector-wrapper .boost-pfs-swatch-element .boost-pfs-quickview-tooltip {
    text-align: center;
    background: #222;
    color: #fff;
    bottom: 100%;
    padding: 10px;
    display: block;
    position: absolute;
    width: 100px;
    left: -28px;
    margin-bottom: 15px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
    filter: alpha(opacity=0);
    visibility: hidden;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    z-index: 2;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: 600
}

.boost-pfs-quickview-selector-wrapper .boost-pfs-swatch-element .boost-pfs-quickview-tooltip:after {
    border-left: solid transparent 9px;
    border-right: solid transparent 9px;
    border-top: 9px solid #222;
    bottom: -9px;
    content: " ";
    height: 0;
    left: 50%;
    margin-left: -13px;
    position: absolute;
    width: 0
}

.boost-pfs-quickview-selector-wrapper .boost-pfs-swatch-element:hover .boost-pfs-quickview-tooltip {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=100)";
    filter: alpha(opacity=100);
    visibility: visible
}

.boost-pfs-quickview-selector-wrapper .boost-pfs-swatch-element label {
    outline: none;
    font-weight: 400;
    font-size: 15px;
    height: 38px;
    line-height: 36px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
    padding-bottom: 0
}

.boost-pfs-quickview-selector-wrapper .boost-pfs-swatch-element label:after {
    display: none
}

.boost-pfs-quickview-selector-wrapper .boost-pfs-swatch-element:not(.boost-pfs-quickview-option-color) label {
    border: 1px solid #EBEBEB;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    min-width: 80px
}

.boost-pfs-quickview-selector-wrapper .boost-pfs-swatch-element:not(.boost-pfs-quickview-option-color) input:checked + label {
    border-color: #000;
    background: #000;
    color: #fff
}

.boost-pfs-quickview-selector-wrapper .boost-pfs-swatch-element.boost-pfs-quickview-option-color label {
    border: 1px solid #EBEBEB;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    min-width: 38px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

.boost-pfs-quickview-selector-wrapper .boost-pfs-swatch-element.boost-pfs-quickview-option-color input:checked + label:before {
    content: "";
    border: 3px solid #fff;
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -ms-box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.05)
}

.boost-pfs-quickview-qty-cartbtn-wrapper label {
    width: 100%;
    margin-bottom: 10px;
    display: inline-block
}

.boost-pfs-quickview-qty-cartbtn {
    width: 100%
}

.boost-pfs-quickview-view-full-wrapper {
    clear: both;
    padding-bottom: 20px
}

.boost-pfs-quickview-view-full-wrapper > a {
    color: #222;
    position: relative;
    padding-right: 26px;
    text-decoration: none
}

.boost-pfs-quickview-view-full-wrapper > a:first-letter {
    text-transform: uppercase;
    font-size: 30px
}

.boost-pfs-quickview-view-full-wrapper > a:before {
    top: 50%;
    margin-top: -2px;
    right: 0px;
    position: absolute;
    content: "";
    width: 7px;
    height: 7px;
    border-right: 1px solid #222;
    border-bottom: 1px solid #222;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(-45deg);
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out
}

.boost-pfs-quickview-view-full-wrapper > a:after {
    content: "";
    width: 20px;
    height: 1px;
    background: #222;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: 1px
}

.boost-pfs-quickview-view-full-wrapper > a:hover {
    opacity: 0.7;
    color: #FF3300;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=70)"
}

.boost-pfs-quickview-slider {
    width: 474px;
    height: 684px
}

.boost-pfs-quickview-slider .boost-pfs-quickview-slider-inner {
    height: 100%;
    overflow: hidden;
    position: relative
}

.boost-pfs-quickview-slider .boost-pfs-quickview-slider-inner .boost-pfs-quickview-featured-image-wrapper {
    width: 10000px;
    position: relative;
    top: 0
}

.boost-pfs-quickview-slider .boost-pfs-quickview-slider-inner .boost-pfs-quickview-featured-image-wrapper.boost-pfs-quickview-slider-shifting {
    transition: left .2s ease-in-out
}

.boost-pfs-quickview-slider .boost-pfs-quickview-slider-inner .boost-pfs-quickview-featured-image-wrapper .boost-pfs-quickview-featured-image {
    width: 474px;
    height: 684px;
    cursor: pointer;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 1s;
    position: relative;
    color: white
}

.boost-pfs-quickview-slider .boost-pfs-quickview-slider-inner .boost-pfs-quickview-featured-image-wrapper .boost-pfs-quickview-featured-image img {
    flex-shrink: 0;
    max-width: 100%;
    min-width: initial;
    max-height: 100%
}

.boost-pfs-quickview-slider .boost-pfs-quickview-slider-nav > div {
    cursor: pointer;
    width: 38px;
    height: 38px;
    border: 1px solid #222222;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    position: relative;
    box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.1);
    -o-box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.1);
    -ms-box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.1);
    min-height: 0
}

.boost-pfs-quickview-slider .boost-pfs-quickview-slider-nav > div:focus {
    outline: none
}

.boost-pfs-quickview-slider .boost-pfs-quickview-slider-nav > div:before, .boost-pfs-quickview-slider .boost-pfs-quickview-slider-nav > div:after {
    top: 50%;
    margin-top: -5px;
    margin-left: -7px;
    left: 50%;
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    border-right: 2px solid #222;
    border-bottom: 2px solid #222;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out
}

.boost-pfs-quickview-slider .boost-pfs-quickview-slider-nav > div:after {
    border-right-color: rgba(255, 255, 255, 0.1);
    border-bottom-color: rgba(255, 255, 255, 0.1)
}

.boost-pfs-quickview-slider .boost-pfs-quickview-slider-nav > div.disabled {
    border-color: #ccc;
    cursor: default
}

.boost-pfs-quickview-slider .boost-pfs-quickview-slider-nav > div.disabled:before, .boost-pfs-quickview-slider .boost-pfs-quickview-slider-nav > div.disabled:after {
    border-color: #ccc
}

.boost-pfs-quickview-slider .boost-pfs-quickview-slider-nav .boost-pfs-quickview-slider-prev {
    position: absolute;
    left: 16px;
    top: 50%
}

.boost-pfs-quickview-slider .boost-pfs-quickview-slider-nav .boost-pfs-quickview-slider-prev:before, .boost-pfs-quickview-slider .boost-pfs-quickview-slider-nav .boost-pfs-quickview-slider-prev:after {
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    margin-left: -5px
}

.boost-pfs-quickview-slider .boost-pfs-quickview-slider-nav .boost-pfs-quickview-slider-next {
    position: absolute;
    right: 16px;
    top: 50%
}

.boost-pfs-quickview-slider .boost-pfs-quickview-slider-nav .boost-pfs-quickview-slider-next:before, .boost-pfs-quickview-slider .boost-pfs-quickview-slider-nav .boost-pfs-quickview-slider-next:after {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.boost-pfs-quickview-slider .boost-pfs-quickview-slider-dots {
    position: absolute;
    bottom: 8px;
    left: 0;
    width: 100%;
    text-align: center;
    display: block;
    cursor: pointer
}

.boost-pfs-quickview-slider .boost-pfs-quickview-slider-dots .boost-pfs-quickview-slider-dot {
    width: 8px;
    height: 8px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 1px solid #fff;
    display: inline-block;
    margin: 8px 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
    min-height: 0
}

.boost-pfs-quickview-slider .boost-pfs-quickview-slider-dots .boost-pfs-quickview-slider-dot.active {
    background: #cacaca
}

@media screen and (max-width: {{breakpointDesktop}}) {
    .boost-pfs-quickview-btn {
        display: none !important
    }
}

.boost-pfs-quickview-sale-lable {
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 2px 10px 1px;
    line-height: 16px;
    left: auto;
    border: 1px solid transparent;
    vertical-align: top;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background: #f30;
    color: #fff;
    position: absolute;
    left: 16px;
    top: 16px;
    text-transform: uppercase;
    z-index: 9;
    display: none;
}

.boost-pfs-body-no-scroll-mini-cart {
    overflow: hidden;
    -webkit-overflow: hidden
}

.boost-pfs-minicart-backdrop {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
    position: fixed;
    background-color: rgba(33, 43, 54, 0.4);
    outline: none !important;
    -webkit-backface-visibility: hidden;
    display: none
}

.boost-pfs-minicart-empty {
    padding-top: 16px
}

.boost-pfs-minicart-close {
    display: block;
    width: 53px;
    height: 53px;
    position: fixed;
    background: #000;
    top: 0;
    right: 320px;
    z-index: 99999
}

.boost-pfs-minicart-close .boost-pfs-minicart-close-text {
    position: absolute;
    height: 0;
    width: 0;
    margin-bottom: 0;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px)
}

.ie9 .boost-pfs-minicart-close .boost-pfs-minicart-close-text, .lt-ie9 .boost-pfs-minicart-close .boost-pfs-minicart-close-text {
    position: static;
    height: auto;
    width: auto;
    margin-bottom: 2px;
    overflow: visible;
    clip: initial
}

.boost-pfs-minicart-close:before, .boost-pfs-minicart-close:after {
    content: '';
    position: absolute;
    top: 4px;
    bottom: 0;
    left: calc(55% - 7px);
    display: block;
    width: 2px;
    height: 25px;
    transform-origin: bottom center;
    background: #fff;
    -moz-transition: all ease-out 280ms;
    -ms-transition: all ease-out 280ms;
    -o-transition: all ease-out 280ms;
    -webkit-transition: all ease-out 280ms;
    transition: all ease-out 280ms;
    border: none;
    padding: 0
}

.boost-pfs-minicart-close:before {
    -ms-transform: translateX(-5px) translateY(5px) rotate(45deg);
    -webkit-transform: translateX(-5px) translateY(5px) rotate(45deg);
    transform: translateX(-5px) translateY(5px) rotate(45deg)
}

.boost-pfs-minicart-close:after {
    -ms-transform: translateX(13px) translateY(5px) rotate(-45deg);
    -webkit-transform: translateX(13px) translateY(5px) rotate(-45deg);
    transform: translateX(13px) translateY(5px) rotate(-45deg)
}

.boost-pfs-minicart-heading {
    position: relative;
    padding: 16px;
    margin-bottom: 0px;
    margin-top: -16px;
    margin-left: -16px;
    margin-right: -16px;
    color: #3D4246;
    border-bottom: 1px solid #EBEBEB
}

.boost-pfs-minicart-heading:after {
    display: table;
    content: "";
    clear: both
}

.boost-pfs-minicart-heading .boost-pfs-minicart-clear-all {
    float: right;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #222222;
    text-transform: lowercase;
    display: none !important
}

.boost-pfs-minicart-heading .boost-pfs-minicart-title {
    float: left;
    margin-bottom: 0;
    color: inherit;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px
}

.boost-pfs-minicart-heading .boost-pfs-minicart-title .boost-pfs-count-item-label {
    padding-left: 3px
}

.boost-pfs-minicart-content {
    height: 100%
}

.boost-pfs-minicart-top {
    height: calc(100% - 220px);
    overflow: auto;
    scrollbar-width: thin
}

.boost-pfs-minicart-top::-webkit-scrollbar {
    width: 4px
}

.boost-pfs-minicart-top::-webkit-scrollbar-track {
    background: #ebebeb
}

.boost-pfs-minicart-top::-webkit-scrollbar-thumb {
    background: #757575
}

.boost-pfs-minicart-top > ol {
    padding-left: 0;
    padding-bottom: 20px
}

.boost-pfs-minicart-bottom {
    border-top: 1px solid #EBEBEB;
    margin: 0 -16px;
    padding: 0 16px
}

.boost-pfs-minicart-bottom:after {
    content: "";
    clear: both;
    display: table
}

.boost-pfs-minicart-item {
    position: relative;
    clear: both;
    overflow: hidden;
    margin-top: 10px;
    padding-top: 10px;
    border-top: none;
    line-height: 1.375
}

.boost-pfs-minicart-item:first-child {
    border-top: none
}

.boost-pfs-minicart-item .boost-pfs-minicart-item-image {
    width: 80px;
    float: left;
    margin-right: 16px
}

.boost-pfs-minicart-item .boost-pfs-minicart-item-image img {
    display: block
}

.boost-pfs-minicart-item .boost-pfs-minicart-item-details {
    padding-right: 20px;
    position: relative;
    float: right;
    width: calc(100% - 96px)
}

.boost-pfs-minicart-item .boost-pfs-minicart-item-details .boost-pfs-minicart-item-remove {
    position: absolute;
    right: 0px;
    top: 0;
    cursor: pointer
}

.boost-pfs-minicart-item .boost-pfs-minicart-item-name {
    margin-bottom: 8px
}

.boost-pfs-minicart-item .boost-pfs-minicart-item-name a {
    line-height: 1.2;
    display: block;
    color: #3D4246;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px
}

.boost-pfs-minicart-item .boost-pfs-minicart-item-vendor {
    color: #8b8989;
    margin-bottom: 5px;
    display: none
}

.boost-pfs-minicart-item .boost-pfs-minicart-item-price {
    color: rgba(34, 34, 34, 0.6);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    display: none
}

.boost-pfs-minicart-item .boost-pfs-minicart-item-remove {
    position: absolute;
    right: -5px;
    top: 0;
    width: 20px;
    height: 20px;
    cursor: pointer
}

.boost-pfs-minicart-item .boost-pfs-minicart-item-remove .boost-pfs-minicart-item-remove-text {
    display: block;
    font-size: 20px;
    line-height: 1
}

.boost-pfs-minicart-item .boost-pfs-minicart-item-quantity-wrapper {
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    display: inline-block;
    line-height: 36px;
    width: 75px;
    max-width: 100%;
    text-align: center;
    padding: 0 5px;
    line-height: 20px;
    position: relative
}

.boost-pfs-minicart-item .boost-pfs-minicart-item-quantity-wrapper button {
    min-width: 0
}

.boost-pfs-minicart-item .boost-pfs-minicart-item-quantity-wrapper button:focus {
    outline: none
}

.boost-pfs-minicart-item .boost-pfs-minicart-item-quantity-wrapper .boost-pfs-minicart-item-quantity-minus {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 20px;
    height: 100%;
    border: none;
    background: none;
    line-height: 100%
}

.boost-pfs-minicart-item .boost-pfs-minicart-item-quantity-wrapper .boost-pfs-minicart-item-quantity-plus {
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    width: 20px;
    height: 100%;
    border: none;
    background: none;
    line-height: 100%
}

.boost-pfs-minicart-item .boost-pfs-minicart-item-quantity-wrapper .boost-pfs-minicart-item-quantity {
    padding: 0 20px;
    text-align: center;
    line-height: 20px;
    width: 100%;
    border: none;
    background: none;
    font-size: inherit;
    color: #222;
    font-size: 15px
}

.boost-pfs-minicart-item .boost-pfs-minicart-item-quantity-wrapper input[type=number] {
    -moz-appearance: textfield
}

.boost-pfs-minicart-item .boost-pfs-minicart-item-quantity-wrapper input[type=number]::-webkit-inner-spin-button, .boost-pfs-minicart-item .boost-pfs-minicart-item-quantity-wrapper input[type=number]::-webkit-outer-spin-button {
    opacity: 0;
    height: auto;
    -webkit-appearance: none;
    -moz-appearance: none
}

.boost-pfs-minicart-item .boost-pfs-minicart-item-collateral {
    font-size: 90%
}

.boost-pfs-minicart-item .boost-pfs-minicart-item-collateral .boost-pfs-minicart-item-price {
    display: inline-block
}

.boost-pfs-minicart-item-options {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #222
}

.boost-pfs-minicart-item-options .boost-pfs-minicart-item-option-element {
    margin-bottom: 6px
}

.boost-pfs-minicart-item-options .boost-pfs-minicart-item-option-name {
    padding-right: 5px
}

.boost-pfs-minicart-item-options .boost-pfs-minicart-item-option-value {
    font-weight: 500
}

.boost-pfs-subtotal {
    margin-bottom: 19px;
    padding-top: 20px;
    color: #222222;
    line-height: 20px;
    font-size: 14px;
    font-style: normal
}

.boost-pfs-subtotal-label {
    font-weight: 600
}

.boost-pfs-subtotal-price {
    float: right;
    font-weight: 700
}

.boost-pfs-checkout {
    margin-bottom: 15px
}

.boost-pfs-checkout-btn {
    border: 1px solid #222;
    background: #222;
    color: #fff;
    line-height: 20px;
    width: 100%;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    padding: 14px;
    transition: background 0.2s ease-in-out;
    font-size: 14px;
    position: relative
}

.boost-pfs-checkout-btn:hover {
    background: #606060;
    border-color: #606060;
    color: #fff
}

.boost-pfs-checkout-btn:focus {
    outline: none
}

.boost-pfs-checkout-btn:focus:after {
    content: "";
    position: absolute;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    top: -1px;
    left: -1px;
    border: solid 2px #222;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px
}

.boost-pfs-viewcart {
    text-align: center
}

.boost-pfs-viewcart a {
    border: 1px solid #222;
    background: #fff;
    color: #222;
    line-height: 20px;
    width: 100%;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    padding: 14px;
    display: block;
    transition: background 0.2s ease-in-out;
    font-size: 14px;
    position: relative
}

.boost-pfs-viewcart a:hover {
    border-color: #606060;
    color: #606060
}

.boost-pfs-viewcart a:focus {
    outline: none
}

.boost-pfs-viewcart a:focus:after {
    content: "";
    position: absolute;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    top: -1px;
    left: -1px;
    border: solid 2px #222;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px
}

.boost-pfs-minicart-wrapper {
    display: none
}

.boost-pfs-minicart-wrapper.boost-pfs-minicart-active .boost-pfs-minicart-backdrop {
    display: block
}

.boost-pfs-minicart-wrapper.boost-pfs-minicart-active .boost-pfs-minicart-container {
    opacity: 1;
    filter: alpha(opacity=100);
    z-index: 999999;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -sand-transform: translate3d(0, 0, 0)
}

@media (min-width: {{breakpointDesktop}}) {
    .boost-pfs-minicart-wrapper.boost-pfs-minicart-active .boost-pfs-minicart-container-popup {
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%)
    }
}

.boost-pfs-minicart-container {
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 320px;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate3d(320px, 0, 0);
    -webkit-transform: translate3d(320px, 0, 0);
    -ms-transform: translate3d(320px, 0, 0);
    -sand-transform: translate3d(320px, 0, 0);
    -webkit-transition: transform .3s ease;
    -moz-transition: transform .3s ease;
    -o-transition: transform .3s ease;
    transition: transform .3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.boost-pfs-minicart-container .boost-pfs-minicart-container-inner {
    background: #fff;
    padding: 16px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2px;
    height: 100%
}

.boost-pfs-minicart-container .boost-pfs-minicart-item-sub-total-price {
    display: none
}

@media (min-width: {{breakpointDesktop}}) {
    .boost-pfs-minicart-container.boost-pfs-minicart-container-popup {
        margin-top: 0px;
        width: 975px;
        height: 646px;
        max-width: 90%;
        max-height: 80%;
        top: 50vh;
        left: 50%;
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%)
    }

    .boost-pfs-minicart-container.boost-pfs-minicart-container-popup .boost-pfs-minicart-container-inner {
        height: auto;
        overflow: hidden
    }

    .boost-pfs-minicart-container.boost-pfs-minicart-container-popup .boost-pfs-minicart-heading {
        padding: 20px;
        margin-bottom: 0px
    }

    .boost-pfs-minicart-container.boost-pfs-minicart-container-popup .boost-pfs-minicart-heading .boost-pfs-minicart-title {
        float: none;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px
    }

    .boost-pfs-minicart-container.boost-pfs-minicart-container-popup .boost-pfs-minicart-heading .boost-pfs-minicart-close {
        background-color: #fff;
        position: relative;
        font-size: 0;
        width: 30px;
        height: 30px;
        position: absolute;
        right: 15px;
        top: 20px
    }

    .boost-pfs-minicart-container.boost-pfs-minicart-container-popup .boost-pfs-minicart-heading .boost-pfs-minicart-close:before, .boost-pfs-minicart-container.boost-pfs-minicart-container-popup .boost-pfs-minicart-heading .boost-pfs-minicart-close:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: calc(55% - 7px);
        width: 2px;
        height: 15px;
        background: #222
    }

    .boost-pfs-minicart-container.boost-pfs-minicart-container-popup .boost-pfs-minicart-heading .boost-pfs-minicart-close:before {
        -ms-transform: translateX(-2px) translateY(5px) rotate(45deg);
        -webkit-transform: translateX(-2px) translateY(5px) rotate(45deg);
        transform: translateX(-2px) translateY(5px) rotate(45deg)
    }

    .boost-pfs-minicart-container.boost-pfs-minicart-container-popup .boost-pfs-minicart-heading .boost-pfs-minicart-close:after {
        -ms-transform: translateX(9px) translateY(5px) rotate(-45deg);
        -webkit-transform: translateX(9px) translateY(5px) rotate(-45deg);
        transform: translateX(9px) translateY(5px) rotate(-45deg)
    }

    .boost-pfs-minicart-container.boost-pfs-minicart-container-popup .boost-pfs-minicart-content .boost-pfs-minicart-top {
        width: 100%;
        height: auto;
        max-height: calc(100% - 185px);
        overflow-y: auto
    }

    .boost-pfs-minicart-container.boost-pfs-minicart-container-popup .boost-pfs-minicart-item {
        display: table;
        width: 100%;
        height: 100%
    }

    .boost-pfs-minicart-container.boost-pfs-minicart-container-popup .boost-pfs-minicart-item .boost-pfs-minicart-item-image {
        display: table-cell;
        vertical-align: middle;
        height: 100%;
        float: none;
        width: 92px
    }

    .boost-pfs-minicart-container.boost-pfs-minicart-container-popup .boost-pfs-minicart-item .boost-pfs-minicart-item-details {
        display: table-cell;
        vertical-align: middle;
        height: 100%;
        padding-left: 30px;
        float: none
    }

    .boost-pfs-minicart-container.boost-pfs-minicart-container-popup .boost-pfs-minicart-item .boost-pfs-minicart-item-details .boost-pfs-minicart-item-details-inner {
        display: table;
        width: 100%;
        height: 100%
    }

    .boost-pfs-minicart-container.boost-pfs-minicart-container-popup .boost-pfs-minicart-item .boost-pfs-minicart-item-details .boost-pfs-minicart-item-details-inner .boost-pfs-minicart-item-group-title {
        width: 33%;
        display: table-cell;
        vertical-align: middle;
        height: 100%;
        padding-right: 10px;
        float: none
    }

    .boost-pfs-minicart-container.boost-pfs-minicart-container-popup .boost-pfs-minicart-item .boost-pfs-minicart-item-details .boost-pfs-minicart-item-details-inner .boost-pfs-minicart-item-group-price {
        display: table-cell;
        vertical-align: middle;
        height: 100%;
        padding-left: 10px;
        float: none;
        width: 70%;
        text-align: right
    }

    .boost-pfs-minicart-container.boost-pfs-minicart-container-popup .boost-pfs-minicart-item .boost-pfs-minicart-item-options {
        margin-bottom: 18px
    }

    .boost-pfs-minicart-container.boost-pfs-minicart-container-popup .boost-pfs-minicart-item .boost-pfs-minicart-item-quantity-wrapper {
        width: 200px;
        height: 36px
    }

    .boost-pfs-minicart-container.boost-pfs-minicart-container-popup .boost-pfs-minicart-item .boost-pfs-minicart-item-quantity-wrapper .boost-pfs-minicart-item-quantity-minus {
        width: 36px
    }

    .boost-pfs-minicart-container.boost-pfs-minicart-container-popup .boost-pfs-minicart-item .boost-pfs-minicart-item-quantity-wrapper .boost-pfs-minicart-item-quantity-plus {
        width: 36px
    }

    .boost-pfs-minicart-container.boost-pfs-minicart-container-popup .boost-pfs-minicart-item .boost-pfs-minicart-item-quantity-wrapper .boost-pfs-minicart-item-quantity {
        line-height: 36px;
        padding-right: 36px;
        padding-left: 36px
    }

    .boost-pfs-minicart-container.boost-pfs-minicart-container-popup .boost-pfs-minicart-item .boost-pfs-minicart-item-group-price .boost-pfs-minicart-item-price {
        float: left;
        text-align: left;
        display: inline-block;
        color: #3D4246;
        line-height: 36px;
        text-align: right;
        min-width: 26%
    }

    .boost-pfs-minicart-container.boost-pfs-minicart-container-popup .boost-pfs-minicart-item .boost-pfs-minicart-item-group-price .boost-pfs-minicart-item-collateral {
        display: inline-block;
        max-width: 50%
    }

    .boost-pfs-minicart-container.boost-pfs-minicart-container-popup .boost-pfs-minicart-item .boost-pfs-minicart-item-group-price .boost-pfs-minicart-item-collateral .boost-pfs-minicart-item-line {
        display: none
    }

    .boost-pfs-minicart-container.boost-pfs-minicart-container-popup .boost-pfs-minicart-item .boost-pfs-minicart-item-group-price .boost-pfs-minicart-item-collateral .boost-pfs-minicart-item-price {
        display: none
    }

    .boost-pfs-minicart-container.boost-pfs-minicart-container-popup .boost-pfs-minicart-item .boost-pfs-minicart-item-remove {
        position: static
    }

    .boost-pfs-minicart-container.boost-pfs-minicart-container-popup .boost-pfs-minicart-item .boost-pfs-minicart-item-remove .boost-pfs-minicart-item-remove-icon {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17 4H14V2C14 0.897 13.103 0 12 0H8C6.897 0 6 0.897 6 2V4H3C2.447 4 2 4.448 2 5C2 5.552 2.447 6 3 6V19C3 19.552 3.447 20 4 20H16C16.553 20 17 19.552 17 19V6C17.553 6 18 5.552 18 5C18 4.448 17.553 4 17 4ZM5 18H15V6H5V18ZM8 4H12V2H8V4ZM8 16C8.553 16 9 15.552 9 15V9C9 8.448 8.553 8 8 8C7.447 8 7 8.448 7 9V15C7 15.552 7.447 16 8 16ZM12 16C12.553 16 13 15.552 13 15V9C13 8.448 12.553 8 12 8C11.447 8 11 8.448 11 9V15C11 15.552 11.447 16 12 16Z' fill='%23222222'/%3E%3Cmask id='mask0' mask-type='alpha' maskUnits='userSpaceOnUse' x='2' y='0' width='16' height='20'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17 4H14V2C14 0.897 13.103 0 12 0H8C6.897 0 6 0.897 6 2V4H3C2.447 4 2 4.448 2 5C2 5.552 2.447 6 3 6V19C3 19.552 3.447 20 4 20H16C16.553 20 17 19.552 17 19V6C17.553 6 18 5.552 18 5C18 4.448 17.553 4 17 4ZM5 18H15V6H5V18ZM8 4H12V2H8V4ZM8 16C8.553 16 9 15.552 9 15V9C9 8.448 8.553 8 8 8C7.447 8 7 8.448 7 9V15C7 15.552 7.447 16 8 16ZM12 16C12.553 16 13 15.552 13 15V9C13 8.448 12.553 8 12 8C11.447 8 11 8.448 11 9V15C11 15.552 11.447 16 12 16Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0)'%3E%3C/g%3E%3C/svg%3E%0A");
        width: 20px;
        height: 20px;
        display: block
    }

    .boost-pfs-minicart-container.boost-pfs-minicart-container-popup .boost-pfs-minicart-item .boost-pfs-minicart-item-remove .boost-pfs-minicart-item-remove-text {
        position: absolute;
        height: 0;
        width: 0;
        margin-bottom: 0;
        overflow: hidden;
        clip: rect(1px, 1px, 1px, 1px)
    }

    .ie9 .boost-pfs-minicart-container.boost-pfs-minicart-container-popup .boost-pfs-minicart-item .boost-pfs-minicart-item-remove .boost-pfs-minicart-item-remove-text, .lt-ie9 .boost-pfs-minicart-container.boost-pfs-minicart-container-popup .boost-pfs-minicart-item .boost-pfs-minicart-item-remove .boost-pfs-minicart-item-remove-text {
        position: static;
        height: auto;
        width: auto;
        margin-bottom: 2px;
        overflow: visible;
        clip: initial
    }

    .boost-pfs-minicart-container.boost-pfs-minicart-container-popup .boost-pfs-minicart-item .boost-pfs-minicart-item-sub-total-price {
        float: right;
        text-align: right;
        display: inline-block;
        color: #222222;
        font-weight: 500;
        line-height: 36px;
        min-width: 20%
    }

    .boost-pfs-minicart-container.boost-pfs-minicart-container-popup .boost-pfs-minicart-clear-all {
        display: none !important
    }

    .boost-pfs-minicart-container.boost-pfs-minicart-container-popup .boost-pfs-subtotal {
        float: right;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px
    }

    .boost-pfs-minicart-container.boost-pfs-minicart-container-popup .boost-pfs-subtotal-label {
        font-weight: 500
    }

    .boost-pfs-minicart-container.boost-pfs-minicart-container-popup .boost-pfs-subtotal-label:after {
        content: ":"
    }

    .boost-pfs-minicart-container.boost-pfs-minicart-container-popup .boost-pfs-subtotal-price {
        font-weight: 700;
        margin-left: 12px
    }

    .boost-pfs-minicart-container.boost-pfs-minicart-container-popup .boost-pfs-checkout-action {
        clear: both
    }

    .boost-pfs-minicart-container.boost-pfs-minicart-container-popup .boost-pfs-checkout {
        display: inline-block;
        float: right;
        min-width: 26%;
        margin-left: 20px
    }

    .boost-pfs-minicart-container.boost-pfs-minicart-container-popup .boost-pfs-viewcart {
        display: inline-block;
        float: right;
        min-width: 26%
    }
}

.boost-pfs-action-list-enabled .boost-pfs-select-option-wrapper {
    position: absolute;
    background: #fff;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 15px 0;
    z-index: 999999;
    text-align: left
}

.boost-pfs-action-list-enabled .boost-pfs-select-option-wrapper .boost-pfs-select-option-close {
    position: relative;
    font-size: 0;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer
}

@media (min-width: {{breakpointDesktop}}) {
    .boost-pfs-action-list-enabled .boost-pfs-select-option-wrapper .boost-pfs-select-option-close:before, .boost-pfs-action-list-enabled .boost-pfs-select-option-wrapper .boost-pfs-select-option-close:after {
        content: '';
        position: absolute;
        top: -1px;
        bottom: 0;
        left: calc(50% - 4px);
        display: block;
        width: 2px;
        height: 10px;
        transform-origin: bottom center;
        background: #000;
        -moz-transition: all ease-out 280ms;
        -ms-transition: all ease-out 280ms;
        -o-transition: all ease-out 280ms;
        -webkit-transition: all ease-out 280ms;
        transition: all ease-out 280ms;
        border: none;
        padding: 0
    }

    .boost-pfs-action-list-enabled .boost-pfs-select-option-wrapper .boost-pfs-select-option-close:before {
        -ms-transform: translateX(-1px) translateY(5px) rotate(45deg);
        -webkit-transform: translateX(-1px) translateY(5px) rotate(45deg);
        transform: translateX(-1px) translateY(5px) rotate(45deg)
    }

    .boost-pfs-action-list-enabled .boost-pfs-select-option-wrapper .boost-pfs-select-option-close:after {
        -ms-transform: translateX(6px) translateY(5px) rotate(-45deg);
        -webkit-transform: translateX(6px) translateY(5px) rotate(-45deg);
        transform: translateX(6px) translateY(5px) rotate(-45deg)
    }
}

.boost-pfs-action-list-enabled .boost-pfs-select-option-wrapper .boost-pfs-quickview-cart-form {
    margin-top: 0;
    padding-top: 0px;
    margin-bottom: 0
}

.boost-pfs-action-list-enabled .boost-pfs-select-option-wrapper .boost-pfs-quickview-cart-btn {
    width: 100%;
    margin-bottom: 0px;
    background: #222;
    color: #fff;
    border: 1px solid rgba(34, 34, 34, 0.9);
    font-size: 12px;
    height: 40px;
    line-height: 38px;
    position: relative
}

.boost-pfs-action-list-enabled .boost-pfs-select-option-wrapper .boost-pfs-quickview-cart-btn:hover {
    background: #606060;
    border-color: #606060;
    color: #fff
}

.boost-pfs-action-list-enabled .boost-pfs-select-option-wrapper .boost-pfs-quickview-cart-btn:disabled {
    background: #606060;
    border-color: #606060;
    color: #fff
}

.boost-pfs-action-list-enabled .boost-pfs-select-option-wrapper .boost-pfs-quickview-cart-btn:focus {
    outline: none
}

.boost-pfs-action-list-enabled .boost-pfs-select-option-wrapper .boost-pfs-quickview-cart-btn:focus:after {
    content: "";
    position: absolute;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    top: -1px;
    left: -1px;
    border: solid 2px #222
}

.boost-pfs-action-list-enabled .boost-pfs-select-option-wrapper .boost-pfs-quickview-selector-wrapper {
    margin-bottom: 10px;
    margin-right: 0;
    padding-left: 12px;
    padding-right: 12px
}

.boost-pfs-action-list-enabled .boost-pfs-select-option-wrapper .boost-pfs-quickview-selector-wrapper .boost-pfs-quickview-tooltip {
    display: none !important
}

.boost-pfs-action-list-enabled .boost-pfs-select-option-wrapper .boost-pfs-quickview-selector-wrapper .boost-pfs-swatch-element label {
    min-width: 28px;
    height: 28px;
    line-height: 26px
}

.boost-pfs-action-list-enabled .boost-pfs-select-option-wrapper .boost-pfs-quickview-selector-wrapper .boost-pfs-swatch-element:not(.boost-pfs-quickview-option-color) label {
    moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px
}

.boost-pfs-select-option-show .boost-pfs-action-list-wrapper {
    display: none
}

.boost-pfs-addtocart-error-label, #boost-pfs-addtocart-error-label {
    color: #FF3300
}

#boost-pfs-addtocart-error-label {
    padding-top: 20px
}

@media (max-width: {{breakpointMobile}}) {
    .boost-pfs-select-option-show-body {
        overflow: hidden;
        -webkit-overflow: hidden
    }

    .boost-pfs-select-option-show-body .boost-pfs-action-list-enabled .boost-pfs-select-option-wrapper .boost-pfs-select-option-close {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(33, 43, 54, 0.4);
        z-index: 99999
    }

    .boost-pfs-select-option-show-body .boost-pfs-action-list-enabled .boost-pfs-select-option-wrapper .boost-pfs-quickview-cart-form {
        position: fixed;
        width: 100%;
        height: auto;
        bottom: 0;
        left: 0;
        background: #fff;
        z-index: 99999999;
        margin-bottom: 0;
        padding-top: 10px
    }

    .boost-pfs-select-option-show-body .boost-pfs-action-list-enabled .boost-pfs-select-option-wrapper .boost-pfs-quickview-cart-btn {
        height: 48px;
        line-height: 48px;
        margin-bottom: 0
    }
}

.boost-pfs-most-popular, .boost-pfs-recently-viewed {
    float: none;
    clear: both;
    display: inline-block;
    max-width: 100%;
    width: 100%
}

.boost-pfs-most-popular .boost-pfs-product-slider, .boost-pfs-recently-viewed .boost-pfs-product-slider {
    float: none;
    clear: both;
    padding-top: 50px;
    display: inline-block;
    width: 100%;
    max-width: 100%;
    position: relative
}

.boost-pfs-most-popular .boost-pfs-product-slider .boost-pfs-product-slider-title, .boost-pfs-recently-viewed .boost-pfs-product-slider .boost-pfs-product-slider-title {
    text-align: center;
    position: relative;
    margin-bottom: 55px
}

.boost-pfs-most-popular .boost-pfs-product-slider .boost-pfs-product-slider-title:before, .boost-pfs-recently-viewed .boost-pfs-product-slider .boost-pfs-product-slider-title:before {
    content: "";
    background: rgba(34, 34, 34, 0.2);
    height: 1px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%
}

.boost-pfs-most-popular .boost-pfs-product-slider .boost-pfs-product-slider-title h2, .boost-pfs-recently-viewed .boost-pfs-product-slider .boost-pfs-product-slider-title h2 {
    margin-bottom: 0;
    display: inline-block;
    background: #fff;
    position: relative;
    padding-left: 20px;
    padding-right: 20px
}

.boost-pfs-most-popular .boost-pfs-product-slider .boost-pfs-product-slider-inner, .boost-pfs-recently-viewed .boost-pfs-product-slider .boost-pfs-product-slider-inner {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative
}

.boost-pfs-most-popular .boost-pfs-product-slider .boost-pfs-product-slider-inner .boost-pfs-product-slider-item-wrapper, .boost-pfs-recently-viewed .boost-pfs-product-slider .boost-pfs-product-slider-inner .boost-pfs-product-slider-item-wrapper {
    overflow: hidden;
    width: 10000px;
    position: relative;
    top: 0
}

.boost-pfs-most-popular .boost-pfs-product-slider .boost-pfs-product-slider-inner .boost-pfs-product-slider-item-wrapper.boost-pfs-product-slider-shifting, .boost-pfs-recently-viewed .boost-pfs-product-slider .boost-pfs-product-slider-inner .boost-pfs-product-slider-item-wrapper.boost-pfs-product-slider-shifting {
    transition: left .2s ease-in-out
}

.boost-pfs-most-popular .boost-pfs-product-slider .boost-pfs-product-slider-inner .boost-pfs-product-slider-item-wrapper .boost-pfs-product-slider-item, .boost-pfs-recently-viewed .boost-pfs-product-slider .boost-pfs-product-slider-inner .boost-pfs-product-slider-item-wrapper .boost-pfs-product-slider-item {
    cursor: pointer;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 1s;
    position: relative;
    color: white
}

.boost-pfs-most-popular .boost-pfs-product-slider .boost-pfs-product-slider-nav > div, .boost-pfs-recently-viewed .boost-pfs-product-slider .boost-pfs-product-slider-nav > div {
    cursor: pointer;
    width: 38px;
    height: 38px;
    border: 1px solid #222222;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    position: relative;
    box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.1);
    -o-box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.1);
    -ms-box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.1);
    min-height: 0;
    z-index: 10
}

.boost-pfs-most-popular .boost-pfs-product-slider .boost-pfs-product-slider-nav > div:focus, .boost-pfs-recently-viewed .boost-pfs-product-slider .boost-pfs-product-slider-nav > div:focus {
    outline: none
}

.boost-pfs-most-popular .boost-pfs-product-slider .boost-pfs-product-slider-nav > div:before, .boost-pfs-most-popular .boost-pfs-product-slider .boost-pfs-product-slider-nav > div:after, .boost-pfs-recently-viewed .boost-pfs-product-slider .boost-pfs-product-slider-nav > div:before, .boost-pfs-recently-viewed .boost-pfs-product-slider .boost-pfs-product-slider-nav > div:after {
    top: 50%;
    margin-top: -5px;
    margin-left: -7px;
    left: 50%;
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    border-right: 2px solid #222;
    border-bottom: 2px solid #222;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out
}

.boost-pfs-most-popular .boost-pfs-product-slider .boost-pfs-product-slider-nav > div:after, .boost-pfs-recently-viewed .boost-pfs-product-slider .boost-pfs-product-slider-nav > div:after {
    border-right-color: rgba(255, 255, 255, 0.1);
    border-bottom-color: rgba(255, 255, 255, 0.1)
}

.boost-pfs-most-popular .boost-pfs-product-slider .boost-pfs-product-slider-nav > div.disabled, .boost-pfs-recently-viewed .boost-pfs-product-slider .boost-pfs-product-slider-nav > div.disabled {
    border-color: #ccc;
    cursor: default
}

.boost-pfs-most-popular .boost-pfs-product-slider .boost-pfs-product-slider-nav > div.disabled:before, .boost-pfs-most-popular .boost-pfs-product-slider .boost-pfs-product-slider-nav > div.disabled:after, .boost-pfs-recently-viewed .boost-pfs-product-slider .boost-pfs-product-slider-nav > div.disabled:before, .boost-pfs-recently-viewed .boost-pfs-product-slider .boost-pfs-product-slider-nav > div.disabled:after {
    border-color: #ccc
}

.boost-pfs-most-popular .boost-pfs-product-slider .boost-pfs-product-slider-nav .boost-pfs-product-slider-prev, .boost-pfs-recently-viewed .boost-pfs-product-slider .boost-pfs-product-slider-nav .boost-pfs-product-slider-prev {
    position: absolute;
    left: 16px;
    top: 50%
}

.boost-pfs-most-popular .boost-pfs-product-slider .boost-pfs-product-slider-nav .boost-pfs-product-slider-prev:before, .boost-pfs-most-popular .boost-pfs-product-slider .boost-pfs-product-slider-nav .boost-pfs-product-slider-prev:after, .boost-pfs-recently-viewed .boost-pfs-product-slider .boost-pfs-product-slider-nav .boost-pfs-product-slider-prev:before, .boost-pfs-recently-viewed .boost-pfs-product-slider .boost-pfs-product-slider-nav .boost-pfs-product-slider-prev:after {
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    margin-left: -5px
}

.boost-pfs-most-popular .boost-pfs-product-slider .boost-pfs-product-slider-nav .boost-pfs-product-slider-next, .boost-pfs-recently-viewed .boost-pfs-product-slider .boost-pfs-product-slider-nav .boost-pfs-product-slider-next {
    position: absolute;
    right: 16px;
    top: 50%
}

.boost-pfs-most-popular .boost-pfs-product-slider .boost-pfs-product-slider-nav .boost-pfs-product-slider-next:before, .boost-pfs-most-popular .boost-pfs-product-slider .boost-pfs-product-slider-nav .boost-pfs-product-slider-next:after, .boost-pfs-recently-viewed .boost-pfs-product-slider .boost-pfs-product-slider-nav .boost-pfs-product-slider-next:before, .boost-pfs-recently-viewed .boost-pfs-product-slider .boost-pfs-product-slider-nav .boost-pfs-product-slider-next:after {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}
