#buyback-nav li {
    float: right;
}

@media screen and (max-width: 980px) {
    #buyback-nav {
        display: none;
    }
}

@media screen and (max-width: 1050px) {
    #main-nav li .header__nav__link {
        padding: 0 9px;
    }
}

#main-nav .header__linklist-images-wrapper {
    -webkit-box-shadow: 0px 13px 16px -3px rgba(0,0,0,0.37); 
    box-shadow: 0px 13px 16px -3px rgba(0,0,0,0.37);
}

#main-nav li:first-child .header__nav__link,
#buyback-nav li .header__nav__link {
    height: 32px;
    line-height: 30px;
    border: 2px solid var(--black);
    border-radius: 30px;
    padding: 0 25px;
}

#main-nav li:first-child .header__nav__link {
    padding: 0 30px 0 25px;
}

#main-nav li:first-child .header__nav__link:before {
    top: -12px;
    right: 20px;
}

#searchbox {
    padding: 0;
}

#searchbox .header__search-box-slidedown-input {
    margin: 0;
}

#top-bar .header__topbar-link {
    padding-left: calc(1% + 18px);
}

#top-bar #cart {
    padding-right: calc(1% + 34px);
}

.header__linklist-images-wrapper, .image-ratio-square {
    width: 100% !important;
    margin-left: 0 !important;
    justify-content: normal !important;
    padding-left: calc(1% + 25px) !important;
}

.header__main-nav, .header__nav__list {
    white-space: nowrap;
}

.customer-login input {
    font-size: var(--eager-btn-fontsize) !important;
    background: var(--white)!important;
    padding: var(--eager-btn-secondary-padding) !important;
    border: 2px solid var(--black) !important;
    color: var(--black)!important;
    border-radius: var(--eager-btn-border-radius) !important;
    {% comment %}transition: ease-out .3s !important;{% endcomment %}
    transition: ease .3s, color .5s ease !important;
    box-shadow: inset 0 0 0 var(--eager-red) !important;
}

.customer-login input :hover {
    background: var(--black)!important;
    box-shadow: inset 250px 0 0 0 var(--black) !important;
    color: var(--white)!important;
}

input[type=text].header__search-box-slidedown-input {
    border: 1px solid var(--eager-gray);
    padding-left: 36px;
}