<h1 class="visually-hidden">Welcome to {{ shop.name }} {{ page_title }}</h1>
<div class="index-sections">
  {{ content_for_index }}
</div>

<div class="load-wait">
  <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
</div>

<div class="yotpo yotpo-reviews-carousel"
     data-background-color="transparent"
     data-mode="most_recent"
     data-type="both"
     data-count="3"
     data-show-bottomline="1"
     data-autoplay-enabled="1"
     data-autoplay-speed="3000"
     data-show-navigation="1">&nbsp;</div>