{% layout none %}

<div class="row product-quick-view product-{{ product.id }}"
  data-product-id="{{ product.id }}"
  data-section-id="quickview">
  {% assign current_variant = product.selected_or_first_available_variant %}

  <div class="product-page product-template clearfix" id="product-{{ product.id }}"
    data-product-id="{{ product.id }}">

    {% render 'product-json', product: product %}

    {% assign gallery_full = false %}
    {% assign gallery_style = 'data-gallery-thumbnails' %}

    {% assign thumbnail_position = settings.thumbnail_position %}
    {% assign click_to_enlarge = settings.click_to_enlarge %}
    {% assign enable_video_looping = settings.enable_video_looping %}
    {% capture product_gallery_config %}{
      "thumbPosition": {{ settings.thumbnail_position | json }},
      "enableVideoLooping": {{ settings.enable_video_looping | json }},
      "mainSlider": {% if product.media.size <= 1 %}false{% else %}true{% endif %},
      "thumbSlider": {% if product.media.size >= 4 %}true{% else %}false{% endif %},
      "productId": {{ product.id | json }},
      "isQuick": true
   }{% endcapture %}

    {% capture 'layout_images' %}
    <div id="product-photos" {{ gallery_style }}
      class="product-photos carousel-container"
      data-product-single-media-group data-gallery-config='{{ product_gallery_config }}'>

        {% if product.featured_media %}
          {% render 'product-image-gallery',
            product: product,
            gallery_style: gallery_style,
            thumbnail_position: thumbnail_position,
            click_to_enlarge: click_to_enlarge,
            enable_video_looping: enable_video_looping
            %}
        {% else %}
          {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
          {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
      </div>
    {% endcapture %}

    {% capture 'layout_form' %}

     {% capture product_form_config %}
      { "money_format": {{ shop.money_format | json }},
        "enable_history": true,
        "sold_out": {{ "products.product.sold_out" | t | json }},
        "button": {{ 'products.product.add_to_cart' | t | json }},
        "unavailable": {{ 'products.product.unavailable' | t | json }},
        "quickview": true
      }
      {% endcapture %}

      {% assign call_to_action = 'products.product.add_to_cart' | t %}

      {% unless current_variant.available %}
        {% assign call_to_action = 'products.product.sold_out' | t %}
      {% endunless %}

      {% form 'product', product, id: "AddToCartForm", class: "product_form", data-product-form:product_form_config %}
          <h3>
            {{ product.title }}
          </h3>

          <h5>
            {% render 'product-price', variant: current_variant, product: product %}
          </h5>

          <div class="variants clearfix">
            {% if product.options.size > 1 %}
              <div class="select" {% if product.variants.size == 1 %}style="display: none;"{% endif %}>
                <select id="qv-product-select-{{ product.id }}" name='id' style="display: none;">
                  {% for variant in product.variants %}
                    <option value="{{ variant.id }}" {% if variant == current_variant %}selected="selected"{% endif %}>
                      {{ variant.title }} - {{ variant.price | money }}
                    </option>
                  {% endfor %}
                </select>
              </div>
              {% if settings.product_variants == 'swatches' %}
                {% for option in product.options_with_values %}
                  {% render "swatch", option: option, current_variant: current_variant %}
                {% endfor %}
              {% endif %}
            {% elsif product.options.size == 1 and product.variants.size > 1 %}
              <div class="select">
                <label>{{ product.options[0] }}</label>
                <select id="qv-product-select-{{ product.id }}" name='id' style="display: none;">
                  {% for variant in product.variants %}
                    <option data-sku="{{ variant.sku }}" value="{{ variant.id }}" {% if variant == current_variant %}selected="selected"{% endif %}>
                      {{ variant.title }} - {{ variant.price | money }}
                    </option>
                  {% endfor %}
                </select>
              </div>
              {% if settings.product_variants == 'swatches' %}
                {% for option in product.options_with_values %}
                  {% render "swatch", option: option, current_variant: current_variant %}
                {% endfor %}
              {% endif %}
            {% elsif product.variants.size == 1 %}
              <select id="qv-product-select-{{ product.id }}" name="id" {% if product.variants.size == 1 %}style="display: none;"{% endif %}>
                {% for variant in product.variants %}
                  <option value="{{ variant.id }}" {% if variant == current_variant %}selected="selected"{% endif %}>
                    {{ variant.title }} - {{ variant.price | money }}
                  </option>
                {% endfor %}
              </select>
            {% else %}
              <div class="what-is-it">
                {% if product.options.first != 'Title' %}
                  <label>{{ product.options.first }}:</label>
                  {% for variant in product.variants %}
                    <span class="it-is">{{ variant.option1 | escape }}</span>
                  {% endfor %}
                {% endif %}
              </div>
              <div class="product-variants"></div><!-- product variants -->
              <input  type="hidden" id="{{ variant.id }}" name="id" data-sku="{{ variant.sku }}" value="{{ product.variants[0].id }}" />
            {% endif %}
          </div>

          {% if settings.quickview_qty %}
            <p class="option-label">{{ 'products.product.quantity' | t }}</p>
            <div class="quantity-selector mb20">
              <a class="quantity-control-down">-</a>
              <input type="text" name="quantity" class="product-qty quantity" {% if current_variant.inventory_management == 'shopify' %}{% unless current_variant.inventory_policy == 'continue' %}data-limit="{{ current_variant.inventory_quantity }}"{% endunless %}{% endif %} value="1" style="max-width: 50px; text-align: center; margin: 0 auto 10px; "/>
              <a class="quantity-control-up">+</a>
            </div>
          {% endif %}
          <div class="product-add clearfix">
            <input id="addToCart" type="submit" name="button" class="add clearfix mb10 AddtoCart {% if settings.show_payment_button %} secondary-button{% endif %}" value="{{ call_to_action }}" {% unless current_variant.available %}disabled{% endunless %} />
            {% if settings.show_payment_button %}
              {{ form | payment_button }}
            {% endif %}
          </div>
      {% endform %}

    {% endcapture %}

    {% capture 'layout_accordion' %}
      <div class="accordion">
          <div id="soc">
            {% render 'social' with product %}
          </div>
      </div>
    {% endcapture %}

    {% if gallery_full %}
      {{ layout_images }}
      <div class="product-bottom">
        <div class="accordion desktop-4 desktop-push-2 tablet-3 mobile-3">
          {{ layout_accordion }}
        </div>
        <div class="form desktop-6 tablet-push-1 tablet-2 mobile-3">
          {{ layout_form }}
        </div>
      </div>
    {% else %}
      <div class="desktop-6 tablet-3 mobile-3">
        {{ layout_images }}
      </div>
      <div class="product-bottom desktop-6 tablet-3 mobile-3">
        {{ layout_form }}
        {{ layout_accordion }}
      </div>
    {% endif %}

    <style media="screen">
      div#thumbnail-gallery li img {
        cursor: pointer;
      }

      {% if settings.thumbnail_position == 'bottom' %}
        #product-{{ product.id }} .thumb-slider-slides {
          transition: left 0.5s ease-in-out;
        }
      {% else %}
        #product-{{ product.id }} .thumb-slider-slides {
          transition: top 0.5s ease-in-out;
        }
      {% endif %}

      {% if thumbnail_position == 'left' %}
        .product-main-images {
          float: right !important;
        }
      {% endif %}
    </style>
  </div>
</div>
<script type="application/json" id="ModelJson-quickview">
  {{ product.media | where: 'media_type', 'model' | json }}
</script>
<script>
{% if settings.show_payment_button %}
  Shopify.PaymentButton.init()
{% endif %}
</script>
